
<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">
       
    <div class="header_section">

      <div class="row">
        <div class="col-md-4">
          <h1>Geo Fence</h1>
        </div>
        <div class="col-md-3">

          <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

        </div>
        <div class="col-md-5">
          <div class="button-group pull-right">
            <button type="button" (click)="openPopus()" class="btn-Create btn btn-success" *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
            </mat-icon></span> Create</button>
            <span *ngIf="!hasAddPermission"></span>

            <button type="button" class="btn-Edit btn-info btn" (click)="EditShowButtons()" *ngIf="hasEditPermission">
              <span class="header-btn-icon">
                <mat-icon>draw
                </mat-icon></span> Edit</button>
            <span *ngIf="hasEditPermission"></span>

            <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()"
              *ngIf="hasDeletePermission">
              <span class="header-btn-icon">
                <mat-icon> delete
                </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

            <span *ngIf="!hasDeletePermission"></span>
          </div>
        </div>
      </div>



    </div>

    <div class="row">
      <div class="col-md-2">

        <button class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete"
          (click)="toggleSelectAllEmployees()">Select All</button>

      </div>
      <div class="col-md-3">
        <button class=" mt-3 btn-danger btn" color="warn" *ngIf="Delete" (click)="deleteSelectedGeoFence()">Delete
          Selected </button>

      </div>
    </div>


      

        <div *ngIf="iscreateovertimepolicy" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2> Create Geo Fence</h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
   

                <div class="container-fluid py-3">
                  <form>
                    <div class="row">
                      <div class="col-md-12 mb-3">
                        <label class="fw-bold mb-1">Search Location</label>
                        <div class="google-search-container">
                          <i class="fa fa-search search-icon"></i>
                          <input type="text" 
                                 class="google-search-input" 
                                 #searchInput 
                                 placeholder="Search Google Maps" 
                                 (input)="onSearchInput(searchInput.value)"
                                 (keyup.enter)="searchLocation(searchInput.value)">
                          
                          <i class="fa fa-times clear-icon" 
                             *ngIf="searchInput.value" 
                             (click)="searchInput.value = ''; searchResults = []"></i>
                        </div>
                      
                        <ul class="list-group mt-1 shadow-lg search-results-dropdown" *ngIf="searchResults.length > 0">
                          <li class="list-group-item list-group-item-action border-0 py-2" 
                              *ngFor="let res of searchResults" 
                              (click)="selectResult(res); searchInput.value = res.display_name">
                            <div class="d-flex align-items-center">
                              <i class="fa fa-map-marker-alt text-muted me-3"></i>
                              <div class="text-truncate">
                                <div class="fw-500">{{ res.display_name.split(',')[0] }}</div>
                                <small class="text-muted">{{ res.display_name }}</small>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-12 mb-3" style="position: relative;">
                        <div id="map" style="height: 400px; width: 100%; border: 2px solid #ddd; border-radius: 8px;"></div>
                        
                        <button class="btn btn-light shadow-sm locate-btn" 
                                type="button" 
                                (click)="getCurrentLocation()" 
                                title="Show My Location">
                          <i class="fa fa-crosshairs text-primary"></i>
                        </button>
                      </div>
                
                     
                
                      <div class="col-md-6 mb-3">
                        <label>Location Name</label>
                        <input type="text" class="form-control" [(ngModel)]="location_name" name="locName">
                      </div>
                
                      <div class="col-md-3 mb-3">
                        <label>Latitude</label>
                        <input type="number" class="form-control" [(ngModel)]="latitude" name="lat" readonly>
                      </div>
                
                      <div class="col-md-3 mb-3">
                        <label>Longitude</label>
                        <input type="number" class="form-control" [(ngModel)]="longitude" name="lng" readonly>
                      </div>
                
                      <div class="col-md-6 mb-3">
                        <label>Radius (meters)</label>
                        <input type="number" class="form-control" [(ngModel)]="radius" name="rad" (input)="updateCircle()">
                      </div>

                      
      <div class="col-md-6" >
        <label>Branch</label>
        <div class="custom-sel">
          <div class="form-control-wrapper">
          

            <mat-form-field>

              <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #selectBrach multiple>

                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let branchs of Branches" [value]="branchs.id">{{ branchs.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
         
        </div>

      </div>

      <div class="col-md-6">
        <label>Employee</label>
    
    
    
    
        <div class="custom-sel">
            <div class="form-control-wrapper">
          
    
              <mat-form-field>
                <!-- <mat-label>Favorite food</mat-label> -->
                <mat-select placeholder="Select" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}" #selectEmp multiple>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelectedEmp" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionEmp()">
                      Select All
                    </mat-checkbox>
                  </div>
                  <input type="text" placeholder="serach" class="form-control">
    
                  <mat-option *ngFor="let deparmentsec of   Employees" [value]="deparmentsec.id">
                    {{ deparmentsec.emp_code }} 
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
            </div>
           
          </div>
                    
    
    </div>
                
                      <div class="col-md-6">
                                  
                       </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        
                      </div>
                      <div class="col-md-6">
                        <button type="button" 
                        class="btn btn-success mt-4 w-100" 
                        [disabled]="isLoading"
                        (click)="CreateGeofence()">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                  {{ isLoading ? 'Saving...' : 'Save Geofence' }}
                </button>  
                      </div>
                    </div>
                  </form>
                </div>
            
            </div>
          </div>


              <!-- Edit Modal -->
    <div *ngIf="isEditModalOpen" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-10">
            <h2>Edit Geo Fence</h2>
          </div>
          <div class="col-md-2">
            <span class="close pull-right" (click)="closeEditModal()">&times;</span>
          </div>
        </div>
        <hr />

  <form *ngIf="hasAddPermission">
                  <div class="row">
                    
                  <div class="col-md-6" >
                   
                    <label>Location name</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="editAsset.location_name"  placeholder="Enter Name"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !location_name}">
                   
                   <!-- <div *ngIf="registerButtonClicked && !name" class="error-message">Name is required.</div> -->
              </div>


          <div class="col-md-6" >
                   
            <label>Latitude</label>
           <input type="number"  class="form-control" [(ngModel)]="editAsset.latitude"  placeholder="Enter Latitude"
            [ngModelOptions]="{standalone: true}" >
           
      </div>

        


          <div class="col-md-6" >
                   
            <label>Longitude</label>
           <input type="number"  class="form-control" [(ngModel)]="editAsset.longitude"  placeholder="Enter Longitude"
            [ngModelOptions]="{standalone: true}" >
           
      </div>

    <div class="col-md-6" >
                   
            <label>Radius</label>
           <input type="number"  class="form-control" [(ngModel)]="editAsset.radius"  placeholder="Enter Radius"
            [ngModelOptions]="{standalone: true}" >
           
      </div>

      



<div class="col-md-6">
  <label></label>
  <div class="check-box-selection-sec form-control mt-3">
    <div class="mat-set">
      <mat-checkbox [(ngModel)]="editAsset.is_active" [ngModelOptions]="{standalone: true}">Is Active</mat-checkbox>
    </div>
  </div>
</div>

      <div class="col-md-6" >
        <label>Branch</label>
        <div class="custom-sel">
          <div class="form-control-wrapper">
          

            <mat-form-field>

              <mat-select placeholder="Select" [(ngModel)]="editAsset.branch" [ngModelOptions]="{standalone: true}" #selectBrach multiple>

                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let branchs of Branches" [value]="branchs.id">{{ branchs.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
         
        </div>

      </div>

      

    

         
                  </div>

     <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-2">
              <button type="button" (click)="closeEditModal()" class="btn btn-danger btn-full mt-4">Close</button>

            </div>
            <div class="col-md-2">
              <button type="button" (click)="updateGeoFenceing()" class="btn btn-success btn-full mt-4">Update</button>
            </div>
          </div>

                </form>

       




      </div>
    </div>



    <div class="com_list mt-4" >
      <div class="viewer-container p-4" *ngIf="geofencepol && geofencepol.length > 0">
  
        <div class="row mb-4">
          <div class="col-md-6">
            <div class="cartoon-dropdown-wrapper">
              <label class="fw-bold mb-2 text-dark">Select Location to View</label>
              <select class="form-select cartoon-select" (change)="onLocationChange($event)">
                <option value="" disabled selected>Choose a Geofence...</option>
                <option *ngFor="let loc of geofencepol" [value]="loc.id">
                  {{ loc.location_name.split(',')[0] }}
                </option>
              </select>
            </div>
          </div>
        </div>
      
        <div class="map-frame mb-4">
          <div id="displayMap" style="height: 400px; width: 100%; border-radius: 20px;"></div>
          <div class="view-only-ribbon">VIEW ONLY MODE</div>
        </div>
      
        <div class="details-card shadow-sm" *ngIf="selectedLocation">
          <div class="card-header bg-primary text-white py-3 px-4">
            <h5 class="m-0 fw-bold"><i class="fa fa-info-circle me-2"></i>Location Details</h5>
          </div>
          
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-md-8 p-4 border-end">
                <h4 class="fw-bold text-dark mb-1">{{ selectedLocation.location_name.split(',')[0] }}</h4>
                <p class="text-muted mb-4">{{ selectedLocation.location_name }}</p>
                
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label class="stat-label">LATITUDE</label>
                    <div class="stat-value">{{ selectedLocation.latitude }}</div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label class="stat-label">LONGITUDE</label>
                    <div class="stat-value">{{ selectedLocation.longitude }}</div>
                  </div>
                </div>
              </div>
      
              <div class="col-md-4 p-4 bg-light">
                <div class="mb-3">
                  <label class="stat-label">SAFE RADIUS</label>
                  <div class="stat-value text-primary">{{ selectedLocation.radius }} Meters</div>
                </div>
                <div class="mb-3">
                  <label class="stat-label">LINKED BRANCHES</label>
                  <div class="d-flex flex-wrap gap-1 mt-1">
                    <span class="badge bg-dark" *ngFor="let b of selectedLocation.branch">ID: {{b}}</span>
                  </div>
                </div>
                <div>
                  <label class="stat-label">EMPLOYEE COUNT</label>
                  <div class="stat-value">{{ selectedLocation.employee.length }} Staff</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
        </div>  