/* Shared Scrollbar Hiding Mixin Rules */
.hide-scrollbar,
.sub-sidenav,
.sidebar,
.nav-menu-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar,
.sub-sidenav::-webkit-scrollbar,
.sidebar::-webkit-scrollbar,
.nav-menu-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
  width: 0;
  height: 0;
}

:host {
  display: block;
  margin-top: 64px; /* Height of top main header navbar */
  width: 100%;
}