<div class="container" *ngIf="hasViewPermission">
  <div class="comapny_section">

        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1>Attendance Round Off</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

       <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAttendanceRoundoff()">Delete Selected </button>

            </div>
        </div>

                <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2>Create Attendance Round Off</h2>
                </div>
 <div class="col-md-2 text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeapplicationModal()">
      ×
    </span>
  </div>          
              </div>
              <hr />
          
        <form >

            <div class="row">
               

 
        <div class="col-md-4">
          <label class="form-label">Policy Name
            <span class="required-star">*</span>
          </label>
          <input type="text" class="form-control"
            [(ngModel)]="policy.name"
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !policy.name}">
            <div *ngIf="registerButtonClicked && !policy.name" class="error-message">Please Select Policy Name</div>
        </div>

                <div class="col-md-4">
          <label class="form-label">Select Branch
            <span class="required-star">*</span>
          </label>
          <select class="form-control"
            [(ngModel)]="policy.branch"
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !policy.branch}">
            <option value="">Select</option>
            <option *ngFor="let b of branches" [value]="b.id">
              {{ b.branch_name }}
            </option>
          </select>
          <div *ngIf="registerButtonClicked && !policy.branch" class="error-message">Please Select Branch</div>
        </div>

                <div class="col-md-4 d-flex align-items-center mt-3">
          <input type="checkbox"
            [(ngModel)]="policy.is_active"
            [ngModelOptions]="{standalone: true}">
          <label class="ms-2">Is Active</label>
        </div>

              <!-- POLICY OPTIONS -->
      <div class="row mt-4">

        <!-- Early Check In -->
        <div class="col-md-6 policy-box">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="policy.early_check_in"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Early Check In</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="policy.early_check_in_minutes"
            [disabled]="!policy.early_check_in"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Late Check In -->
        <div class="col-md-6 policy-box">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="policy.late_check_in"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Late Check In</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="policy.late_check_in_minutes"
            [disabled]="!policy.late_check_in"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Early Check Out -->
        <div class="col-md-6 policy-box mt-3">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="policy.early_check_out"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Early Check Out</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="policy.early_check_out_minutes"
            [disabled]="!policy.early_check_out"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Late Check Out -->
        <div class="col-md-6 policy-box mt-3">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="policy.late_check_out"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Late Check Out</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="policy.late_check_out_minutes"
            [disabled]="!policy.late_check_out"
            [ngModelOptions]="{standalone: true}">
        </div>

      </div>


    
            </div>


            <div class="row">
                <div class="col-md-8">
    
                </div>
            <div class="col-md-2">
                <button type="button" (click)="closeapplicationModal()" class="btn btn-danger btn-full mt-5">Close</button>
              </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="saveAttendancePolicy()">Add</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>


                    <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit Attendance Round Off</h2>
        </div>
   <div class="col-md-2 text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeEditModal()">
      ×
    </span>
  </div>    
      </div>
      <hr />
  
      <form>
         <div class="row">
               

 
        <div class="col-md-4">
          <label class="form-label">Policy Name
            <span class="required-star">*</span>
          </label>
          <input type="text" class="form-control"
            [(ngModel)]="editAsset.name"
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !policy.name}">
            <div *ngIf="registerButtonClicked && !policy.name" class="error-message">Please Select Policy Name</div>
        </div>

                <div class="col-md-4">
          <label class="form-label">Select Branch
            <span class="required-star">*</span>
          </label>
          <select class="form-control"
            [(ngModel)]="editAsset.branch"
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !policy.branch}">
            <option value="">Select</option>
            <option *ngFor="let b of branches" [value]="b.id">
              {{ b.branch_name }}
            </option>
          </select>
          <div *ngIf="registerButtonClicked && !policy.branch" class="error-message">Please Select Branch</div>
        </div>

                <div class="col-md-4 d-flex align-items-center mt-3">
          <input type="checkbox"
            [(ngModel)]="editAsset.is_active"
            [ngModelOptions]="{standalone: true}">
          <label class="ms-2">Is Active</label>
        </div>

              <!-- POLICY OPTIONS -->
      <div class="row mt-4">

        <!-- Early Check In -->
        <div class="col-md-6 policy-box">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="editAsset.early_check_in"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Early Check In</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="editAsset.early_check_in_minutes"
            [disabled]="!editAsset.early_check_in"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Late Check In -->
        <div class="col-md-6 policy-box">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="editAsset.late_check_in"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Late Check In</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="editAsset.late_check_in_minutes"
            [disabled]="!editAsset.late_check_in"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Early Check Out -->
        <div class="col-md-6 policy-box mt-3">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="editAsset.early_check_out"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Early Check Out</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="editAsset.early_check_out_minutes"
            [disabled]="!editAsset.early_check_out"
            [ngModelOptions]="{standalone: true}">
        </div>

        <!-- Late Check Out -->
        <div class="col-md-6 policy-box mt-3">
          <div class="d-flex align-items-center mb-2">
            <input type="checkbox"
              [(ngModel)]="editAsset.late_check_out"
              [ngModelOptions]="{standalone: true}">
            <label class="ms-2">Late Check Out</label>
          </div>
          <input type="number" class="form-control"
            placeholder="Minutes"
            [(ngModel)]="editAsset.late_check_out_minutes"
            [disabled]="!editAsset.late_check_out"
            [ngModelOptions]="{standalone: true}">
        </div>

      </div>


    
            </div>
  
        <div class="row">
          <div class="col-md-8"></div>
             <div class="col-md-2">
                <button type="button" (click)="closeEditModal()" class="btn btn-danger btn-full mt-5">Close</button>
              </div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn-Create btn-full mt-5 btn-success btn"
              (click)="updateAttendanceroundoff()"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
      


    <!-- TABLE SECTION -->
<div class="com_list mt-4" *ngIf="hasViewPermission">

  <div style="overflow-x: auto; width: 100%;">
    <table width="100%">
    <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Policy Name</th>
          <th>Branch</th>
          <th>Early Check In</th>
          <th>Late Check In</th>
          <th>Early Check Out</th>
          <th>Late Check Out</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let policy of policies; let i = index">

          <td>{{ i + 1 }}</td>

          <td>{{ policy.name }}</td>

          <td>{{ getBranchName(policy.branch) }}</td>

          <td>
            <span *ngIf="policy.early_check_in; else noEarlyIn">
              {{ policy.early_check_in_minutes }} min
            </span>
            <ng-template #noEarlyIn>-</ng-template>
          </td>

          <td>
            <span *ngIf="policy.late_check_in; else noLateIn">
              {{ policy.late_check_in_minutes }} min
            </span>
            <ng-template #noLateIn>-</ng-template>
          </td>

          <td>
            <span *ngIf="policy.early_check_out; else noEarlyOut">
              {{ policy.early_check_out_minutes }} min
            </span>
            <ng-template #noEarlyOut>-</ng-template>
          </td>

          <td>
            <span *ngIf="policy.late_check_out; else noLateOut">
              {{ policy.late_check_out_minutes }} min
            </span>
            <ng-template #noLateOut>-</ng-template>
          </td>

          <td>
            <span class="badge"
              [ngClass]="policy.is_active ? 'bg-success' : 'bg-secondary'">
              {{ policy.is_active ? 'Active' : 'Inactive' }}
            </span>
          </td>

            <td>
    <button
      mat-fab
      color="primary"
      *ngIf="showEditBtn"
      (click)="openEditModal(policy)">
      <mat-icon>draw</mat-icon>
    </button>

    <mat-checkbox
      *ngIf="Delete"
      [(ngModel)]="policy.selected">
    </mat-checkbox>
  </td>

        </tr>

        <!-- EMPTY STATE -->
        <tr *ngIf="policies.length === 0">
          <td colspan="8" class="text-center text-muted">
            No Attendance Policies Found
          </td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

  </div>
</div>


                                      <!-- Loader -->
    <div class="loader-container" [class.show]="isLoading">
      <div class="loader"></div>
    </div>







