

<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">

        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1>Employee Shift</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>
<!-- 
                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button> -->

                           <!-- <span *ngIf="!hasDeletePermission"></span> -->
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateEmployeeShift" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2> Create Employee Shift</h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
  <form *ngIf="hasAddPermission">
                  <div class="row">
                    
                  <div class="col-md-6" >
                   
                    <label>Start Date</label>
                   <input type="date"  class="form-control" required  [(ngModel)]="start_date"  placeholder="Enter start date "
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !start_date}">
                   
                   <div *ngIf="registerButtonClicked && !start_date" class="error-message">start date is required.</div>
              </div>


              <div class="col-md-6" >
                   
                    <label>End Date</label>
                   <input type="date"  class="form-control" required  [(ngModel)]="end_date"  placeholder="Enter end date "
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !end_date}">
                   
                   <div *ngIf="registerButtonClicked && !end_date" class="error-message">end date is required.</div>
              </div>

        


          <div class="col-md-6" >
                   
            <label>Schedule name</label>
           <input type="text"  class="form-control" required  [(ngModel)]="schedule_name"  placeholder="Enter schedule name  "
            [ngModelOptions]="{standalone: true}" >
           
      </div>

      

      <div class="col-md-6">
        <label>Shift type</label>
        <div class="custom-sel">
          <select class="form-control" [(ngModel)]="shift_type" [ngModelOptions]="{standalone: true}">
            <option value="rotating">Rotating Shift</option>
            <option value="fixed">Fixed Shift</option>
          </select>
        </div>
      </div>
      
      <!-- Only display Rotation Cycle Weeks when shift_type is "rotating" -->
      <div class="col-md-6" *ngIf="shift_type === 'rotating'">
        <label>Rotation Cycle Weeks</label>
        <input type="number" class="form-control" required [(ngModel)]="rotation_cycle_weeks" placeholder="Enter Rotation Cycle Weeks" [ngModelOptions]="{standalone: true}">
      </div>
      

    <!-- Week 1 -->
<div class="col-md-6" *ngIf="shift_type === 'rotating' && rotation_cycle_weeks >= 1">
  <label>Week 1 Pattern</label>
  <select class="form-control" [(ngModel)]="week1_pattern" [ngModelOptions]="{standalone: true}">
    <option value="">Select</option>
    <option *ngFor="let shift of ShiftsPattern" [value]="shift.id">{{ shift.name }}</option>
  </select>
</div>

<!-- Week 2 -->
<div class="col-md-6" *ngIf="shift_type === 'rotating' && rotation_cycle_weeks >= 2">
  <label>Week 2 Pattern</label>
  <select class="form-control" [(ngModel)]="week2_pattern" [ngModelOptions]="{standalone: true}">
    <option value="">Select</option>
    <option *ngFor="let shift of ShiftsPattern" [value]="shift.id">{{ shift.name }}</option>
  </select>
</div>

<!-- Week 3 -->
<div class="col-md-6" *ngIf="shift_type === 'rotating' && rotation_cycle_weeks >= 3">
  <label>Week 3 Pattern</label>
  <select class="form-control" [(ngModel)]="week3_pattern" [ngModelOptions]="{standalone: true}">
    <option value="">Select</option>
    <option *ngFor="let shift of ShiftsPattern" [value]="shift.id">{{ shift.name }}</option>
  </select>
</div>

<!-- Week 4 -->
<div class="col-md-6" *ngIf="shift_type === 'rotating' && rotation_cycle_weeks >= 4">
  <label>Week 4 Pattern</label>
  <select class="form-control" [(ngModel)]="week4_pattern" [ngModelOptions]="{standalone: true}">
    <option value="">Select</option>
    <option *ngFor="let shift of ShiftsPattern" [value]="shift.id">{{ shift.name }}</option>
  </select>
</div>

   
      <!-- Only display Single Shift Pattern when shift_type is "fixed" -->
      <div class="col-md-6" *ngIf="shift_type === 'fixed'">
        <label>Single Shift Pattern</label>
        <div class="custom-sel">
          <select class="form-control" id="single_shift_pattern" required [(ngModel)]="single_shift_pattern" [ngModelOptions]="{standalone: true}">
            <option value="">Select</option>
            <option *ngFor="let pattern of ShiftsPattern" [value]="pattern.id">
              {{ pattern.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6" >
        <label>Select Branches</label>
        <div class="custom-sel">
          <div class="form-control-wrapper">
          

            <mat-form-field>
              <!-- <mat-label>Favorite food</mat-label> -->
              <mat-select placeholder="Select" [(ngModel)]="branches" [ngModelOptions]="{standalone: true}" #selectBrach multiple>
                <div class="select-all">
                  <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                    Select All
                  </mat-checkbox>
                </div>
                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let branch of Branches" [value]="branch.id">{{ branch.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
          </div>
         
        </div>

      </div>

      

     


      <div class="col-md-6" >
        <label>Department</label>
        <div class="custom-sel">
            <div class="form-control-wrapper">
              <mat-form-field>
                <mat-select  placeholder="Select" [(ngModel)]="departments" [ngModelOptions]="{standalone: true}" #selectDept  multiple>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelecteddept" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondept()">
                      Select All
                    </mat-checkbox>
                  </div>
                  <mat-option *ngFor="let department of Departments" [value]="department.id">{{ department.dept_name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div *ngIf="registerButtonClicked && (!department || department.length === 0)" class="error-message">
              Please Select Your department
            </div> -->
          </div>
    </div>

    
     

      <div class="col-md-6" >
        <label>Designation</label>
        <div class="custom-sel">
            <div class="form-control-wrapper">
              <mat-form-field>
                <mat-select  placeholder="Select" [(ngModel)]="designations" [ngModelOptions]="{standalone: true}" #selectDes multiple>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelecteddes" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionDes()">
                      Select All
                    </mat-checkbox>
                  </div>
                 
                  <mat-option *ngFor="let des of Designations" [value]="des.id">{{ des.desgntn_job_title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
       
          </div>
    </div>


     

      <div class="col-md-6" >
        <label>Role</label>
        <div class="custom-sel">
            <div class="form-control-wrapper">
              <mat-form-field>
                <mat-select  placeholder="Select" [(ngModel)]="categories" [ngModelOptions]="{standalone: true}" #selectCat multiple>
                  <div class="select-all">
                    <mat-checkbox [(ngModel)]="allSelectedcat" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectioncat()">
                      Select All
                    </mat-checkbox>
                  </div>
                 
                  <mat-option *ngFor="let role of Categories" [value]="role.id">{{ role.ctgry_title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
           
          </div>
    </div>
      

     <div class="col-md-6" >
                            <label>Employee</label>
                            <div class="custom-sel">
                                <div class="form-control-wrapper">
                                  <mat-form-field>
                                    <mat-select  placeholder="Select" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}" #selectEmp multiple>
                                      <div class="select-all">
                                        <mat-checkbox [(ngModel)]="allSelectedEmp" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionEmp()">
                                          Select All
                                        </mat-checkbox>
                                      </div>
                                     
                                      <mat-option *ngFor="let emp of Employee" [value]="emp.id">
                                        {{ emp.emp_first_name }}   {{ emp.emp_last_name }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                
                              </div>
                        </div>

                     
                            
                         
                    
                     
        
        
                  </div>

                  <div class="row">
                    <div class="col-md-10">
                
                    </div>
                
                    <div class="col-md-2">
                        <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="registerEmployeeallocateshifts()">Create</button>  
                     </div>
                </div>
                </form>

            
            </div>
          </div>

          <!-- Edit Modal -->
<!-- <div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit employee Shift</h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form>
                    <div class="row">

                        <div class="col-md-6" >
                   
                            <label> Name</label>
                           <input type="text"  class="form-control" required  [(ngModel)]="editAsset.name"  placeholder="Enter name "
                            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                           
                           <div *ngIf="registerButtonClicked && !name" class="error-message">name is required.</div>
                      </div>
        
                        
                        <div class="col-md-6" >
                            <label>Monday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="monday_shift" required [(ngModel)]="editAsset.monday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !monday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !monday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>

                        <div class="col-md-6" >
                            <label>Tuesday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="tuesday_shift" required [(ngModel)]="editAsset.tuesday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !tuesday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !tuesday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>


                        <div class="col-md-6" >
                            <label>Wednesday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="wednesday_shift" required [(ngModel)]="editAsset.wednesday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !wednesday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !wednesday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>



                        <div class="col-md-6" >
                            <label>Thursday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="thursday_shift" required [(ngModel)]="editAsset.thursday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !thursday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !thursday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>


                        <div class="col-md-6" >
                            <label>Friday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="friday_shift" required [(ngModel)]="editAsset.friday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !friday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !friday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>


                        <div class="col-md-6" >
                            <label>Saturday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="saturday_shift" required [(ngModel)]="editAsset.saturday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !saturday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !saturday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>


                        <div class="col-md-6" >
                            <label>Sunday Shift</label>
                            <div class="custom-sel">
            
                                <select class="form-control" id="sunday_shift" required [(ngModel)]="editAsset.sunday_shift"   [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !sunday_shift}" >
                                    <option value="" >Select</option>
                                    <option *ngFor="let deparmentsec of Shifts" [value]="deparmentsec.id">{{ deparmentsec.name     }}  </option>
                                </select>
                                <div *ngIf="registerButtonClicked && !sunday_shift" class="error-message">Please Select  </div>
                                
                                
                               
            
                              
                            </div>
                        </div>


                       
                        
        
                   
                    </div>
  

      </form>
    </div>
  </div> -->
  

        <div class="com_list mt-4" *ngIf="hasViewPermission">

       <div class="shift-board-container">

                   <!-- Selection Form -->
                   <form (ngSubmit)="fetchShifts()" *ngIf="hasAddPermission">
                    <div class="row">
                        <!-- Schedule Dropdown -->
                        <div class="col-md-6">
                            <label>Schedule</label>
                            <select class="form-control" [(ngModel)]="selectedSchedule" name="schedule" required>
                                <option value="" disabled>Select Schedule</option>
                                <option *ngFor="let s of EmployeeShifts" [value]="s.id">
                                    {{ s.schedule_name }}
                                </option>
                            </select>
                        </div>
            
                        <!-- Year Dropdown -->
                        <div class="col-md-6">
                            <label>Year</label>
                            <select class="form-control" [(ngModel)]="selectedYear" name="year" required>
                                <option value="" disabled>Select Year</option>
                                <option *ngFor="let y of availableYears" [value]="y">
                                    {{ y }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-full btn-zeo mt-3">Fetch Shifts</button>
                        </div>
                    </div>
                </form>
              
                
                  <!-- Board Body -->
                  <div class="shift-board-body" *ngIf="employeeCodes.length > 0 && allDates.length > 0">
                    <!-- Top row: Date Headers -->
                         <!-- Header with navigation (similar to your next/previous month) -->
             
                  <div class="month_view mt-4">
                    <div class="row">
                      <div class="col-md-10">
                        <p>{{ selectedYear }}  </p>
                      </div>
                      <div class="col-md-2">
                        <p >   <span><span class="arrow_outer"> <i class="fa fa-chevron-left" (click)="previousMonth()" [disabled]="currentMonthIndex === 0"></i> </span> {{ getMonthName(currentMonth) }}  <span class="arrow_outer">  <i class="fa fa-chevron-right"  (click)="nextMonth()" [disabled]="currentMonthIndex === 11"></i> </span> </span></p>

                      </div>
                    </div>
                  </div>
                  
                    <div class="shift-board-row shift-board-row-head">
                      <!-- First cell: "Employee Name" label -->
                      <div class="shift-board-col-employee">
                        <p class="mt-3">Employee Name</p>
                      </div>
                      <!-- Date columns -->
                      <div class="shift-board-col-day" *ngFor="let date of allDates">
                        <div class="shift-board-day-header">
                          <div class="shift-board-day-number">{{ getDayNumber(date) }}</div>
                          <div class="shift-board-day-name">{{ getDayName(date) }}</div>
                        </div>
                        <div class="shift-board-day-month">{{ getMonthNameFromDate(date) }}</div>
                      </div>
                    </div>
                
                    <!-- Rows for each employee -->
                    <div class="shift-board-row" *ngFor="let empCode of employeeCodes">
                      <!-- Employee Name Column -->
                      <div class="shift-board-col-employee">
                       <h1 class="mt-3"> {{ empCode }} </h1>
                      </div>
                
                      <!-- Shift cells for each date -->
                      <div class="shift-board-col-day" *ngFor="let date of allDates">
                        <div class="shift-board-shift">
                          <h2> {{ getShift(empCode, date) }} </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

        </div>
        </div>
        </div>
        
