<div mat-dialog-content class="">

         <div class="text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="ClosePopup()">
      ×
    </span>
  </div>

    <div class="cpm-sec">



        <h1>Document Expired Email Template</h1><hr>

        <form>
            <div class="form-group">
              <label>Template Type</label>
                            <select class="form-control"  required [(ngModel)]="templateData.template_name"  [ngModelOptions]="{standalone: true}">
                                <option value="" >Select</option>
                                <option value="Employee Notification">Employee Notification</option>
                                <option value="User Notification">User Notification</option>
    

                            </select>
            </div>  

                                                            <!-- FILTER SECTION -->
<div class="filter-card mb-4">
  <div class="row g-3">

    <!-- Branch -->
    <div class="col-md-3">
      <div class="filter-select-card">
        <label class="filter-title">
          <mat-icon>apartment</mat-icon>
          Branch
        </label>

        <mat-form-field appearance="outline" class="modern-multi-select">
          <mat-select
            multiple
            [(ngModel)]="templateData.branch"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllBranchesSelected()"
              [indeterminate]="isSomeBranchesSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllBranches()"
            >
              Select All
            </mat-checkbox>

            <mat-option
              *ngFor="let item of branches"
              [value]="item.id"
            >
              {{ item.branch_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Department -->
    <div class="col-md-3">
      <div class="filter-select-card">
        <label class="filter-title">
          <mat-icon>corporate_fare</mat-icon>
          Department
        </label>

        <mat-form-field appearance="outline" class="modern-multi-select">
          <mat-select
            multiple
            [(ngModel)]="templateData.Department"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllDepartmentsSelected()"
              [indeterminate]="isSomeDepartmentsSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllDepartments()"
            >
              Select All
            </mat-checkbox>

            <mat-option
              *ngFor="let item of Departments"
              [value]="item.id"
            >
              {{ item.dept_name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Category -->
    <div class="col-md-3">
      <div class="filter-select-card">
        <label class="filter-title">
          <mat-icon>category</mat-icon>
          Category
        </label>

        <mat-form-field appearance="outline" class="modern-multi-select">
          <mat-select
            multiple
            [(ngModel)]="templateData.Category"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllCategoriesSelected()"
              [indeterminate]="isSomeCategoriesSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllCategories()"
            >
              Select All
            </mat-checkbox>

            <mat-option
              *ngFor="let item of Categories"
              [value]="item.id"
            >
              {{ item.ctgry_title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Designation -->
    <div class="col-md-3">
      <div class="filter-select-card">
        <label class="filter-title">
          <mat-icon>badge</mat-icon>
          Designation
        </label>

        <mat-form-field appearance="outline" class="modern-multi-select">
          <mat-select
            multiple
            [(ngModel)]="templateData.Designation"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllDesignationsSelected()"
              [indeterminate]="isSomeDesignationsSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllDesignations()"
            >
              Select All
            </mat-checkbox>

            <mat-option
              *ngFor="let item of Designations"
              [value]="item.id"
            >
              {{ item.desgntn_job_title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>

          
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" [(ngModel)]="templateData.subject" [ngModelOptions]="{standalone: true}" placeholder="Enter subject">
            </div>
          
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label>Body</label>
                        <div id="summernote" [(ngModel)]="templateData.body" [ngModelOptions]="{standalone: true}"></div>
                    </div>



                    
               
                        <div class="col-md-4">
                            <label>Select Field names</label>
                            <div class="email_placeholdername">
                              <div class="on_by_placeholders" *ngFor="let placeholder of EmailPlaceHolders" (click)="selectPlaceholder(placeholder)">
                                <h4>{{ placeholder }}</h4> <!-- Display the placeholder value -->
                              </div>
                            </div>
                          </div>
                        
 

                     
                
                </div>
              
            </div>
<!-- 
            <div class="form-group">
                <div class="custom-sel">
                    <label>Select Request Type</label>
                    <select class="form-control"  required [(ngModel)]="templateData.request_type"  [ngModelOptions]="{standalone: true}"  >
                        <option value="" >Select</option>
                        <option *ngFor="let deparmentsec of RequestType" [value]="deparmentsec.id">{{ deparmentsec.name     }} </option>
                    </select>
                </div> 
            </div> -->
          
            <div class="form-group">

              <div class="row mt-4">
                <div class="col-md-8"></div>
                 <div class="col-md-2">
                  <button type="button" class="btn btn-danger btn-full" (click)="ClosePopup()" >Close</button>

                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-success btn-full" (click)="updateTemplate()">Update</button>

                </div>


</div>

            </div>
          </form>


        </div>
</div>
<div mat-dialog-action>
    
</div>