<div class="container" *ngIf="hasViewPermission">

    
    <div class="comapny_section">

      <div class="header_section">

        <div class="row">
            <div class="col-md-4">
                <h1> Company Policy</h1>
            </div>
            <div class="col-md-3">
                
                <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

            </div>
            <div class="col-md-5">
              <div class="button-group pull-right">
                  <button type="button" (click)="openPopus()" class="btn-Create btn btn-success" *ngIf="hasAddPermission" ><span class="header-btn-icon"><mat-icon>add_circle
                  </mat-icon></span> Create</button>
                  <span *ngIf="!hasAddPermission"></span>

                  <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                      <span class="header-btn-icon">
                       <mat-icon>draw
                  </mat-icon></span> Edit</button>
                  <span *ngIf="hasEditPermission"></span>

                  <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                      <span class="header-btn-icon">
                          <mat-icon> delete
                     </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                     
                     <span *ngIf="!hasDeletePermission"></span>
              </div>
          </div>
        </div>
       
       

    </div>

    <div class="row">
      <div class="col-md-2">
          
          <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

      </div>
      <div class="col-md-3">
          <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

      </div>
  </div>
  
  

    <div *ngIf="iscreateLoanApp" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col-md-10">
              <h2> Create Company Policy</h2>
            </div>
            <div class="col-md-2">
              <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
            </div>
          </div>
          <hr />
      
 
          <form (ngSubmit)="registerApproveLevel()" enctype="multipart/form-data">
            <div class="row">
               
               
                <div class="col-md-12" >
               
                    <label>Title</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="title"  placeholder="Enter title"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !title}">
                   
                   <div *ngIf="registerButtonClicked && !title" class="error-message">title is required.</div>
              </div>
              
    
              <div class="col-md-12">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
    
    
    <div class="col-md-6">
        <label>Branch</label>
        <div class="custom-sel">
          <select class="form-control" id="branch" name="branch" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let brch of Branches" [value]="brch.id">{{ brch.branch_name }}</option>
          </select>
        </div>
      </div>
       
      <div class="col-md-6">
        <label for="policy_file">Policy Image</label>
        <input type="file" class="form-control" id="policy_file" name="policy_file" (change)="onFileSelected($event)">
      </div>

      <div class="col-md-6">
        <label>Department</label>
        <div class="custom-sel">
          <select class="form-control" id="department" name="department" [(ngModel)]="department" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let dept of Depts" [value]="dept.id">{{ dept.dept_name }}</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <label>Category</label>
        <div class="custom-sel">
          <select class="form-control" id="category" name="category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let catg of Cats" [value]="catg.id">{{ catg.ctgry_title }}</option>
          </select>
        </div>
      </div>
    
      
    
            </div>
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="submit" class="btn-Create btn-full mt-5 btn-success btn" *ngIf="hasAddPermission">Save</button>  
                 </div>
    
                 
            </div>
        </form>
        
        
        </div>
      </div>

                 <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
<div class="modal-content">
<div class="row">
  <div class="col-md-10">
    <h2>Edit Company Policy</h2>
  </div>
  <div class="col-md-2">
    <span class="close pull-right" (click)="closeEditModal()">&times;</span>
  </div>
</div>
<hr />

<form >
  <div class="row">
               
               
    <div class="col-md-12" >
   
        <label>Title</label>
       <input type="text"  class="form-control" required  [(ngModel)]="editAsset.title"  placeholder="Enter title"
        [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !title}">
       
       <div *ngIf="registerButtonClicked && !title" class="error-message">title is required.</div>
  </div>
  

  <div class="col-md-12">
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="editAsset.description" [ngModelOptions]="{standalone: true}"></textarea>
  </div>


<div class="col-md-6">
<label>Branch</label>
<div class="custom-sel">
<select class="form-control" id="branch" name="branch" [(ngModel)]="editAsset.branch" [ngModelOptions]="{standalone: true}">
<option *ngFor="let brch of Branches" [value]="brch.id">{{ brch.branch_name }}</option>
</select>
</div>
</div>



<div class="col-md-6">
<label>Department</label>
<div class="custom-sel">
<select class="form-control" id="department" name="department" [(ngModel)]="editAsset.department" [ngModelOptions]="{standalone: true}">
<option *ngFor="let dept of Depts" [value]="dept.id">{{ dept.dept_name }}</option>
</select>
</div>
</div>

<div class="col-md-6">
<label>Category</label>
<div class="custom-sel">
<select class="form-control" id="category" name="category" [(ngModel)]="editAsset.category" [ngModelOptions]="{standalone: true}">
<option *ngFor="let catg of Cats" [value]="catg.id">{{ catg.ctgry_title }}</option>
</select>
</div>
</div>

<div class="col-md-6">
  <label>Policy Image</label>

  <!-- Custom File Input Display -->
  <div class="custom-file-box" (click)="triggerFileInput()">
    <span *ngIf="editAsset.policy_file && !selectedFile">
      {{ getFileName(editAsset.policy_file) }}
    </span>

    <span *ngIf="selectedFile">
      {{ selectedFile.name }}
    </span>

    <i class="fa fa-upload upload-icon"></i>
  </div>

  <!-- Hidden Actual File Input -->
  <input 
      type="file" 
      #fileInput 
      class="hidden-file-input" 
      (change)="onFileSelected($event)">
</div>


</div>
  <div class="row" >
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button type="button" (click)="closeEditModal()"  class="btn btn-danger btn-full mt-4">Close</button>

    </div>
    <div class="col-md-2">
      <button type="button" (click)="updateAssetType()"  class="btn btn-success btn-full mt-4">Update</button>
    </div>
  </div>
</form>



</div>
</div>




  
        
<div class="table-responsive mt-4" *ngIf="hasViewPermission">
  <table class="table table-bordered table-striped align-middle">
    <thead class="table-light">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Branch</th>
        <th>Department</th>
        <th>Category</th>
        <th>Policy File</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of policies">
        <td data-label="Title">{{ policy.title }}</td>
        <td data-label="Description">{{ policy.description }}</td>
        <td data-label="Branch">{{ policy.branch }}</td>
        <td data-label="Department">{{ policy.department }}</td>
        <td data-label="Category">{{ policy.category }}</td>
        <td data-label="Policy File" *ngIf="hasAddPermission">
          <button 
            (click)="downloadPolicy(policy.policy_file, policy.title + '.pdf')" 
            class="btn btn-sm btn-primary">
            Download PDF
          </button>
        </td>
        <td data-label="Action">
          <button
            mat-fab
            color="primary"
            aria-label="Edit icon"
            *ngIf="showEditBtn"
            (click)="openEditModal(policy)"
          >
            <mat-icon style="color: white;">draw</mat-icon>
          </button>

          <mat-checkbox *ngIf="Delete" [(ngModel)]="policy.selected"></mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>

     





  

        </div>
        

       
        </div>