<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">
        <div class="com_list " >
            <div class="cpm-sec">
    
                <h2>Employee Resignation Approved List </h2>
                <hr>
                
                <form (ngSubmit)="createEndOfService()">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Employee</label>
                        <div class="custom-sel">
                          <select class="form-control" [(ngModel)]="selectedEmployeeId" name="employeeId" required>
                            <option value="">-- Select Employee --</option>
                            <option *ngFor="let approver of EmployeeResignation" [value]="approver.employee_id">
                              {{ approver.employee_name || 'No Name' }} ({{ approver.employee_code }})
                            </option>
                          </select>
                        </div>
                      </div>
                  
                      <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                          <button type="submit" class="btn btn-success btn-full mt-4">
                            Create End of Service
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  


            </div>

        </div>

        <!-- <div style="overflow-x: auto; width: 100%;">
        <table width="100%" >
          <thead>
            <tr>
              <th>No</th>

              <th> Document date  </th>
              <th> Resigned on</th>
              <th>Notice period</th>
              <th>Last working date</th>
              <th>Location</th>
              <th>Termination type</th>
             
  
              <th>Reason for leaving</th>
              <th>Status</th>
              <th>Employee</th>
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let docs of DocRequest;let i = index">
              <td>{{ i + 1 }}</td> 
          
              <td>{{ docs.document_date }}</td>
              <td>{{ docs.resigned_on }}</td>
              <td>{{ docs.notice_period }}</td> 
              <td>{{ docs.last_working_date }}</td>
              <td>{{ docs.location }}</td> 
              <td>{{ docs.termination_type }}</td>
              <td>{{ docs.reason_for_leaving }}</td>
              <td>{{ docs.status }}</td> 
              <td>{{ docs.employee }}</td>

            </tr>
        
          </tbody>
        </table>

</div> -->

  



    </div>
</div>