<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section" >

      <div class="header_section">

        <div class="row">
            <div class="col-md-4">
                <h1>Document Notification Setting</h1>
            </div>
            <div class="col-md-3">
                
                <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

            </div>
            <div class="col-md-5">
                <div class="button-group pull-right">
                  <button type="button" (click)="openPopus()" class="btn-Create btn btn-success "><span class="header-btn-icon"><mat-icon>add_circle
                    </mat-icon></span> Create</button>
                    <span *ngIf="!hasAddPermission"></span>

                    <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                        <span class="header-btn-icon">
                         <mat-icon>draw
                    </mat-icon></span> Edit</button>
                    <span *ngIf="hasEditPermission"></span>

                    <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                        <span class="header-btn-icon">
                            <mat-icon> delete
                       </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                       
                       <span *ngIf="!hasDeletePermission"></span>
                </div>
            </div>
        </div>


           <div class="row">
      <div class="col-md-2">

        <button class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete"
          (click)="toggleSelectAllEmployees()">Select All</button>

      </div>
      <div class="col-md-3">
        <button class=" mt-3 btn-danger btn" color="warn" *ngIf="Delete" (click)="deleteSelectedDocNotify()">Delete
          Selected </button>

      </div>
    </div>
       
       

    </div>


  

    <div *ngIf="iscreateLoanApp" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col-md-10">
              <h2> Create Document Notification Setting</h2>
            </div>
            <div class="col-md-2">
              <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
            </div>
          </div>
          <hr />
      
          <form (ngSubmit)="registerUserAssignedPermission()" enctype="multipart/form-data">
               
               
            <div class="row">


              <div class="col-md-6">
                <label>Days before expiry</label>
                <input type="number" class="form-control" required [(ngModel)]="days_before_expiry" placeholder="Enter days before expiry"
                       [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_before_expiry}">
                <div *ngIf="registerButtonClicked && !days_before_expiry" class="error-message">days_before_expiry field is required.</div>
              </div>
          
              <div class="col-md-6">
                <label>Days after expiry</label>
                <input type="number" class="form-control" required [(ngModel)]="days_after_expiry" placeholder="Enter openings"
                       [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_after_expiry}">
                <div *ngIf="registerButtonClicked && !days_after_expiry" class="error-message">days_after_expiry field is required.</div>
              </div>
          
            

         

         
      

              <div class="col-md-6">
                <div class="custom-sel">
                    <label>Select Branch</label>
                    <select class="form-control" id="branch" required [(ngModel)]="branch"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                        <option *ngFor="let deparmentsec of Branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
                    </select>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Company</div>
                </div>
            </div>
            






        
<div class="col-md-6">
<label>Notify users</label>


<!-- <div class="custom-sel">
    <label>Select Group</label>
    <select class="form-control" id="groups" multiple required [(ngModel)]="groups"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !groups}" >
        <option value="" >Select</option>
        <option *ngFor="let deparmentsec of   Groups" [value]="deparmentsec.id">{{ deparmentsec.name     }} </option>
    </select>
    <div *ngIf="registerButtonClicked && !groups" class="error-message">Please Select Your Company</div>
</div> -->


<div class="custom-sel">
    <div class="form-control-wrapper">
  

      <mat-form-field>
        <!-- <mat-label>Favorite food</mat-label> -->
        <mat-select placeholder="Select" [(ngModel)]="notify_users" [ngModelOptions]="{standalone: true}" #select multiple>
          <div class="select-all">
            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">
              Select All
            </mat-checkbox>
          </div>
          <input type="text" placeholder="serach" class="form-control">

          <mat-option *ngFor="let deparmentsec of   Users" [value]="deparmentsec.id">
            {{ deparmentsec.username }} 
          </mat-option>
        </mat-select>
      </mat-form-field>
      
    </div>
    <div *ngIf="registerButtonClicked && (!notify_users || notify_users.length === 0)" class="error-message">
      Please Select Your notify_users
    </div>
  </div>
            

</div>

          
         
          
         
            </div>
          
            <div class="row"  *ngIf="hasAddPermission">
              <div class="col-md-9"></div>
              <div class="col-md-3">
                <button type="submit" class="btn btn-success btn-full mt-4">Save</button>
              </div>
            </div>
            
            

          </form>
        
        </div>
      </div>


<!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
<div class="modal-content">
  <div class="row">
    <div class="col-md-10">
      <h2>Edit Document Notification Setting</h2>
    </div>
    <div class="col-md-2">
      <span class="close pull-right" (click)="closeEditModal()">&times;</span>
    </div>
  </div>
  <hr />

  <form>
    <div class="row">


      <div class="col-md-6">
        <label>Days before expiry</label>
        <input type="number" class="form-control" required [(ngModel)]="editAsset.days_before_expiry" placeholder="Enter days before expiry"
               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_before_expiry}">
        <div *ngIf="registerButtonClicked && !days_before_expiry" class="error-message">days_before_expiry field is required.</div>
      </div>
  
      <div class="col-md-6">
        <label>Days after expiry</label>
        <input type="number" class="form-control" required [(ngModel)]="editAsset.days_after_expiry" placeholder="Enter openings"
               [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_after_expiry}">
        <div *ngIf="registerButtonClicked && !days_after_expiry" class="error-message">days_after_expiry field is required.</div>
      </div>
  


      <div class="col-md-6">
        <div class="custom-sel">
            <label>Select Branch</label>
            <select class="form-control" id="branch" required [(ngModel)]="editAsset.branch"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                <option *ngFor="let deparmentsec of Branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
            </select>
            <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Company</div>
        </div>
    </div>
    







<div class="col-md-6">
<label>Notify users</label>

<div class="custom-sel">
<div class="form-control-wrapper">


<mat-form-field>
<!-- <mat-label>Favorite food</mat-label> -->
<mat-select placeholder="Select" [(ngModel)]="editAsset.notify_users" [ngModelOptions]="{standalone: true}" #select multiple>
  <div class="select-all">
    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">
      Select All
    </mat-checkbox>
  </div>
  <input type="text" placeholder="serach" class="form-control">

  <mat-option *ngFor="let deparmentsec of   Users" [value]="deparmentsec.id">
    {{ deparmentsec.username }} 
  </mat-option>
</mat-select>
</mat-form-field>

</div>
<div *ngIf="registerButtonClicked && (!notify_users || notify_users.length === 0)" class="error-message">
Please Select Your notify_users
</div>
</div>
    

</div>

  
 
  
 
    </div>
  
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button type="button" (click)="closeEditModal()" class="btn btn-danger btn-full mt-4">Close</button>

      </div>
      <div class="col-md-2">
        <button type="button" (click)="updateAssetType()" class="btn btn-success btn-full mt-4">Update</button>
      </div>
    </div>
  </form>



</div>
</div>

<div class="com_list  mt-4" style="border-top: white;">

              <div class="  table-responsive" *ngIf="hasViewPermission">
  <table class="table table-striped custom-table" width="100%">
    <thead>
      <tr>
        <th>No</th>
        <th>Days Before Expiry</th>
        <th>Days After Expiry</th>
        <th>Branch</th>
        <th>Notify Users</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docs of NotSettings; let i = index">
        <td data-label="No">{{ i + 1 }}</td>
        <td data-label="Days Before Expiry">{{ docs.days_before_expiry }}</td>
        <td data-label="Days After Expiry">{{ docs.days_after_expiry }}</td>
        <td data-label="Branch">{{ docs.branch }}</td>
        <td data-label="Notify Users">{{ docs.notify_users }}</td>
        <td data-label="Action">
          <button
            mat-fab
            color="primary"
            aria-label="Edit icon"
            *ngIf="showEditBtn"

            
            (click)="openEditModal(docs)"
          >
            <mat-icon style="color: white;">draw</mat-icon>
          </button>

          <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>

        </td>
      </tr>
    </tbody>
  </table>
</div>

       </div>     
  
    </div>
    

            <!-- Edit Modal Popup -->
<div *ngIf="isDocumentnumbereditModalOpen" class="modal">
  <div class="modal-content">
    <span class="close pull-right" (click)="closeEditDocModal()">&times;</span>
    <h2>Edit Document Number</h2>
    <form (ngSubmit)="updateDocumentNumber()">

      <div class="row">


        <div class="col-md-6">
          <label>Days before expiry</label>
          <input type="number" class="form-control" required [(ngModel)]="days_before_expiry" placeholder="Enter days before expiry"
                 [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_before_expiry}">
          <div *ngIf="registerButtonClicked && !days_before_expiry" class="error-message">days_before_expiry field is required.</div>
        </div>
    
        <div class="col-md-6">
          <label>Days after expiry</label>
          <input type="number" class="form-control" required [(ngModel)]="days_after_expiry" placeholder="Enter openings"
                 [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !days_after_expiry}">
          <div *ngIf="registerButtonClicked && !days_after_expiry" class="error-message">days_after_expiry field is required.</div>
        </div>
    
      

   

   


        <div class="col-md-6">
          <div class="custom-sel">
              <label>Select Branch</label>
              <select class="form-control" id="branch" required [(ngModel)]="branch"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                  <option *ngFor="let deparmentsec of Branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
              </select>
              <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Company</div>
          </div>
      </div>
      






  

    
   
    
   
      </div>
      <div class="row mt-4">
          <div class="col-md-8">

          </div>
          <div class="col-md-2">
              <button type="button" class="btn btn-secondary  btn-full" (click)="closeEditDocModal()">Cancel</button>

          </div>

          <div class="col-md-2">
              <button type="submit" class="btn btn-primary btn btn-full">Save </button>

          </div>




      </div>
    </form>
  </div>
</div>

</div>