<div class="container" >
  <div class="comapny_section">



    <div class="header_section">

      <div class="row">
          <div class="col-md-4">
              <h1>  Request Type Master</h1>
          </div>

          <div class="col-md-3">
              
              <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

          </div>
          <div class="col-md-5">
              <div class="button-group pull-right">
                  <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                  </mat-icon></span> Create</button>
                <span *ngIf="!hasAddPermission"></span>

                  <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                      <span class="header-btn-icon">
                       <mat-icon>draw
                  </mat-icon></span> Edit</button>
                  <span *ngIf="hasEditPermission"></span>
                  <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                      <span class="header-btn-icon">
                          <mat-icon> delete
                     </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                     <span *ngIf="!hasDeletePermission"></span>
              </div>
          </div>
      </div>
     
     

  </div>

  <div class="row">
      <div class="col-md-2">
          
          <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

      </div>
      <div class="col-md-3">
          <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedRequestType()">Delete Selected </button>

      </div>
  </div>




  <div *ngIf="iscreateLoanApp" class="modal">
      <div class="modal-content">  
        <div class="row">
          <div class="col-md-10">
            <h2> Create Request Type</h2>
          </div>
          <div class="col-md-2">
            <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
          </div>
        </div>
        <hr />
    
        <form >

          <div class="row">
              <div class="col-md-6" >
             
                  <label>Name</label>
                 <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                 
                 <div *ngIf="registerButtonClicked && !name" class="error-message">name is required.</div>
            </div>
            

            <div class="col-md-6" >
             
              <label>Description</label>
             <input type="text"  class="form-control" required  [(ngModel)]="description"  placeholder="Enter description"
              [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !description}">
             
             <div *ngIf="registerButtonClicked && !description" class="error-message">description is required.</div>
        </div>

            <div class="col-md-3">
                <div class="custom-sel">
                    <label>Select Branches</label>
                     <div class="form-control-wrapper">

              <mat-form-field>
             
              <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #selectBrach multiple>
                <div class="select-all">
                  <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                    Select All
                  </mat-checkbox>
                </div>
                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>

<!--         
        <div class="col-md-6 mt-4">
          <div class="check-box-selection-sec form-control">
              <div class="mat-set">
                  <mat-checkbox [(ngModel)]="use_common_workflow" [ngModelOptions]="{standalone: true}">use common workflow</mat-checkbox>
              </div>
             
          </div>
      </div> -->
     
      <div class="col-md-6">
          <label>Salary Component</label>
          <div class="custom-sel">
            <select class="form-control" id="salary_component" name="salary_component" [(ngModel)]="salary_component"
              [ngModelOptions]="{standalone: true}" >
              <option *ngFor="let component of Salarycomponent" [value]="component.id">
                {{ component.name }}
              </option>
            </select>
          </div>
        </div>


  <div class="col-md-6" *ngIf="!created_by">


      <div class="custom-sel">
          <label>Created by</label>
          <select class="form-control" id="created_by" required [(ngModel)]="created_by"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !created_by}" >
              <option value="" >Select</option>
              <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
          </select>
          <div *ngIf="registerButtonClicked && !created_by" class="error-message">Please Select Created by </div>
      </div>
                  

  </div>
          </div>


          <div class="row">
              <div class="col-md-10">
  
              </div>
  
              <div class="col-md-2">
                  <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="registerGeneralreq()">Save</button>  
               </div>
          </div>
          
     
  </form>


      
      </div>
    </div>


       <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
<div class="modal-content">
<div class="row">
  <div class="col-md-10">
    <h2>Edit  Request Type</h2>
  </div>
  <div class="col-md-2">
    <span class="close pull-right" (click)="closeEditModal()">&times;</span>
  </div>
</div>
<hr />

<form >

  <div class="row">
      <div class="col-md-6" >
     
          <label>Name</label>
         <input type="text"  class="form-control" required  [(ngModel)]="editAsset.name"  placeholder="Enter name"
          [ngModelOptions]="{standalone: true}">
         
    </div>
    

    <div class="col-md-6" >
     
      <label>Description</label>
     <input type="text"  class="form-control" required  [(ngModel)]="editAsset.description"  placeholder="Enter description"
      [ngModelOptions]="{standalone: true}" >
     
</div>

            <div class="col-md-3">
                <div class="custom-sel">
                    <label>Select Branches</label>
                     <div class="form-control-wrapper">

              <mat-form-field>
             
              <mat-select placeholder="Select" [(ngModel)]="editAsset.branch" [ngModelOptions]="{standalone: true}" #selectBrach multiple>
                <div class="select-all">
                  <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                    Select All
                  </mat-checkbox>
                </div>
                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>



<div class="col-md-6">
  <label>Salary Component</label>
  <div class="custom-sel">
    <select class="form-control" id="salary_component" name="salary_component" [(ngModel)]="editAsset.salary_component"
      [ngModelOptions]="{standalone: true}" >
      <option *ngFor="let component of Salarycomponent" [value]="component.id">
        {{ component.name }}
      </option>
    </select>
  </div>
</div>


<div class="col-md-6" *ngIf="!created_by">


<div class="custom-sel">
  <label>Created by</label>
  <select class="form-control" id="created_by" required [(ngModel)]="editAsset.created_by"  [ngModelOptions]="{standalone: true}" >
      <option value="" >Select</option>
      <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
  </select>
</div>
          

</div>
  </div>


  <div class="row">
      <div class="col-md-10">

      </div>

      <div class="col-md-2">
          <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="updateAssetType()">Save</button>  
       </div>
  </div>
  

</form>



</div>
</div>






      <div class="mt-4" *ngIf="hasViewPermission">

        <div class="table-responsive">
          <table class="table table-striped custom-table" *ngIf="hasViewPermission">
            <thead>
              <tr>
                <th>No</th>
                <th>Request Name</th>
                <th>Description</th>
                <th>Branch</th>
                <th>Salary Component</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let docs of ReqTypes; let i = index">
                <td data-label="No">{{ i + 1 }}</td>
                <td data-label="Request Name">{{ docs.name }}</td>
                <td data-label="Description">{{ docs.description }}</td>
                <td data-label="Description">{{ docs.branch }}</td>
                <td data-label="Salary Component">{{ docs.salary_component }}</td>
                <td data-label="Action">
                  <button
                    mat-fab
                    color="primary"
                    aria-label="Edit icon"
                    *ngIf="showEditBtn"
  
                    
                    (click)="openEditModal(docs)"
                  >
                    <mat-icon style="color: white;">draw</mat-icon>
                  </button>
  
                  <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>
  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      </div>
      
