.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

/* INPUT */
.form-control {
  margin-bottom: 14px;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #cbd5e1;
  box-shadow: none;
  transition: 0.3s;
  font-size: 13px;
}


/* FOCUS */
.form-control:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37,99,235,0.12);
}


/* TEXTAREA */
textarea.form-control {
  height: auto;
  min-height: 80px;
}

/* LABEL */
label {
  font-weight: 600;
  color: #334155;
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
}


 
  .form-control-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  ::ng-deep .form-control-wrapper mat-form-field {
    width: 100%;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-flex {
    background: none;
    border: none;
    box-shadow: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-underline {
    display: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-select {
    padding: 0;
    border: none;
    box-shadow: none;
    height: auto;
    line-height: 1.5;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-trigger {
    height: auto;
    padding: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-value-text {
    padding: 0;
    margin: 0;
  }
  
  ::ng-deep .form-control-wrapper .mat-form-field-infix {
    padding: 0;
    border: none;
  }
  
  ::ng-deep .form-control-wrapper .mat-select-placeholder {
    transform: translateY(-50%);
    top: 50%;
  }
  
  
  ::ng-deep .form-control-wrapper  .mat-mdc-form-field-infix{
    margin-top: -14px;
  }
  
  ::ng-deep .form-control-wrapper .mdc-text-field--filled:not(.mdc-text-field--disabled){
  
  background-color: white;
  }
  
  ::ng-deep .form-control-wrapper .mdc-text-field{
  padding: 0px;
  }
  
  ::ng-deep .form-control-wrapper .mat-mdc-form-field-infix:focus-visible{
  outline: none-webkit-focus-ring-color auto 0px;
  
  
  }
  
  
  /* Remove :focus-visible style from all input elements */
  input:focus-visible {
  outline: none;
  }
  
  /* Remove :focus-visible style from mat-select */
  .mat-select:focus-visible {
  outline: none;
  }
  
  /* Use !important to ensure the outline is removed */
  ::ng-deep .form-control-wrapper:focus-visible {
  outline: none !important;
  }
  
  
  ::ng-deep .mat-select:focus-visible {
  outline: none;
  }
  
  /* Optionally, you can also override other styles */
  ::ng-deep .mat-select:focus-visible .mat-select-value {
  outline: none;
  }
  
  ::ng-deep .mdc-text-field--no-label{
  border:1px solid #ced4da;
  }
  
  ::ng-deep .mat-mdc-form-field-flex {
  padding: 4px 7px;
  height: 35px;
  }
  
  .check-box-selection-sec{
    padding: 0px !important;
  }
  
 
  