<div class="container" *ngIf="hasViewPermission" >

    <div class="comapny_section">



        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Asset Request Email Template</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

            </div>
        </div>

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2>Asset Request Email Template</h2>
                </div>
        <div class="col-md-2 text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeapplicationModal()">
      ×
    </span>
  </div> 
              </div>
              <hr />
              <form>

                <div class="row">
    
                  
    
       <div class="col-md-12">
    
    
                        <div class="custom-sel">
                            <label>Template Type
                                <span class="required-star">*</span>
                            </label>
                            <select class="form-control" id="template_type" required [(ngModel)]="template_type"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !template_type}">
                                <option value="" >Select</option>
                                <option value="asset_created">Asset Created</option>
                                <option value="asset_approved">Asset Approved</option>
                                <option value="asset_rejected">Asset Rejected</option>
    
    
                            </select>
                        </div>
                          <div *ngIf="registerButtonClicked && !template_type" class="error-message">Please Select Template Type</div>            
                
                    </div>

              <div class="col-md-12">
                    <label>Choose option</label><br>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="related_to" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button  value="branch">branch</mat-radio-button>
                        <mat-radio-button value="department"> department</mat-radio-button>
                        <mat-radio-button value="category"> category</mat-radio-button>
                        <mat-radio-button value="designation"> Designation </mat-radio-button>
  
  
                      </mat-radio-group>
                </div>
  
  
               
  
                    <style>
                        .mat-mdc-form-field-infix{
                            margin-top: -14px;
                        }
  
                        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                            background-color: wh;
                        }
                    </style>
            
                
                <div class="col-md-12" *ngIf="related_to === 'branch'">
                    <label>Select Branches
                       <span class="required-star">*</span>
                    </label>
                    <div class="custom-sel">
                      <div class="form-control-wrapper">
                    
  
                        <mat-form-field>
                          <!-- <mat-label>Favorite food</mat-label> -->
                          <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #branchSelect multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                                Select All
                              </mat-checkbox>
                            </div>
                            <input type="text" placeholder="serach" class="form-control">
  
                            <mat-option *ngFor="let food of branches" [value]="food.id">
                              {{ food.branch_name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                      </div>
                     
                    </div>
                  </div>
                  
                    
                 
                  <div class="col-md-12" *ngIf="related_to === 'department'">
                    <label>Department
                       <span class="required-star">*</span>
                    </label>
                    <div class="custom-sel">
                        <div class="form-control-wrapper">
                          <mat-form-field>
                            <mat-select  placeholder="Select" [(ngModel)]="department" [ngModelOptions]="{standalone: true}" #deptSelect   multiple>
                              <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelecteddept" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondept()">
                                  Select All
                                </mat-checkbox>
                              </div>
                              <mat-option *ngFor="let deparmentsec of Departments" [value]="deparmentsec.id">
                                {{ deparmentsec.dept_name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                     
                      </div>
                </div>
  
                <div class="col-md-12" *ngIf="related_to === 'category'">
                    <label>Category
                       <span class="required-star">*</span>
                    </label>
                    <div class="custom-sel">
                        <div class="form-control-wrapper">
                          <mat-form-field>
                            <mat-select  placeholder="Select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}" #catSelect multiple>
                              <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelectedcat" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectioncat()">
                                  Select All
                                </mat-checkbox>
                              </div>
                             
                              <mat-option *ngFor="let deparmentsec of Categories" [value]="deparmentsec.id">
                                {{ deparmentsec.ctgry_title }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                       
                      </div>
                </div>
                
                <div class="col-md-12" *ngIf="related_to === 'designation'">
                  <label>Designation
                     <span class="required-star">*</span> </label>
                  <div class="custom-sel">
                      <div class="form-control-wrapper">
                        <mat-form-field>
                          <mat-select  placeholder="Select" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}" #selectdes multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelecteddes" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondes()">
                                Select All
                              </mat-checkbox>
                            </div>
                           
                            <mat-option *ngFor="let deparmentsec of Designations" [value]="deparmentsec.id">
                              {{ deparmentsec.desgntn_job_title }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                     
                    </div>
              </div>
                    <div class="col-md-12">
                        <label>Subject</label>
                        <input type=" text" class="form-control" [(ngModel)]="subject"  [ngModelOptions]="{standalone: true}" placeholder="enter subject">
                    </div>
    
                    <div class="col-md-8">
                        <label>Body</label>
                         <div #summernoteEditor id="summernote"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <label>Select Field names</label>
                        <div class="email_placeholdername">
                          <div class="on_by_placeholders" *ngFor="let placeholder of EmailPlaceHolders" (click)="selectPlaceholder(placeholder)">
                            <h4>{{ placeholder }}</h4> <!-- Display the placeholder value -->
                          </div>
                        </div>
                      </div>
                    
    
                      
                    
                    
                </div>
        
                <div class="row">
                    <div  class="col-md-8"></div>
            <div class="col-md-2">
            <button type="button" class="btn-Create btn-full mt-5 btn-danger btn" (click)="closeapplicationModal()">Close</button>  
            </div>
                    <div class="col-md-2">
    
                        <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="onclickEmailTemplate()">Save</button>  
    
                    </div>
                </div>
    
            </form>
    
            
      
    

            
            </div>
          </div>


   

        
<div class="com_list mt-4" *ngIf="hasViewPermission">

    <div class="cpm-sec">
        <div class="table-header">
            <h2>Asset Email Templates </h2>
        </div>

        <div class="table-responsive">

            <table class="table custom-table align-middle">

                <thead>
                    <tr>
                        <th>Template Type</th>
                        <th>Subject</th>
                        <th>Branch</th>
                        <th>Department</th>
                        <th>Category</th>
                        <th>Designation</th>
                        <th width="120">Actions</th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let deparmentsec of tempEmails">

                        <td>
                            <span class="badge-template">
                                {{ deparmentsec.template_type }}
                            </span>
                        </td>

                        <td>
                            <div class="subject-cell">
                                {{ deparmentsec.subject }}
                            </div>
                        </td>

                        <td>
                            <span class="data-text">
                                {{ getBranchNames(deparmentsec.branch) || '-' }}
                            </span>
                        </td>

                        <td>
                            <span class="data-text">
                                {{ getDepartmentNames(deparmentsec.Department) || '-' }}
                            </span>
                        </td>

                        <td>
                            <span class="data-text">
                                {{ getCategoryNames(deparmentsec.Category) || '-' }}
                            </span>
                        </td>

                        <td>
                            <span class="data-text">
                                {{ getDesignationNames(deparmentsec.Designation) || '-' }}
                            </span>
                        </td>

                        <td>

                            <div class="action-buttons">

                                <button
                                    mat-mini-fab
                                    color="primary"
                                    *ngIf="showEditBtn"
                                    (click)="openEditPopuss(deparmentsec)">

                                    <mat-icon>edit</mat-icon>

                                </button>

                                <mat-checkbox
                                    *ngIf="Delete"
                                    [(ngModel)]="deparmentsec.selected">
                                </mat-checkbox>

                            </div>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>






  

        </div>
        

       
</div>
