<div class="container" *ngIf="hasViewPermission">
  <div class="comapny_section">
    <div class="com_list">
      <div class="d-flex justify-content-between align-items-center">
        <h2>General Request Approval List</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="approval_sec" *ngFor="let apr of Approvals">
          <h6>General Request Approvals</h6>
          <hr />

          <div class="row">
            <div class="col-md-4">
              <h4>General Request Number</h4>
              <h5>{{ apr.general_request }}</h5>
            </div>
            <div class="col-md-2">
              <h4>Status</h4>
              <h5>{{ apr.status }}</h5>
            </div>
            <div class="col-md-2">
              <h4>Level</h4>
              <h5>{{ apr.level }}</h5>
            </div>
            <div class="col-md-2">
              <h4>Comment</h4>
              <h5>{{ apr.note }}</h5>
            </div>
            <div class="col-md-2">
              <div class="action-buttons">
                <button
                  style="color: white"
                  class="btn btn-info"
                  (click)="selectedaprovaldetalis(apr.id)"
                >
                  View
                </button>

                <button
                  *ngIf="apr.is_deligate"
                  class="btn btn-secondary"
                  (click)="apr.showDelegation = !apr.showDelegation"
                >
                  {{
                    apr.showDelegation ? "Hide Details" : "Delegation Details"
                  }}
                </button>
              </div>
            </div>
          </div>

          <!-- Delegation Body -->
          <div
            *ngIf="apr.delegation_details && apr.showDelegation"
            class="delegation-card"
          >
            <div class="row">

              <div class="col-md-6">
                <strong>Request</strong>
                <p>{{ apr.general_request }}</p>
              </div>

              <div class="col-md-6">
                <strong>Deligator</strong>
                <p>{{ apr.approver }}</p>
              </div>

              <div class="col-md-6">
                <strong>Delegate To</strong>
                <p>{{ apr.delegation_details.delegate_to }}</p>
              </div>


              <!-- <div class="col-md-6">
                <strong>Active</strong>
                <p>
                  {{ apr.delegation_details.is_active ? "Yes" : "No" }}
                </p>
              </div>

              <div class="col-md-6">
                <strong>Start Date</strong>
                <p>{{ apr.delegation_details.start_date }}</p>
              </div>

              <div class="col-md-6">
                <strong>End Date</strong>
                <p>{{ apr.delegation_details.end_date }}</p>
              </div> -->
<!-- 
              <div class="col-md-6">
                <strong>Reason</strong>
                <p>{{ apr.delegation_details.reason }}</p>
              </div> -->

              <div class="col-md-6">
                <strong>Response</strong>
                <p>{{ apr.delegation_details.response }}</p>
              </div>

              <div class="col-md-12 mt-3" *ngIf="canShowResponse(apr)">
                <strong>Send Deligation Response</strong>

                <textarea
                  class="form-control"
                  rows="4"
                  [(ngModel)]="apr.responseText"
                  placeholder="Enter response..."
                ></textarea>

                <button
                  class="btn btn-primary mt-2"
                  (click)="sendDelegationResponseInline(apr)"
                >
                  Send Response
                </button>
              </div>
            </div>
          </div>

          <!-- <h6> General Request - {{apr.general_request}}</h6>
                <h6>Status - {{apr.status}}</h6>
                <h6>Level - {{apr.level}}</h6> -->
        </div>
      </div>
    </div>

    <!-- Modal Popup for selected approval details -->
    <div *ngIf="isAddFieldsModalOpen" class="modal">
      <div class="modal-content">
        <div *ngIf="selectedApproval">
          <div class="row mt-2">
            <div class="col-md-6">
              <h6>General Request Approvals</h6>
            </div>
            <div class="col-md-6 text-right">
              <!-- Styled Square Close Button -->
              <span class="close-btn" (click)="closemarketModal()"> × </span>
            </div>
          </div>

          <hr />
          <h6>General Request - {{ selectedApproval.general_request }}</h6>
          <h6>Status - {{ selectedApproval.status }}</h6>
          <h6>Level - {{ selectedApproval.level }}</h6>

          <textarea
            class="form-control"
            [(ngModel)]="note"
            placeholder="Add a Comment here..."
            [ngModelOptions]="{ standalone: true }"
          ></textarea>

          <div class="row mt-2">
            <div class="col-md-3">
              <button
                class="btn btn-primary"
                (click)="openDelegationModalFromApproval(selectedApproval)"
              >
                Delegate
              </button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn btn-danger btn-full"
                (click)="rejectApproval(selectedApproval.id)"
              >
                Reject
              </button>
            </div>
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-success btn-full"
                (click)="approveApproval(selectedApproval.id)"
              >
                Approve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isResponseModalOpen" class="modal">
      <div class="modal-content">
        <div class="text-right">
          <span class="close-btn" (click)="closeResponseModal()">×</span>
        </div>

        <h5>Send Delegation Response</h5>
        <hr />

        <div class="form-group">
          <label>Response</label>

          <textarea
            class="form-control"
            rows="4"
            [(ngModel)]="delegationResponse"
            placeholder="Enter response..."
          ></textarea>
        </div>

        <button class="btn btn-primary mt-2" (click)="sendDelegationResponse()">
          Send Response
        </button>
      </div>
    </div>

    <div *ngIf="isDelegationModalOpen" class="modal">
      <div class="modal-content">
        <div class="text-right">
          <span class="close-btn" (click)="closeDelegationModal()"> × </span>
        </div>

        <h5>Send Delegation</h5>
        <hr />
        <div class="row">
          <!-- <div class="col-md-4">
            <label>Start Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="delegationForm.start_date"
            />
          </div> -->

          <!-- <div class="col-md-4">
            <label>End Date</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="delegationForm.end_date"
            />
          </div> -->

          <div class="col-md-4">
            <label>Request</label>

            <select
              class="form-control"
              [(ngModel)]="delegationForm.request"
              disabled
            >
              <option *ngFor="let req of Genreq" [value]="req.id">
                {{ req.document_number }} - {{ req.request_type }}
              </option>
            </select>
          </div>

<div class="col-md-4">
  <label>Delegator</label>

  <input
    type="text"
    class="form-control"
    [value]="delegationForm.deligator"
    readonly
  />
</div>

          <div class="col-md-4">
            <label>Delegate To</label>

            <select
              class="form-control"
              [(ngModel)]="delegationForm.deligate_to"
            >
              <option *ngFor="let user of Users" [ngValue]="user.id">
                {{ user.username }}
              </option>
            </select>
          </div>


          <!-- <div class="form-group mb-2">
            <label>Reason</label>
            <textarea class="form-control" [(ngModel)]="delegationForm.reason">
            </textarea>
          </div> -->

          <!-- <div class="form-group mb-3">
            <label>Active</label>
            <input type="checkbox" [(ngModel)]="delegationForm.is_active" />
          </div>
        </div> -->

          <!-- <div class="col-md-6 mt-2">
            <div class="check-box-selection-sec form-control">
              <div class="mat-set">
                <mat-checkbox
                  [(ngModel)]="delegationForm.is_active"
                  [ngModelOptions]="{ standalone: true }"
                  >Is Active</mat-checkbox
                >
              </div>
            </div>
          </div> -->

          <button class="btn btn-success" (click)="createDelegation()">
            Send
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loader -->
  <div class="loader-container" [class.show]="isLoading">
    <div class="loader"></div>
  </div>
</div>
