
<div class="sub-sidebar clickOutside">
  <mat-sidenav-container>
    <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
      <div class="wrapper">

        <div class="sidebar-top"> 
           <!-- Toggle Button (placed OUTSIDE sidebar) -->
    <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">X</span>
    </button>
              
  
        </div>
        <div class="sidebar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">

          <ul class="ulmob-scroll">
     

                  <li routerLink="/main-sidebar/sub-sidebar/employee-master" *ngIf="hasViewPermissionEmp"><a><mat-icon>peoples</mat-icon> Employee Master </a></li>
                
                  <li routerLink="/main-sidebar/sub-sidebar/department-master" *ngIf="hasViewPermissiondept"><a ><mat-icon>peoples</mat-icon> Department Master </a></li>
                 
                  <li routerLink="/main-sidebar/sub-sidebar/designation-master" *ngIf="hasViewPermissiondesg"><a ><mat-icon>peoples</mat-icon> Designation Master</a></li>
                  
                  <li routerLink="/main-sidebar/sub-sidebar/catogary-master" *ngIf="hasViewPermissionCat"><a ><mat-icon>peoples</mat-icon> Category Master</a></li>
                 
                  <li routerLink="/main-sidebar/sub-sidebar/general-request" *ngIf="hasViewPermissionGenreq"><a ><mat-icon>peoples</mat-icon> General Request</a></li>
                 
                  <li routerLink="/main-sidebar/sub-sidebar/request-type" *ngIf="hasViewPermissionReqType"><a ><mat-icon>peoples</mat-icon> Request Type</a></li>
                  
                  <li routerLink="/main-sidebar/sub-sidebar/approvals" *ngIf="hasViewPermissionAprv"><a ><mat-icon>peoples</mat-icon> Approvals</a></li>
                  
                  <li routerLink="/main-sidebar/sub-sidebar/approval-level" *ngIf="hasViewPermissionAprvlvl"><a ><mat-icon>peoples</mat-icon> Approval Level</a></li>

                  <li routerLink="/main-sidebar/sub-sidebar/general-request-escalation" *ngIf="hasViewPermissionGenReqEsc"><a ><mat-icon>peoples</mat-icon>General Request Escalation</a></li>

                 
                  <li routerLink="/main-sidebar/sub-sidebar/attendace-marking" *ngIf="hasViewPermissionAttd"><a ><mat-icon>peoples</mat-icon> Attendance Marking</a></li>

                  <li routerLink="/main-sidebar/sub-sidebar/document-expired" *ngIf="hasViewExpDocNotification"><a ><mat-icon>peoples</mat-icon> Expired Documents</a></li>

                  <li routerLink="/main-sidebar/sub-sidebar/employee-overtime" *ngIf="hasViewEmpOverTime"><a><mat-icon>peoples</mat-icon> Employee Overtime</a></li>

                  <li (click)="toggleAdvanceSalary()" style="cursor: pointer;">
                    <a>
                      <mat-icon>peoples</mat-icon> Resignation 
                      <mat-icon style="float: right;">{{ showAdvanceSalary ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </a>
                  </li>

                  <ul *ngIf="showAdvanceSalary" style="padding-left: 20px;">
                    <li routerLink="/main-sidebar/sub-sidebar/resignation-approvals"  *ngIf="hasViewApprovalList">
                      <a> Approval List</a>
                    </li>
                    <li routerLink="/main-sidebar/sub-sidebar/resignation-approved-list"  *ngIf="hasViewResignationApprovedList">
                      <a>Resignation Approved List</a>
                    </li>
                     <li routerLink="/main-sidebar/sub-sidebar/end-of-service"  *ngIf="hasViewEndOfService">
                      <a>Employee End Of Service</a>
                    </li>
                    <li routerLink="/main-sidebar/sub-sidebar/resignation-request"  *ngIf="hasViewResignationRequest">
                      <a> Resignation Request</a>
                    </li>
                    <li routerLink="/main-sidebar/sub-sidebar/resignation-approval-level"  *ngIf="hasViewResignationApprovalLevel">
                      <a>Resignation Approval Level</a>  
                    </li>

                    <li routerLink="/main-sidebar/sub-sidebar/gratyuity"  *ngIf="hasViewGratuity">
                      <a>Gratuity</a>  
                    </li>
                  </ul>

              </ul>
        </div>
      </div>
    </mat-sidenav>

 
      <router-outlet></router-outlet>
  
  </mat-sidenav-container>

  
  
    </div>