<div class="sub-sidebar clickOutside">
  <mat-sidenav-container class="sub-sidenav-container">
    <mat-sidenav
      class="sub-sidenav hide-scrollbar"
      #sidenav
      opened="true"
      mode="side"
    >
      <div class="wrapper">
        <!-- Compact Sidebar Header -->
        <div class="sidebar-top">
          <span class="sub-sidebar-title" *ngIf="isMenuOpen">Submenu</span>
          <button
            type="button"
            class="btn btn-collapse"
            (click)="toggleSidebarMenu()"
            aria-label="Toggle Sub Sidebar"
          >
            <mat-icon class="toggle-icon">
              {{ isMenuOpen ? 'chevron_left' : 'chevron_right' }}
            </mat-icon>
          </button>
        </div>

        <!-- Sidebar Navigation Container -->
        <div
          class="sidebar hide-scrollbar"
          [class.menu-open]="isMenuOpen"
          [class.menu-close]="!isMenuOpen"
        >
          <ul class="nav-menu-list">
            <!-- Employee Master -->
            <li *ngIf="hasViewPermissionEmp">
              <a
                routerLink="/main-sidebar/sub-sidebar/employee-master"
                routerLinkActive="active-link"
                class="nav-item-link"
              >
                <mat-icon class="nav-icon">person</mat-icon>
                <span class="sidenav-opt">Employee Master</span>
              </a>
            </li>

            <!-- Department Master -->
            <li *ngIf="hasViewPermissiondept">
              <a
                routerLink="/main-sidebar/sub-sidebar/department-master"
                routerLinkActive="active-link"
                class="nav-item-link"
              >
                <mat-icon class="nav-icon">business</mat-icon>
                <span class="sidenav-opt">Department Master</span>
              </a>
            </li>

            <!-- Designation Master -->
            <li *ngIf="hasViewPermissiondesg">
              <a
                routerLink="/main-sidebar/sub-sidebar/designation-master"
                routerLinkActive="active-link"
                class="nav-item-link"
              >
                <mat-icon class="nav-icon">badge</mat-icon>
                <span class="sidenav-opt">Designation Master</span>
              </a>
            </li>

            <!-- Category Master -->
            <li *ngIf="hasViewPermissionCat">
              <a
                routerLink="/main-sidebar/sub-sidebar/catogary-master"
                routerLinkActive="active-link"
                class="nav-item-link"
              >
                <mat-icon class="nav-icon">category</mat-icon>
                <span class="sidenav-opt">Category Master</span>
              </a>
            </li>

            <!-- Resignation Dropdown Container -->
            <li class="has-submenu">
              <div
                class="nav-item-link submenu-header"
                (click)="toggleAdvanceSalary()"
              >
                <div class="d-flex align-items-center">
                  <mat-icon class="nav-icon">exit_to_app</mat-icon>
                  <span class="sidenav-opt">Resignation</span>
                </div>
                <mat-icon class="chevron-arrow" *ngIf="isMenuOpen">
                  {{ showAdvanceSalary ? 'expand_less' : 'expand_more' }}
                </mat-icon>
              </div>

              <!-- Nested Submenu -->
              <ul class="sub-menu-list" *ngIf="showAdvanceSalary && isMenuOpen">
                <li *ngIf="hasViewApprovalList">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/resignation-approvals"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>Approval List</span>
                  </a>
                </li>
                <li *ngIf="hasViewResignationApprovedList">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/resignation-approved-list"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>Approved List</span>
                  </a>
                </li>
                <li *ngIf="hasViewEndOfService">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/end-of-service"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>End Of Service</span>
                  </a>
                </li>
                <li *ngIf="hasViewResignationRequest">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/resignation-request"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>Resignation Request</span>
                  </a>
                </li>
                <li *ngIf="hasViewResignationApprovalLevel">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/resignation-approval-level"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>Approval Level</span>
                  </a>
                </li>
                <li *ngIf="hasViewGratuity">
                  <a
                    routerLink="/main-sidebar/sub-sidebar/gratyuity"
                    routerLinkActive="active-sublink"
                    class="subnav-item-link"
                  >
                    <span>Gratuity</span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Expired Documents -->
            <li *ngIf="hasViewExpDocNotification">
              <a
                routerLink="/main-sidebar/sub-sidebar/document-expired"
                routerLinkActive="active-link"
                class="nav-item-link"
              >
                <mat-icon class="nav-icon">running_with_errors</mat-icon>
                <span class="sidenav-opt">Expired Documents</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </mat-sidenav>

    <!-- Content Area -->
    <mat-sidenav-content class="sub-content-area">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>