<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">
    
        <div class="com_list mt-4 " >
            <div class="cpm-sec">

                <h2>Attendance report employee</h2>
                <hr>
                
            
                   
<div class="row">
    


    <div class="col-md-3">
        <label >Year</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="year"
          [ngModelOptions]="{standalone: true}"
        />
    </div>
    <div class="col-md-3">
        <label >Month</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="month"
          [ngModelOptions]="{standalone: true}"
        />
    </div>


    <div class="col-md-3">
        <label>Select Employee</label>
        <div class="custom-sel">
          <select class="form-control" id="employee" name="employee"
          
          [(ngModel)]="employee_id"

                  [ngModelOptions]="{standalone: true}">
            <option [ngValue]="null">-- Select --</option>
            <option *ngFor="let employee of Employees" [ngValue]="employee.id">
              {{ employee.emp_code }}
            </option>
          </select>
        </div>
      </div>



         
              <div class="col-md-6" >
                  <label>Select Branches</label>
                  <div class="custom-sel">
                    <div class="form-control-wrapper">
                  

                      <mat-form-field>
                        <!-- <mat-label>Favorite food</mat-label> -->
                        <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #select multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">
                              Select All
                            </mat-checkbox>
                          </div>
                          <input type="text" placeholder="serach" class="form-control">

                          <mat-option *ngFor="let food of branches" [value]="food.id">
                            {{ food.branch_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    </div>
                   
                  </div>
                </div>
                
                  
               
                <div class="col-md-6" >
                  <label>Department</label>
                  <div class="custom-sel">
                      <div class="form-control-wrapper">
                        <mat-form-field>
                          <mat-select  placeholder="Select" [(ngModel)]="department" [ngModelOptions]="{standalone: true}" #select  multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelecteddept" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondept()">
                                Select All
                              </mat-checkbox>
                            </div>
                            <mat-option *ngFor="let deparmentsec of departments" [value]="deparmentsec.id">
                              {{ deparmentsec.dept_name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                   
                    </div>
              </div>

              <div class="col-md-6" >
                  <label>Category</label>
                  <div class="custom-sel">
                      <div class="form-control-wrapper">
                        <mat-form-field>
                          <mat-select  placeholder="Select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}" #select multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelectedcat" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectioncat()">
                                Select All
                              </mat-checkbox>
                            </div>
                           
                            <mat-option *ngFor="let deparmentsec of Categoried" [value]="deparmentsec.id">
                              {{ deparmentsec.ctgry_title }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                     
                    </div>
              </div>
              
              <div class="col-md-6" >
                <label>Designation </label>
                <div class="custom-sel">
                    <div class="form-control-wrapper">
                      <mat-form-field>
                        <mat-select  placeholder="Select" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}" #selectdes multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelecteddes" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondes()">
                              Select All
                            </mat-checkbox>
                          </div>
                         
                          <mat-option *ngFor="let deparmentsec of Designations" [value]="deparmentsec.id">
                            {{ deparmentsec.desgntn_job_title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                   
                  </div>
            </div>

              <!-- <div class="col-md-6" >
                <label>Employee</label>
                <div class="custom-sel">
                    <div class="form-control-wrapper">
                      <mat-form-field>
                        <mat-select  placeholder="Select" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}" #select multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelectedEmp" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionEmp()">
                              Select All
                            </mat-checkbox>
                          </div>
                          <input type="text" placeholder="serach" class="form-control"
                          [(ngModel)]="SearchEmployee" (input)="FilterEmployee">

                          <mat-option *ngFor="let emp of FilteredEmployees" [value]="emp.id">
                            {{ emp.emp_first_name }}   {{ emp.emp_last_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  
                  </div>
            </div> -->


      
      
</div>


<div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2 mt-3">
        <button class="btn btn-primary" *ngIf="hasAddPermission" (click)="generateAttendanceReport()">Generate Report</button>
      </div>
</div>



                           
                  


            </div>


        <!-- Show selected employee report if available -->

<div *ngIf="attendanceData">
    <div class="row">
        <div class="col-md-8">
            <h2>Attendance Sheet for {{ attendanceData.employee_name }} - {{ attendanceData.month }}/{{ attendanceData.year }}</h2>

        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-success pull-right" *ngIf="hasExportPermission" (click)="exportToExcel()">Export</button>
        </div>
    </div>
    <div class="table-container table-scroll">
      <table class="table table-bordered table-hover mt-3 text-center">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th *ngFor="let day of daysArray">{{ day }}</th>
            <!-- <th>Total Days</th> -->
            <th>Present Days</th>
            <th>Absent Days</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Employee Name">{{ attendanceData.employee_name }}</td>
            <td *ngFor="let day of daysArray" [attr.data-label]="day">
              {{ getStatusForDay(day, attendanceData.summary_data) }}
            </td>
            <!-- <td>{{ attendanceData.total_days }}</td> -->
            <td data-label="Present Days">{{ attendanceData.total_present }}</td>
            <td data-label="Absent Days">{{ attendanceData.total_absent }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- Show all employee attendance initially -->
  <div *ngIf="!attendanceData && allAttendanceData.length > 0">
    <h2>All Employees Attendance Records</h2>
    <div class="table-container table-scroll">
      <table class="table table-bordered table-hover mt-3 text-center">
<thead>
  <tr>
    <th>Employee Name</th>
    <th *ngFor="let day of daysArray">{{ day }}</th>
    <th>Total Days</th>
    <th>Present Days</th>
    <th>Absent Days</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let record of allAttendanceData">
    <td data-label="Employee Name">{{ record.employee_name }}</td>

    <td *ngFor="let day of daysArray" [attr.data-label]="day">
      {{ getStatusForDay(day, record.summary_data) }}
    </td>

    <td data-label="Total Days">{{ record.total_days }}</td>
    <td data-label="Present Days">{{ record.total_present }}</td>
    <td data-label="Absent Days">{{ record.total_absent }}</td>
  </tr>
</tbody>

      </table>
    </div>
  </div>
        

        </div>






    </div>
</div>