<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">

      <div class="header_section">

        <div class="row">
          <div class="col-md-3">
            <h1>Attendance Marking</h1>
          </div>
  
          <div class="col-md-4">
  
            <!-- <input type="text" class="form-control mt-1" placeholder="Search by name" > -->
  
          </div>
          <div class="col-md-5" *ngIf="hasAddPermission">
            <div class="button-group pull-right">

           
                           
  
  
  
            </div>
          </div>
  
        </div>
  
  
  
      </div>
  
        <div class="com_list mt-4">
    <div class="cpm-sec" *ngIf="hasViewPermission">

    





        </div>

        </div>

        


</div>

</div>




