<div class="sub-sidebar clickOutside">
    <mat-sidenav-container>
      <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
        <div class="wrapper">
  
          <div class="sidebar-top"> 
             <!-- Toggle Button (placed OUTSIDE sidebar) -->
      <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
        <span *ngIf="!isMenuOpen">☰</span>
        <span *ngIf="isMenuOpen">×</span>
      </button>
                
    
          </div>
          <div class="sidebar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
            <ul>
                  <li routerLink="/main-sidebar/attendance-sidebar/attendace-marking" *ngIf="hasViewPermissionAttendanceMarking"><a><mat-icon>view_timeline</mat-icon> Attendance Marking</a></li>
               
                
                  <li routerLink="/main-sidebar/attendance-sidebar/employee-early-going" *ngIf="hasViewPermissionEmpEarlygoing"><a><mat-icon>view_timeline</mat-icon> Employees Early going</a></li>
                 
                  <li routerLink="/main-sidebar/attendance-sidebar/employee-recheck" *ngIf="hasViewPermissionEmpRecheck"><a><mat-icon>view_timeline</mat-icon> Employees Recheck</a></li>

                  <li routerLink="/main-sidebar/attendance-sidebar/employee-punching-list" *ngIf="hasViewPermissionPunchingList"><a><mat-icon>view_timeline</mat-icon> Punching List</a></li>

                  <li routerLink="/main-sidebar/attendance-sidebar/geofence" *ngIf="hasViewPermissionGeoFence"><a><mat-icon>view_timeline</mat-icon> Geo Fence</a></li>

                    <mat-nav-list>
       
    
     
  
                      
                      <div>
              
              
                   
                      </div>
                      <style>
                        .mat-expansion-panel-body {
                          padding: 0 0px 16px !important;
                        }
                        .mat-expansion-panel{
                  background: transparent;
                 
                }
                      </style>
              
                    </mat-nav-list>
                     
                </ul> 
    
                     
     
            </div>
      
        </div>
     
    
    
    
    
    
    
        </mat-sidenav>
    
    
        <router-outlet></router-outlet>
    
        <!-- <router-outlet></router-outlet> -->
    
      </mat-sidenav-container>
    
    </div>