<div mat-dialog-content class="">
    <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>

    <div class="success-header">

        <div class="succes-ico d-block mx-auto">
            <mat-icon class="mat_success">check_circle</mat-icon>
            <h1>Successfully Added</h1>
        </div>
    </div>
    
    <!-- New Question Section -->
    <div class="connect-question text-center mt-3">
        <h3>Do you want to connect this employee to user?</h3>
        <div class="btn-group mt-2">
            <button type="button" class="btn btn-danger btn-no" (click)="onNoConnect()">
                No
            </button>
            <button type="button" class="btn btn-success btn-yes" (click)="onYesConnect()">
                Yes
            </button>
        </div>
    </div>
</div>
<div mat-dialog-action>
    
</div>