<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">

        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Air Ticket Rule </h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAirTicketRule()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2>  Air Ticket Rule </h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

            <div class="row">


                <div class="col-md-6">


                    <div class="custom-sel">
                        <label>Policy</label>
                        <select class="form-control" id="policy" required [(ngModel)]="policy"  [ngModelOptions]="{standalone: true}"  >
                            <option value="" >Select</option>
                            <option *ngFor="let user of Policies" [value]="user.id">{{ user.name }}</option>
                        </select>
                       
                    </div>
                                
                
                
                       
                       
                    
                </div> 
                
<div class="col-md-6" >
    <label>Rule Type</label>
    <div class="custom-sel">
      <select
        class="form-control" [(ngModel)]="rule_type" [ngModelOptions]="{ standalone: true }">
        <option value="ONE_WAY">One Way Ticket </option>
        <option value="TWO_WAY">Two Way Ticket</option>
        <option value="ENCASHMENT">Encashment </option>
  
    
  
      </select>
    </div>
  </div>
  
                      

              <div class="col-md-6" >
               
                <label> required service years</label>
               <input type="number"  class="form-control" required  [(ngModel)]="required_service_years"  placeholder="Enter required service years"
                [ngModelOptions]="{standalone: true}" >
               
          </div>
   
  



          



 
  <div class="col-md-6">
    <label></label>
    <div class="check-box-selection-sec form-control mt-3">
      <div class="mat-set">
        <mat-checkbox [(ngModel)]="apply_in_next_payroll" [ngModelOptions]="{standalone: true}">apply in next payroll</mat-checkbox>
      </div>
    </div>
  </div>
     


  <div class="col-md-12">
    <label>remarks</label>
    <textarea class="form-control" [(ngModel)]="remarks"  placeholder="Enter remarks... "
    [ngModelOptions]="{standalone: true}"></textarea>
</div>
   
      
   



    
            </div>

    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateAirticketAllocation()">Save</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

          <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit Airticket Rule </h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
        <form >

            <div class="row">


                <div class="col-md-6">


                    <div class="custom-sel">
                        <label>Policy</label>
                        <select class="form-control" id="policy" required [(ngModel)]="editAsset.policy"  [ngModelOptions]="{standalone: true}"  >
                            <option value="" >Select</option>
                            <option *ngFor="let user of Policies" [value]="user.id">{{ user.name }}</option>
                        </select>
                       
                    </div>
                                
                
                
                       
                       
                    
                </div> 
                
<div class="col-md-6" >
    <label>Rule Type</label>
    <div class="custom-sel">
      <select
        class="form-control" [(ngModel)]="editAsset.rule_type" [ngModelOptions]="{ standalone: true }">
        <option value="ONE_WAY">One Way Ticket </option>
        <option value="TWO_WAY">Two Way Ticket</option>
        <option value="ENCASHMENT">Encashment </option>
  
    
  
      </select>
    </div>
  </div>
  
                      

              <div class="col-md-6" >
               
                <label> required service years</label>
               <input type="number"  class="form-control" required  [(ngModel)]="editAsset.required_service_years"  placeholder="Enter required service years"
                [ngModelOptions]="{standalone: true}" >
               
          </div>
   
  



          



 
  <div class="col-md-6">
    <label></label>
    <div class="check-box-selection-sec form-control mt-3">
      <div class="mat-set">
        <mat-checkbox [(ngModel)]="editAsset.apply_in_next_payroll" [ngModelOptions]="{standalone: true}">apply in next payroll</mat-checkbox>
      </div>
    </div>
  </div>
     


  <div class="col-md-12">
    <label>remarks</label>
    <textarea class="form-control" [(ngModel)]="editAsset.remarks"  placeholder="Enter remarks... "
    [ngModelOptions]="{standalone: true}"></textarea>
</div>
   
      
   



    
            </div>

    
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn-Create btn-full mt-5 btn-success btn"
              (click)="updateAssetType()"
            >
              Update
            </button>
          </div>
        </div>
            
       
    </form>
    </div>
  </div>
  

        <div class="com_list mt-4" *ngIf="hasViewPermission">


          <table width="100%" *ngIf="hasViewPermission">
            <thead>
              <tr>
                <th>No</th>
                <th> Rule type</th>
                <th>Required service years</th>
                <th>Apply in next payroll</th>
                <th>Remarks</th>
                <th> Policy </th>

         
          
               
          
         
                <th>Action</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let docs of Allocations; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ docs.rule_type }}</td>
                <td>{{ docs.required_service_years }}</td>
                <td>{{ docs.apply_in_next_payroll }}</td>
                <td>{{ docs.remarks }}</td>
                <td>{{ docs.policy }}</td>

           
          
                <!-- Dynamic custom field values -->
            
                <td>
                  <button
                    mat-fab

                    color="primary"
                    aria-label="Edit icon"
                    *ngIf="showEditBtn"
                    (click)="openEditModal(docs)"
                  >
                    <mat-icon style="color: white;">draw</mat-icon>
                  </button>
                  <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected"></mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
          

        </div>
        </div>
        </div>
        