
<div class="sub-sidebar clickOutside">
  <mat-sidenav-container>
    <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
      <div class="wrapper">

        <div class="sidebar-top"> 
           <!-- Toggle Button (placed OUTSIDE sidebar) -->
    <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">×</span>
    </button>
              
  
        </div>
        <div class="sidebar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
          <ul>
                <li routerLink="/main-sidebar/asset-options/asset-type" *ngIf="hasViewPermissionAssetTypes"><a><mat-icon>business_center</mat-icon> Asset Types</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-master" *ngIf="hasViewPermissionAssetMaster"><a><mat-icon>business_center</mat-icon> Asset Master</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-approval" *ngIf="hasViewPermissionAssetApprovals"><a><mat-icon>business_center</mat-icon> Asset Approvals</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-escalation" *ngIf="hasViewPermissionAssetEsc"><a><mat-icon>business_center</mat-icon> Asset Escalation</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-allocation" *ngIf="hasViewPermissionAssetAllocation"><a><mat-icon>business_center</mat-icon> Asset Allocation</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-approvel-level" *ngIf="hasViewPermissionAssetAprlvl"><a><mat-icon>business_center</mat-icon> Asset Approval Level</a></li>
                <li routerLink="/main-sidebar/asset-options/asset-request" *ngIf="hasViewPermissionAssetRequest"><a><mat-icon>business_center</mat-icon> Asset Request</a></li>






  
                  <mat-nav-list>
     
  
  
                    <div>
            
            
                 
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
      <!-- <router-outlet></router-outlet> -->
  
    </mat-sidenav-container>
  
  </div>