<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">



        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Email Configuration</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedEmailConfig()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2> Email Configuration</h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
              <form  (ngSubmit)="RequestEmailConfg()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6" >
                   
                        <label>Email host</label>
                       <input type="text"  class="form-control" required  [(ngModel)]="email_host"  placeholder="Enter email host"
                        [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !email_host}">
                       
                       <div *ngIf="registerButtonClicked && !email_host" class="error-message">email_host is required.</div>
                  </div>
                  
        
        
                  <div class="col-md-6" >
                   
                    <label>Email port</label>
                   <input type="number"  class="form-control" required  [(ngModel)]="email_port"  placeholder="Enter email host"
                    [ngModelOptions]="{standalone: true}" >
                   
              </div>
              
        
              <div class="col-md-6" >
                   
                <label>Email host user</label>
               <input type="text"  class="form-control" required  [(ngModel)]="email_host_user"  placeholder="Enter email host user"
                [ngModelOptions]="{standalone: true}" >
               
          </div>
        
          
        <div class="col-md-6" >
                   
            <label>Email host Password</label>
           <input type="password"  class="form-control" required  [(ngModel)]="email_host_password"  placeholder="Enter email host Password"
            [ngModelOptions]="{standalone: true}" >
           
        </div>
        
        
        <div class="col-md-6">
            <label></label>
            <div class="check-box-selection-sec mt-2">
                <div class="mat-set">
                    <mat-checkbox [(ngModel)]="email_use_tls" [ngModelOptions]="{standalone: true}">Email use tls</mat-checkbox>
                </div>
               
            </div>
        </div>
        
        <div class="col-md-6">
            <label></label>
            <div class="check-box-selection-sec mt-2">
                <div class="mat-set">
                    <mat-checkbox [(ngModel)]="is_active" [ngModelOptions]="{standalone: true}">Is Active</mat-checkbox>
                </div>
               
            </div>
        </div>
              <!-- <div class="col-md-6">
        
        
                <div class="custom-sel">
                    <label>Approver</label>
                    <select class="form-control" id="approver" required [(ngModel)]="approver"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !approver}" >
                        <option value="" >Select</option>
                        <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
                    </select>
                    <div *ngIf="registerButtonClicked && !approver" class="error-message">Please Select approver  </div>
                </div>
                            
        
            </div> -->
        
              
        
           
        
        
        
                </div>
                <div class="row" *ngIf="hasAddPermission">
                    <div class="col-md-10">
        
                    </div>
        
                    <div class="col-md-2">
                        <button type="submit" class="btn-Create btn-full mt-5 btn-success btn" >Save</button>  
                     </div>
        
                     
                </div>
            </form>
        

            
            </div>
          </div>



              <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit Email Configuration</h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form>
        <div class="row">
            <div class="col-md-6" >
           
                <label>Email host</label>
               <input type="text"  class="form-control" required  [(ngModel)]="editAsset.email_host"  placeholder="Enter email host"
                [ngModelOptions]="{standalone: true}">
               
           
</div>


          <div class="col-md-6" >
           
            <label>Email port</label>
           <input type="number"  class="form-control" required  [(ngModel)]="editAsset.email_port"  placeholder="Enter email host"
            [ngModelOptions]="{standalone: true}" >
           
      </div>
      

      <div class="col-md-6" >
           
        <label>Email host user</label>
       <input type="text"  class="form-control" required  [(ngModel)]="editAsset.email_host_user"  placeholder="Enter email host user"
        [ngModelOptions]="{standalone: true}" >
       
  </div>

  
<div class="col-md-6" >
           
    <label>Email host Password</label>
   <input type="password"  class="form-control" required  [(ngModel)]="editAsset.email_host_password"  placeholder="Enter email host Password"
    [ngModelOptions]="{standalone: true}" >
   
</div>


<div class="col-md-6">
    <label></label>
    <div class="check-box-selection-sec mt-2">
        <div class="mat-set">
            <mat-checkbox [(ngModel)]="editAsset.email_use_tls" [ngModelOptions]="{standalone: true}">Email use tls</mat-checkbox>
        </div>
       
    </div>
</div>

<div class="col-md-6">
    <label></label>
    <div class="check-box-selection-sec mt-2">
        <div class="mat-set">
            <mat-checkbox [(ngModel)]="editAsset.is_active" [ngModelOptions]="{standalone: true}">Is Active</mat-checkbox>
        </div>
       
    </div>
</div>
     

      

   



        </div>
  
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn-Create btn-full mt-5 btn-success btn"
              (click)="updateAssetType()"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

        <div class="com_list mt-4">
            
            <table width="100%" *ngIf="hasViewPermission">
                <thead>
                  <tr>
                    <th>No</th>
                    <th> Email host  </th>
                    <th>Email Port</th>
                    <th>email use tls</th>
                    <th>email host user</th>
                    <th>email host password</th>
                    <th>is active</th>
                    <th>Actions</th>
    
        
                   
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let docs of EmailConfg;let i = index">
                    <td data-label="No">{{ i + 1 }}</td> 
                    <td data-label="Email host">{{ docs.email_host }}</td>
                    <td data-label="Email Port">{{ docs.email_port }}</td> 
                    <td data-label="email use tls">{{ docs.email_use_tls }}</td>
                    <td data-label="email host user">{{ docs.email_host_user }}</td>
                    <td data-label="email host password">{{ docs.email_host_password }}</td> 
                    <td data-label="is active">{{ docs.is_active }}</td>
                    <td data-label="Action">
                        <button
                          mat-fab
                          color="primary"
                          aria-label="Edit icon"
                          *ngIf="showEditBtn"

                          
                          (click)="openEditModal(docs)"
                        >
                          <mat-icon style="color: white;">draw</mat-icon>
                        </button>

                        <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>

                      </td>
                      
      
                  </tr>
              
                </tbody>
              </table>
      

        </div>


  


  

</div>
</div>
