<div class="container" >
    <div class="comapny_section " >
      
        <div class="tab_back ">
            <mat-tab-group> 
                <mat-tab label="Loan Request">
                    
                    <div class="tab_boddy">

                        <form (ngSubmit)="CreateLoanApplication()" enctype="multipart/form-data">
                            <div class="row">

                              <div class="col-md-4">
                                <label>Amount requested</label>
                                <input type="text" class="form-control" required [(ngModel)]="amount_requested" placeholder="Enter Amount requested"
                                       [ngModelOptions]="{standalone: true}" >
                              </div>
                          
                              <div class="col-md-4">
                                <label>Repayment period</label>
                                <input type="number" class="form-control" required [(ngModel)]="repayment_period" placeholder="Enter Repayment period"
                                       [ngModelOptions]="{standalone: true}">
                              
                              </div>
            
                              <div class="col-md-4">
                                <label>Emi amount</label>
                                <input type="text" class="form-control" required [(ngModel)]="emi_amount" placeholder="Enter Repayment period"
                                       [ngModelOptions]="{standalone: true}">
                              
                              </div>
                          
                           
            
                           
            
                              <div class="col-md-4">
                                <label>Remaining balance</label>
                                <input type="text" class="form-control" required [(ngModel)]="remaining_balance" placeholder="Enter remaining balance"
                                       [ngModelOptions]="{standalone: true}">
                              
                              </div>
                          
                          
            
                              <div class="col-md-6" style="display: none;" >
                                <label>Employee</label>
                                <div class="custom-sel">
                                  <select
                                    class="form-control"
                                    id="employee"
                                    name="employee"
                                    [(ngModel)]="employee"
                                    [ngModelOptions]="{ standalone: true }"
                                  >
                                    <option *ngFor="let employees of Employees" [value]="employees.id">
                                      {{ employees.emp_code }}
                                    </option>
                                  </select>
                                </div>
                              </div>
            
            
                              <div class="col-md-6" >
                                <label>Loan Type</label>
                                <div class="custom-sel">
                                  <select
                                    class="form-control"
                                    id="loan_type"
                                    name="loan_type"
                                    [(ngModel)]="loan_type"
                                    [ngModelOptions]="{ standalone: true }"
                                  >
                                    <option *ngFor="let employees of LoanTypes" [value]="employees.id">
                                      {{ employees.loan_type }}
                                    </option>
                                  </select>
                                </div>
                              </div>
            
            
                            </div>
                                

    

        
        
                            
                            
                            

                            <div class="row">
                              <div class="col-md-8"></div>
                              <div class="col-md-4">
                                <button type="submit" class="btn btn-success btn-full mt-4">Add Loan Application</button>
                              </div>
                            </div>
                          </form>
        
                     
                </div>
              </mat-tab>
                  <mat-tab label="Requested Loan Status">
       


                    <div class="tab_boddy">
                        <div *ngFor="let employee of Employees" class="row">
                          <div class="col-md-12">
                            <div class="">
                              <!-- Check if there are any leave requests -->
                              <div *ngIf="employee.loan_requests && employee.loan_requests.length > 0; else noLeaveRequests">
                                <!-- Loop through leave requests -->
                                <div  class="">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="leave_box" *ngFor="let request of employee.loan_requests" (click)="selectRequest(request.id)"
                                      [ngClass]="{'selected-request': selectedRequestId === request.id}">
                                        <div class="row">
                                          <div class="col-md-4">
                                            <label>Loan Type</label>
                                            <h6>{{ request.loan_type || 'N/A' }}</h6>
                                          </div>
                                          <div class="col-md-4">
                                            <label>Requested Amount</label>
                                            <h6>{{ request.amount_requested }}</h6>
                                          </div>
                                          <div class="col-md-4">
                                            <label>Emi Amount</label>
                                            <h6>{{ request.emi_amount }}</h6>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                      
                                    <div class="col-md-6" >
                                        <div *ngFor="let request of employee.leave_rqsts">
                                        
                                      <div class="leave_box"  *ngIf="selectedRequestId === request.id">
                                        <!-- Loop through approvals for the leave request -->
                                        <div class="approval-steps" *ngIf="request.approvals && request.approvals.length > 0">
                                          <h5>Leave Approval Status</h5><hr>
                                          <div *ngFor="let approval of request.approvals" class="row">
                                            <div class="col-md-3">
                                              <label>Status</label>
                                              <h6>{{ approval.status }}</h6>
                                            </div>
                                            <div class="col-md-3">
                                              <label>Role</label>
                                              <h6>{{ approval.role }}</h6>
                                            </div>
                                            <div class="col-md-3">
                                              <label>Approver</label>
                                              <h6>{{ approval.approver || 'N/A' }}</h6>
                                            </div>
                                            <div class="col-md-3">
                                              <label>Note</label>
                                              <h6>{{ approval.note || 'N/A' }}</h6>
                                            </div>
                                            <!-- <div class="col-md-2">
                                              <label>Updated At</label>
                                              <h6>{{ approval.updated_at }}</h6>
                                            </div> -->
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                    </div>
                                  </div>  
                                </div>
                              </div>
                              <!-- Template to show if no leave requests are present -->
                              <ng-template #noLeaveRequests>
                                <p>No leave requests available for this employee.</p>
                              </ng-template>
                            </div>
                          </div>

                           
                        </div>
                      </div>
                      

                       
                      
                      
                      </mat-tab>


      
                 
                      </mat-tab-group> 
      
                      </div>
       
       



      
    </div>
</div>







