.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}



/* FOCUS */
.form-control:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37,99,235,0.12);
}


/* TEXTAREA */
textarea.form-control {
  height: auto;
  min-height: 80px;
}

/* LABEL */
label {
  font-weight: 600;
  color: #334155;
  /* margin-bottom: 5px; */
  /* display: block; */
  font-size: 13px;
}


