<div class="container" *ngIf="hasViewPermission">
  <div class="comapny_section">



    <div class="header_section">

      <div class="row">
          <div class="col-md-4">
              <h1> Assigned Week Offs</h1>
          </div>

          <div class="col-md-3">
              
              <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

          </div>
          <div class="col-md-5">
              <div class="button-group pull-right">
                  <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                  </mat-icon></span> Create</button>
                <span *ngIf="!hasAddPermission"></span>

                  <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                      <span class="header-btn-icon">
                       <mat-icon>draw
                  </mat-icon></span> Edit</button>
                  <span *ngIf="hasEditPermission"></span>
                  
                  <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                      <span class="header-btn-icon">
                          <mat-icon> delete
                     </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                     <span *ngIf="!hasDeletePermission"></span>
              </div>
          </div>
      </div>
     
     

  </div>

  <div class="row">
      <div class="col-md-2">
          
          <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

      </div>
      <div class="col-md-3">
          <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

      </div>
  </div>




  <div *ngIf="iscreateLoanApp" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-10">
            <h2> Assign Week Calendar</h2>
          </div>
  <div class="col-md-2 text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeapplicationModal()">
      ×
    </span>
  </div>
        </div>
        <hr />
    
    
        <form >

          <div class="row">
            <div class="col-md-6" >
              <div class="custom-sel">
                  <label>Weekend Calendar
                     <span class="required-star">*</span>
                  </label>
                  <select class="form-control" id="weekend_model" required [(ngModel)]="weekend_model"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !weekend_model}" >
                      <option value="" >Select</option>
                      <option *ngFor="let deparmentsec of WeekCalendar" [value]="deparmentsec.id">{{ deparmentsec.description     }} </option>
                  </select>
                  <div *ngIf="registerButtonClicked && !weekend_model" class="error-message">Please Select calendar </div>
              </div>
          </div>
             
            </div>
  <!-- FILTER SECTION -->
<div class="filter-card mb-4">



  <div class="row g-3">

    <!-- Branch -->
     <div class="col-md-3">

    
      <div class="filter-select-card">

        <label class="filter-title">
          <mat-icon>apartment</mat-icon>
          Branch
        </label>
      
        <mat-form-field
          appearance="outline"
          class="modern-multi-select">
      
          <mat-select
          multiple
          [(ngModel)]="selectedBranches"
          [ngModelOptions]="{standalone:true}"
          (selectionChange)="applyEmployeeFilter()">
        
          <mat-checkbox
            class="select-all-checkbox"
            [checked]="isAllBranchesSelected()"
            [indeterminate]="isSomeBranchesSelected()"
            (click)="$event.stopPropagation()"
            (change)="toggleAllBranches()">
        
            Select All
        
          </mat-checkbox>
        
          <mat-option
            *ngFor="let item of branches"
            [value]="item.id">
        
            {{ item.branch_name }}
        
          </mat-option>
        
        </mat-select>
        </mat-form-field>
      
      </div>
   </div>

<div class="col-md-3">
  <div class="filter-select-card">

    <label class="filter-title">
      <mat-icon>corporate_fare</mat-icon>
      Department
    </label>
  
    <mat-form-field
      appearance="outline"
      class="modern-multi-select">
  
      <mat-select
      multiple
      [(ngModel)]="selectedDepartments"
      [ngModelOptions]="{standalone:true}"
      (selectionChange)="applyEmployeeFilter()">
    
      <mat-checkbox
        class="select-all-checkbox"
        [checked]="isAllDepartmentsSelected()"
        [indeterminate]="isSomeDepartmentsSelected()"
        (click)="$event.stopPropagation()"
        (change)="toggleAllDepartments()">
    
        Select All
    
      </mat-checkbox>
    
      <mat-option
        *ngFor="let item of Departments"
        [value]="item.id">
    
        {{ item.dept_name }}
    
      </mat-option>
    
    </mat-select>
  
    </mat-form-field>
  
  </div>

  </div>



<div class="col-md-3">
  <div class="filter-select-card">

    <label class="filter-title">
      <mat-icon>category</mat-icon>
      Category
    </label>
  
    <mat-form-field
      appearance="outline"
      class="modern-multi-select">
  
      <mat-select
  multiple
  [(ngModel)]="selectedCategories"
  [ngModelOptions]="{standalone:true}"
  (selectionChange)="applyEmployeeFilter()">

  <mat-checkbox
    class="select-all-checkbox"
    [checked]="isAllCategoriesSelected()"
    [indeterminate]="isSomeCategoriesSelected()"
    (click)="$event.stopPropagation()"
    (change)="toggleAllCategories()">

    Select All

  </mat-checkbox>

  <mat-option
    *ngFor="let item of Categories"
    [value]="item.id">

    {{ item.ctgry_title }}

  </mat-option>

</mat-select>
  
    </mat-form-field>
  
  </div>
  
  </div>

  
<div class="col-md-3">
  <div class="filter-select-card">

  <label class="filter-title">
    <mat-icon>badge</mat-icon>
    Designation
  </label>

  <mat-form-field
    appearance="outline"
    class="modern-multi-select">

    <mat-select
    multiple
    [(ngModel)]="selectedDesignations"
    [ngModelOptions]="{standalone:true}"
    (selectionChange)="applyEmployeeFilter()">
  
    <mat-checkbox
      class="select-all-checkbox"
      [checked]="isAllDesignationsSelected()"
      [indeterminate]="isSomeDesignationsSelected()"
      (click)="$event.stopPropagation()"
      (change)="toggleAllDesignations()">
  
      Select All
  
    </mat-checkbox>
  
    <mat-option
      *ngFor="let item of Designations"
      [value]="item.id">
  
      {{ item.desgntn_job_title }}
  
    </mat-option>
  
  </mat-select>

  </mat-form-field>

</div>
  
</div>



  </div>

  <div class="employee-card">


    <div class="table-responsive">
  
      <table class="employee-table">
  
        <thead>
  
          <tr>
  
            <th width="70">
  
              <mat-checkbox
                [(ngModel)]="allEmployeesSelected"
                [ngModelOptions]="{standalone:true}"
                (change)="toggleSelectAllEmployees()">
              </mat-checkbox>
  
            </th>
  
            <th>Employee</th>
            <th>Branch</th>
            <th>Department</th>
            <th>Category</th>
            <th>Designation</th>
  
          </tr>
  
        </thead>
  
        <tbody>
  
          <tr *ngFor="let emp of pagedEmployees">
  
            <td>
  
              <mat-checkbox
                [(ngModel)]="emp.selected"
                [ngModelOptions]="{standalone:true}">
              </mat-checkbox>
  
            </td>
  
            <td>
  
              <div class="employee-info">
  
                <div class="employee-avatar-wrapper">
              
                  <img
                    *ngIf="emp.emp_profile_pic"
                    [src]="emp.emp_profile_pic"
                    class="employee-avatar">
              
                  <div
                    *ngIf="!emp.emp_profile_pic"
                    class="employee-avatar-placeholder">
              
                    <mat-icon>person</mat-icon>
              
                  </div>
              
                </div>
              
                <div>
              
                  <div class="employee-name">
                    {{ emp.emp_first_name }}
                    {{ emp.emp_last_name }}
                  </div>
              
                  <div class="employee-code">
                    {{ emp.emp_code }}
                  </div>
              
                </div>
              
              </div>
            </td>
  
            <td>
              <span class="custom-badge blue">
                {{ emp.emp_branch_id }}
              </span>
            </td>
  
            <td>
              <span class="custom-badge green">
                {{ emp.emp_dept_id }}
              </span>
            </td>
  
            <td>
              <span class="custom-badge orange">
                {{ emp.emp_ctgry_id }}
              </span>
            </td>
  
            <td>
              <span class="custom-badge purple">
                {{ emp.emp_desgntn_id }}
              </span>
            </td>
  
          </tr>
  
        </tbody>
  
      </table>
  
      <div class="pagination-container">
  
        <button
          class="page-btn"
          (click)="previousPage()"
          [disabled]="currentPage === 1">
      
          Previous
      
        </button>
      
        <button
          *ngFor="let page of pageNumbers"
          class="page-number"
          [class.active]="currentPage === page"
          (click)="goToPage(page)">
      
          {{ page }}
      
        </button>
      
        <button
          class="page-btn"
          (click)="nextPage()"
          [disabled]="currentPage === totalPages">
      
          Next
      
        </button>
      
      </div>
  
    </div>
  
  </div>
         


</div>






  
  <div class="row">
    <div class="col-md-8">
  
    </div>
    <div class="col-md-2">
      <button type="button" class="btn-Create btn-full mt-5 btn-danger btn" *ngIf="hasAddPermission" 
      (click)="closeapplicationModal()">close</button>  
   </div>
  
    <div class="col-md-2">
        <button type="button" class="btn-Create btn-full mt-5 btn-success btn" *ngIf="hasAddPermission" (click)="registerAssignCalendar()">Add</button>  
     </div>
  </div>
     
    </form>
      
      </div>
    </div>

    <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
<div class="modal-content">
<div class="row">
  <div class="col-md-10">
    <h2>Edit Assign Weeke offs</h2>
  </div>
   <div class="col-md-2 text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeEditModal()">
      ×
    </span>
  </div>
</div>
<hr />

<form>

  <div class="row">
    <div class="col-md-6" >
      <div class="custom-sel">
          <label>Weekend Calendar</label>
          <select
          class="form-control"
          [(ngModel)]="editAsset.weekend_model"
          [ngModelOptions]="{standalone:true}">
        
          <option [ngValue]="null">
            Select
          </option>
        
          <option
            *ngFor="let item of WeekCalendar"
            [ngValue]="item.id">
        
            {{ item.description }}
        
          </option>
        
        </select>
      </div>
  </div>
  
  </div>


  <div class="row g-3">

    <!-- Branch -->
  
    <div class="col-md-3">
  
      <div class="filter-select-card">
  
        <label class="filter-title">
          <mat-icon>apartment</mat-icon>
          Branch
        </label>
  
        <mat-form-field appearance="outline" class="modern-multi-select">
  
          <mat-select
            multiple
            [(ngModel)]="editSelectedBranches"
            [ngModelOptions]="{standalone:true}"
            (selectionChange)="applyEditEmployeeFilter()">
  
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllEditBranchesSelected()"
              [indeterminate]="isSomeEditBranchesSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllEditBranches()">
  
              Select All
  
            </mat-checkbox>
  
            <mat-option
              *ngFor="let item of branches"
              [value]="item.id">
  
              {{ item.branch_name }}
  
            </mat-option>
  
          </mat-select>
  
        </mat-form-field>
  
      </div>
  
    </div>
  
    <!-- Department -->
  
    <div class="col-md-3">
  
      <div class="filter-select-card">
  
        <label class="filter-title">
          <mat-icon>corporate_fare</mat-icon>
          Department
        </label>
  
        <mat-form-field appearance="outline" class="modern-multi-select">
  
          <mat-select
            multiple
            [(ngModel)]="editSelectedDepartments"
            [ngModelOptions]="{standalone:true}"
            (selectionChange)="applyEditEmployeeFilter()">
  
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllEditDepartmentsSelected()"
              [indeterminate]="isSomeEditDepartmentsSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllEditDepartments()">
  
              Select All
  
            </mat-checkbox>
  
            <mat-option
              *ngFor="let item of Departments"
              [value]="item.id">
  
              {{ item.dept_name }}
  
            </mat-option>
  
          </mat-select>
  
        </mat-form-field>
  
      </div>
  
    </div>
  
    <!-- Category -->
  
    <div class="col-md-3">
  
      <div class="filter-select-card">
  
        <label class="filter-title">
          <mat-icon>category</mat-icon>
          Category
        </label>
  
        <mat-form-field appearance="outline" class="modern-multi-select">
  
          <mat-select
            multiple
            [(ngModel)]="editSelectedCategories"
            [ngModelOptions]="{standalone:true}"
            (selectionChange)="applyEditEmployeeFilter()">
  
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllEditCategoriesSelected()"
              [indeterminate]="isSomeEditCategoriesSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllEditCategories()">
  
              Select All
  
            </mat-checkbox>
  
            <mat-option
              *ngFor="let item of Categories"
              [value]="item.id">
  
              {{ item.ctgry_title }}
  
            </mat-option>
  
          </mat-select>
  
        </mat-form-field>
  
      </div>
  
    </div>
  
    <!-- Designation -->
  
    <div class="col-md-3">
  
      <div class="filter-select-card">
  
        <label class="filter-title">
          <mat-icon>badge</mat-icon>
          Designation
        </label>
  
        <mat-form-field appearance="outline" class="modern-multi-select">
  
          <mat-select
            multiple
            [(ngModel)]="editSelectedDesignations"
            [ngModelOptions]="{standalone:true}"
            (selectionChange)="applyEditEmployeeFilter()">
  
            <mat-checkbox
              class="select-all-checkbox"
              [checked]="isAllEditDesignationsSelected()"
              [indeterminate]="isSomeEditDesignationsSelected()"
              (click)="$event.stopPropagation()"
              (change)="toggleAllEditDesignations()">
  
              Select All
  
            </mat-checkbox>
  
            <mat-option
              *ngFor="let item of Designations"
              [value]="item.id">
  
              {{ item.desgntn_job_title }}
  
            </mat-option>
  
          </mat-select>
  
        </mat-form-field>
  
      </div>
  
    </div>
  
  </div>


<div class="employee-card">


  <div class="table-responsive">

    <table class="employee-table">

      <thead>

        <tr>

          <th width="70">

            <mat-checkbox
             
              [ngModelOptions]="{standalone:true}"
              [(ngModel)]="editAllEmployeesSelected"
              (change)="toggleSelectAllEditEmployees()">
            </mat-checkbox>

          </th>

          <th>Employee</th>
          <th>Branch</th>
          <th>Department</th>
          <th>Category</th>
          <th>Designation</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let emp of editPagedEmployees">
        
          <td>
        
            <mat-checkbox
              [(ngModel)]="emp.selected"
              [ngModelOptions]="{standalone:true}">
            </mat-checkbox>
        
          </td>
        
          <td>
        
            <div class="employee-info">
        
              <div class="employee-avatar-wrapper">
        
                <img
                  *ngIf="emp.emp_profile_pic"
                  [src]="emp.emp_profile_pic"
                  class="employee-avatar">
        
                <div
                  *ngIf="!emp.emp_profile_pic"
                  class="employee-avatar-placeholder">
        
                  <mat-icon>person</mat-icon>
        
                </div>
        
              </div>
        
              <div>
        
                <div class="employee-name">
                  {{ emp.emp_first_name }}
                  {{ emp.emp_last_name }}
                </div>
        
                <div class="employee-code">
                  {{ emp.emp_code }}
                </div>
        
              </div>
        
            </div>
        
          </td>
        
          <td>
            <span class="custom-badge blue">
              {{ emp.emp_branch_id }}
            </span>
          </td>
        
          <td>
            <span class="custom-badge green">
              {{ emp.emp_dept_id }}
            </span>
          </td>
        
          <td>
            <span class="custom-badge orange">
              {{ emp.emp_ctgry_id }}
            </span>
          </td>
        
          <td>
            <span class="custom-badge purple">
              {{ emp.emp_desgntn_id }}
            </span>
          </td>
        
        </tr>
        
        </tbody>
    
</table>

<div class="pagination-container">

  <button
    class="page-btn"
    (click)="editPreviousPage()"
    [disabled]="editCurrentPage === 1">

    Previous

  </button>

  <button
    *ngFor="let page of editPageNumbers"
    class="page-number"
    [class.active]="editCurrentPage === page"
    (click)="editGoToPage(page)">

    {{ page }}

  </button>

  <button
    class="page-btn"
    (click)="editNextPage()"
    [disabled]="editCurrentPage === editTotalPages">

    Next

  </button>

</div>
</div>
</div>
  
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button type="button" class="btn-Create btn btn-full mt-5 btn-danger" *ngIf="hasAddPermission" 
      (click)="closeEditModal()">close</button>  
   </div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn-Create btn-full mt-5 btn-success btn"
        (click)="updateAssetType()"
      >
        Update
      </button>
    </div>
  </div>
</form>


</div>
</div>




    


      <div class="com_list  mt-4" style="border-top: white;">
      

      <div class="table-responsive mt-4">
<table width="100%">
  <thead>
    <tr>
      <th>No</th>
      <th>Weekend Calendar</th>
      <th>Branch</th>
      <th>Department</th>
      <th>Category</th>
      <th>Designation</th>

      <th>Employee</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of filteredDocuments; let i = index">
      <td data-label="No">{{ i + 1 }}</td>
      <td data-label="Weekend Calendar">{{ detail.weekend_model }}</td>
      <td data-label="Branch">
        {{ (detail.branch && detail.branch.length > 0) ? detail.branch.join(', ') : 'Null' }}
      </td>
      <td data-label="Department">
        {{ (detail.department && detail.department.length > 0) ? detail.department.join(', ') : 'Null' }}
      </td>
      <td data-label="Category">
        {{ (detail.category && detail.category.length > 0) ? detail.category.join(', ') : 'Null' }}
      </td>
      <td data-label="Designation ">
        {{ (detail.designation && detail.designation.length > 0) ? detail.designation.join(', ') : 'Null' }}
      </td>
      <td data-label="Employee">
        {{ (detail.employee && detail.employee.length > 0) ? detail.employee.join(', ') : 'Null' }}
      </td>
      <td data-label="Action">
        <button
          mat-fab
          color="primary"
          aria-label="Edit icon"
          *ngIf="showEditBtn"

          
          (click)="openEditModal(detail)"
        >
          <mat-icon style="color: white;">draw</mat-icon>
        </button>

        <mat-checkbox *ngIf="Delete" [(ngModel)]="detail.selected" ></mat-checkbox>

      </td>
      
    </tr>
  </tbody>
</table>
</div>

        
        </div>



</div>


</div>

   

