


body{
    background: whitesmoke !important;
}

.bg-white{
    background-color: black !important;
  }

/* Sidebar */
.sidebar {
    position: 
    
    fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 260px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    /* border-radius: 5px; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

     .menu-close{
        width: 3.4% !important;
    }
    
    
    
     .menu-open{
        width: 19% !important;
    }

    .sidebar{
        overflow: hidden;
    }
    .list-group :hover{

        border: solid 1.5px grey;

    }

    .list-group span :hover{
        border: none;
    }
    .list-group a :hover{
        border: none;
    }

    .list-group a{
        text-wrap: nowrap;
    }
    
    .mat-icon{
        margin-bottom: -7px;
    }


    .list-group{
        align-items: flex-end;
    }

    .sidenav-opt{
        margin-left: 10px;
        font-size: 14px;
    }

    

    .content-dash{
        background: whitesmoke;
         /* width: 100%;
         height: 3000px; */
         margin-left: 20%; 
         margin-top: 70px;
         padding: 20px;
    }

    

    .admin-det{
        padding: 7px 15px;
        display: flex;
        position: relative;
        width: 100%;
        height: 100px;
        
    }

    .detail_ico{
        background: linear-gradient(steelblue, darkslateblue);
        padding: 20px;
        width: 30%;
        text-align: center;
    }
    .detail_ico .icon-det{
        color: white;
        height: 50px;
        width: 50px;
        font-size: 40px;
        text-align: center
    }

    .details_con{
        background:white ;
        padding:  15px;
        width: 70%;
    }

    .details_con h2{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
     
        text-transform: uppercase;
        background: -webkit-linear-gradient(90deg, #0cbaba, #380036);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    .admin-emp-clr .detail_ico{
        background: linear-gradient(#40b59b, #074c6e);;
    }


    .admin-emp-clr .details_con h2{
        background: -webkit-linear-gradient(90deg, #40b59b, #074c6e);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;

    }

    .admin-lev-clr .detail_ico{
        background: linear-gradient(#c79217, #8f0c0c);
    }

    .admin-lev-clr .details_con h2{
        background: -webkit-linear-gradient(90deg, #c79217, #8f0c0c);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;

    }
    
    


.Company_pro{
    /* background: white; */
    padding: 7px 10px 2px 10px  ;
    margin-top: 10px;
    border: solid 1px  white;
    /* display: flex; */
    justify-content: space-between;
    cursor: pointer;
    /* position: absolute; */
}

.form_conrtl_height{
    height: 25px !important;
    padding:0px !important;
    width: auto !important;
}


.Company_pro h1{
    font-size: 14px;
    color: white;
    margin-left: 5px;

}

.Company_pro .mat-icon{
    color: white;
    /* margin-left: 10px; */
    font-size: 20px;

}

.company_change{
    margin-top: 90px;
    background: white;
    padding: 30px;
    width: 45%;
    margin-left: 100px;
}

.cmp_list:hover {
    color: black;
}

.cmp_list{
    margin-top: 8px;
}


.board_user{
    padding: 20px;
    background: white;
    width: 200px;
    float: right;
    margin-right: 50px;
    margin-top: 70px;
    position: absolute;
}


.user_logged_outer{
    display: flex;
    width: auto;
    margin-top: 10px;
    margin-left: 15px;

}

.user_logged_outer .mat-icon{
    font-size: 30px;
    height: 30px;
    width: 35px;
    margin-left: 3px;
}

.user_logged_outer h1{
    font-size: 14px;
    color: white;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;


}

.user_logged_in{
    /* border-radius: 10px; */
    background: linear-gradient(#0076ec, #31148c);


height: 35px;
width: 35px;



}



.user_logged_outer{



    border: solid 1px white;


}



.cmp_drop{
    /* position: absolute; */
    display: inline-flex;
    margin-top: -45px;
    z-index: -10000000;
}

.drop_chosse{
    opacity: -1;
    margin-left: 45px;
}
.company_bor{
    border: none !important;
}

.list-group-item.active {
    background-color: transparent;
    color: white;
    border-left: solid 4px #5c1e7f;
    border-color: #5c1e7f;
  }

  .list-group-item .mat-icon{
    margin-left: -7px;

  }

/* .list-group-flush:first-child .list-group-item:first-child {
    border-top: 8;

} */



.blur-background {
    filter: blur(5px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Disable interactions with blurred elements */
  }
  
  .loader-container {
    display: none; /* Hide loader by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  
  .loader-container.show {
    display: flex;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .sidenav-opt{
    font-family: math;
  }



  .comapny_section{

    margin-top: 100px;
    margin-left: 50px;
    
}

.header_section{
    background: white;
    padding: 24px 20px 15px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    border-bottom: solid 3px navy;
}

.header_section h1{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;

}


.com_list{
    padding: 20px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-top: solid 3px navy;
    margin-bottom: 20px;


}

.com_list h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

  
table thead th {
    color: #ffffff;
    background: #004976;
    padding: 15px;
    border: 1px solid #ebebec;
    font-weight: 500;
  }
  
  table tr {
    background: #ffffff;
  }
  
  table tr td {
    border: 1px solid #e6edf1;
    padding: 15px;
  }

  .menu_mob{
    display: none;
  }
 

  /* dashboard page styles here 
  ----------------------------- */


  .approval_sec{

    margin-top: 150px;
    margin-left: 200px;
    padding: 20px;
    background: white;
    width: 100%;

  }




  
/* Add your CSS styles here */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    height: auto;
  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal h2{
  
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: math;
  }

  .bg-white{
    background-color: black !important;
  }

  .list-group-item-action:focus, .list-group-item-action:hover {

    background-color: transparent !important;
  }

  .list-group a {
    border-bottom: solid 0px black;
}

#sidebarMenu {
  overflow-y: scroll; /* enables vertical scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
 /* .lap_view{
    display: block;
  } */

#sidebarMenu::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

 

  .mobview {
    display: none;
  }


/* mobile responsive */

  @media only screen and (max-width: 640px) {
    table thead {
      display: none;
    }
  
    table tbody {
      display: block;
    }
  
    table tbody tr td {
      display: flex;
      align-items: center;
      padding: 0;
    }
  
    table tbody tr {
      margin-bottom: 20px;
      display: block;
      border: 1px solid #004976;
      background: #f9f9f9;
      overflow: hidden;
    }
  
    table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      width: 30%;
      display: flex;
      background: #004976;
      color: #fff;
      padding: 15px;
      margin-inline-end: 10px;
    }


    .comapny_section{
      margin-left: 0px !important;
    }

    /* .nav_mov{
      width: 95%;
    } */

    .menu-open{
      width: 70% !important;
    }

    /* Toggle button */
  .menu_mob {
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 5px;
    background: #3a1c4f;
    color: #f6e57a8e;
    border: none;
    border-radius: 4px;
    z-index: 1100;
  }

  /* Sidebar collapsed (hidden) */
  #sidebarMenu.menu-close {
    transform: translateX(-100%);
    width: 0;
    overflow: hidden;
  }

  /* Sidebar open (visible) */
  #sidebarMenu.menu-open {
    transform: translateX(0);
    width: 70% !important;
    position: fixed;
    top: 54px;
    left: 0;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  }

  /* Push main content when sidebar is open */
  .content-shift {
    margin-left: 70%;
    transition: margin-left 0.3s ease-in-out;
  }
/* logo style */
  .navbar-brand{
    margin-left: 30px;


  }

  /* .notiicon{

     margin-top: -68px;
  } */

  .lap_view{
    display: none;
  }
  .mobview{
    display: block;
    padding: 8px 20px 3px 20px;
  }


  .mobview .Company_pro h1{
    font-size: 12px;
  }

  .col-9 {
    flex: 0 0 auto;
    width: 40%;
}

.col-3 {
    flex: 1 0 auto;
    width: 25%;
}

.user_logged_outer[_ngcontent-ng-c683336099] h1[_ngcontent-ng-c683336099] {
    font-size: 14px;
    color: white;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 10px;
}

  }
  
  .notiicon {
    position: relative;
  }
  
  .dropdown-menu {
    border-radius: 12px;
    border: none;
  }
  
  .dropdown-item {
    border-radius: 8px;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f5f6fa;
  }
  
  .badge.bg-primary {
    font-size: 10px;
    padding: 4px 8px;
  }
  
  .flash-highlight {
    background-color: #d1e7dd !important;
    transition: background-color 0.6s ease;
    animation: flash 0.8s ease-in-out;
  }
  
  @keyframes flash {
    0% {
      background-color: #d1e7dd;
    }
    50% {
      background-color: #c3e6cb;
    }
    100% {
      background-color: transparent;
    }
  }



  /* Outer Dropdown Box */
.sketch-dropdown-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: 300px;
  background: white;
  border: 2px solid #333; /* Bold outer border like your drawing */
  padding: 10px;
  z-index: 1000;
  border-radius: 4px;
}

.sketch-dropdown-menu.show { display: block; }

/* Schema Wrapper */
.schema-block {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

/* Schema Label Row */
.schema-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
  background: #fdfdfd;
}

/* Nested Branch Container */
.branch-container {
  padding: 10px;
  border-top: 1px solid #eee;
  background: #f9f9f9;
}

/* Individual Branch Boxes (The "Branch 1" boxes in your sketch) */
.branch-card {
  border: 1px solid #444;
  margin-bottom: 8px;
  padding: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  font-size: 13px;
}

.branch-card:hover {
  background: #eef6ff;
  border-color: #007bff;
  color: #007bff;
}

.branch-card:last-child { margin-bottom: 0; }


/* Container: Soft shadows and refined border */
.standard-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 320px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid #eef0f2;
  z-index: 1050;
  overflow: hidden;
}

.standard-dropdown.show { display: block; animation: slideDown 0.2s ease-out; }

/* Header: Muted professional label */
.menu-header {
  padding: 16px 20px;
  background: #fcfdfe;
  border-bottom: 1px solid #f1f3f5;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #64748b;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.menu-header mat-icon { font-size: 18px; width: 18px; height: 18px; }

/* Organization Row */
.schema-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.schema-row:hover { background: #f8fafc; }

.schema-info { display: flex; align-items: center; gap: 12px; }

/* Letter Avatar for a modern feel */
.avatar {
  width: 32px;
  height: 32px;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.company-name {
  font-size: 14px;
  font-weight: 600;
  color: #1e293b;
}

.chevron-icon { color: #94a3b8; font-size: 20px; }

/* Branch Wrapper: Subtle indentation */
.branch-wrapper {
  background: #f1f5f9;
  padding: 8px 12px;
}

.branch-option {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 4px;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid transparent;
}

.branch-option:hover {
  border-color: #3b82f6;
  background: #eff6ff;
  transform: translateX(4px);
}

.branch-dot {
  width: 6px;
  height: 6px;
  background: #cbd5e1;
  border-radius: 50%;
  margin-right: 12px;
}

.branch-option:hover .branch-dot { background: #3b82f6; }

.branch-name {
  flex: 1;
  font-size: 13px;
  color: #475569;
  font-weight: 500;
}

.go-icon { font-size: 16px; color: #94a3b8; opacity: 0; transition: 0.2s; }
.branch-option:hover .go-icon { opacity: 1; }

.empty-state {
  padding: 12px;
  text-align: center;
  color: #94a3b8;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Animation */
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}


/* Container remains fixed */
.standard-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 320px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid #eef0f2;
  z-index: 1050;
  overflow: hidden; /* Clips the inner scroll content to the border radius */
}

/* Scrollable Container */
.scrollable-content {
  max-height: 400px; /* Adjust this height as needed */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom Modern Scrollbar Styling */
.scrollable-content::-webkit-scrollbar {
  width: 6px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Ensure the header stays at the top */
.menu-header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 16px 20px;
  background: #fcfdfe;
  border-bottom: 1px solid #f1f3f5;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #64748b;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}