<div class="container">
    <div class="comapny_section" *ngIf="hasViewPermission">
        <div class="com_list " >

                <h2>Create Leave Type</h2>
                <hr>
                
                <form (ngSubmit)="registerleaveType()" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-4">
                <label>Name</label>
                <input type="text" class="form-control" required [(ngModel)]="name" placeholder="Enter name"
                       [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
              </div>
          
              <div class="col-md-4">
                <label>Code</label>
                <input type="text" class="form-control" required [(ngModel)]="code" placeholder="Enter code"
                       [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !code}">
              </div>
          
              <div class="col-md-4">
                <label>Leave Type</label>
                <div class="custom-sel">
                  <select class="form-control" id="type" name="type" [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
                    <option>paid</option>
                    <option>unpaid</option>
                  </select>
                </div>
              </div>
              
              <div class="col-md-4">
                <label>Leave Unit</label>
                <div class="custom-sel">
                  <select class="form-control" id="unit" name="unit" [(ngModel)]="unit" [ngModelOptions]="{standalone: true}">
                    <option>days</option>
                    <option>hours</option>
                  </select>
                </div>
              </div>
          
              <div class="col-md-4">
                <label>Valid From</label>
                <input type="date" class="form-control" required [(ngModel)]="valid_from" placeholder="Enter valid from"
                       [ngModelOptions]="{standalone: true}" >
              </div>
           
              <div class="col-md-4">
                <label>Valid To</label>
                <input type="date" class="form-control" required [(ngModel)]="valid_to" placeholder="Enter valid to"
                       [ngModelOptions]="{standalone: true}" >
              </div>

           <div class="col-md-4">
                <div class="custom-sel">
                    <label>Select Branches</label>
                     <div class="form-control-wrapper">

              <mat-form-field>
             
              <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #selectBrach multiple>
                <div class="select-all">
                  <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                    Select All
                  </mat-checkbox>
                </div>
                <input type="text" placeholder="serach" class="form-control">

                <mat-option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>

              
              <!-- <div class="col-md-4">
                <label for="image">Leave Type Image</label>
                <input type="file" class="form-control" id="image" name="image" (change)="onFileSelected($event)">
              </div> -->
          
              <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec form-control mt-3">
                  <div class="mat-set">
                    <mat-checkbox [(ngModel)]="negative" [ngModelOptions]="{standalone: true}">Negative</mat-checkbox>
                  </div>
                </div>
              </div>
          
              <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec form-control mt-3">
                  <div class="mat-set">
                    <mat-checkbox [(ngModel)]="allow_half_day" [ngModelOptions]="{standalone: true}">Allow Half Day</mat-checkbox>
                  </div>
                </div>
              </div>

                <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec form-control mt-3">
                  <div class="mat-set">
                    <mat-checkbox [(ngModel)]="include_holiday" [ngModelOptions]="{standalone: true}">Include Holiday</mat-checkbox>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <label></label>
                <div class="check-box-selection-sec form-control mt-3">
                  <div class="mat-set">
                    <mat-checkbox [(ngModel)]="include_weekend" [ngModelOptions]="{standalone: true}">Include Weekend</mat-checkbox>
                  </div>
                </div>
              </div>

                  <div class="col-md-4">
                        <label></label>
                        <div class="check-box-selection-sec form-control mt-3">
                          <div class="mat-set">
                            <mat-checkbox [(ngModel)]="include_dashboard" [ngModelOptions]="{standalone: true}">Include Dashboard</mat-checkbox>
                          </div>
                        </div>
                      </div>
          
  
              <div class="col-md-6">
                <label>Description</label>
                <textarea class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
              
            </div>
                  
                    <div class="row" *ngIf="hasAddPermission">
                      <div class="col-md-9"></div>
                      <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-full mt-4">Add Leave Type</button>
                      </div>
                    </div>
                  </form>
                  





            </div>

        </div>





</div>