<div class="container" >
    <div class="comapny_section">
        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Gratuity Master</h1>
                </div>
                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " ><span class="header-btn-icon"><i class="fa-solid fa-circle-plus"></i>
                        </span> Create</button>
                        <!-- <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>

                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
                           
                           <span *ngIf="!hasDeletePermission"></span> -->
                    </div>
                </div>
            </div>
           
           

        </div>


      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2> Create Gratuity </h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

            <div class="row">
                <div class="col-md-6" >
               
                    <label>Minimum value</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="minimum_value"  placeholder="Enter minimum value"
                    [ngModelOptions]="{standalone: true}" >
                   
              </div>
              

              <div class="col-md-6" >
               
                <label>Maximum value</label>
               <input type="text"  class="form-control" required  [(ngModel)]="maximum_value"  placeholder="Enter Maximum value"
                [ngModelOptions]="{standalone: true}" >
               
          </div>

          
          <div class="col-md-6" >
               
            <label>Resignation days</label>
           <input type="number"  class="form-control" required  [(ngModel)]="resignation_days"  placeholder="Enter Repayment period"
            [ngModelOptions]="{standalone: true}" >
           
      </div>

      
      <div class="col-md-6" >
               
        <label>Termination days</label>
       <input type="number"  class="form-control" required  [(ngModel)]="termination_days"  placeholder="Enter Repayment period"
        [ngModelOptions]="{standalone: true}" >
       
  </div>

        
          <div class="col-md-6 mt-4">
            <div class="check-box-selection-sec form-control">
                <div class="mat-set">
                    <mat-checkbox [(ngModel)]="is_active" [ngModelOptions]="{standalone: true}">is active</mat-checkbox>
                </div>
               
            </div>
        </div>
       



            </div>


            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateLoanType()">Save</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

        <div class="com_list mt-4" *ngIf="hasViewPermission">


            <table width="100%" *ngIf="hasViewPermission">
                <thead>
                  <tr>
                    <th>No</th>
                    <th> Minimum Value  </th>
                    <th>Maximum Value</th>
                    <th>Resignation days</th>
                    <th>Termination days</th>
                    <th>Active Status</th>

        
                   
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let docs of LoanTypes;let i = index">
                    <td>{{ i + 1 }}</td> 
                    <td>{{ docs.minimum_value }}</td>
                    <td>{{ docs.maximum_value }}</td> 
                    <td>{{ docs.resignation_days }}</td>
                    <td>{{ docs.termination_days }}</td>
                    <td>{{ docs.is_active }}</td>

                  </tr>
              
                </tbody>
              </table>

        </div>
        </div>
        </div>
        
