<div class="container" *ngIf="hasViewPermission">


    <div class="comapny_section">

      <div class="header_section">

        <div class="row">
          <div class="col-md-4">
            <h1> Advance Salary Request </h1>
          </div>
          <div class="col-md-3">
  
            <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->
  
          </div>
          <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
      <div class="row">
        <div class="col-md-2">
  
          <button class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete"
            (click)="toggleSelectAllEmployees()">Select All</button>
  
        </div>
        <div class="col-md-3">
          <button class=" mt-3 btn-danger btn" color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete
            Selected </button>
  
        </div>
      </div>
  
  
        
  
          <div *ngIf="iscreateLoanApp" class="modal">
              <div class="modal-content">
                <div class="row">
                  <div class="col-md-10">
                    <h2>  Advance Salary Request </h2>
                  </div>
                  <div class="col-md-2">
                    <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                  </div>
                </div>
                <hr />
            
                <form (ngSubmit)="SetLeaveApprovaLevel()" enctype="multipart/form-data">
                  <div class="row">
<div class="col-md-6">
  <label>Document Number</label>
  <input 
    type="text" 
    class="form-control" 
    [(ngModel)]="document_number" 
    placeholder="Enter document number"
    [disabled]="automaticNumbering"
    [ngModelOptions]="{standalone: true}"
    [required]="!automaticNumbering"  
  >

  <!-- Optional: show hint when disabled -->
  <small *ngIf="automaticNumbering" class="text-muted">
    Document number will be auto-generated
  </small>
</div>

             <div class="col-md-3">
                <div class="custom-sel">
                    <label>Select Branches</label>
                    <select class="form-control" id="branch" required [(ngModel)]="branch" (change)="onBranchChange($event)" [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                        <option value="">Select</option>
                        <option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
                    </select>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>
                    <div class="col-md-6">
                      <label>Requested amount</label>
                      <input type="number" class="form-control" required [(ngModel)]="requested_amount" placeholder="Enter requested amount"
                             [ngModelOptions]="{standalone: true}" >
                    </div>
                
                    <div class="col-md-6">
                      <label>reason</label>
                      <input type="text" class="form-control" required [(ngModel)]="reason" placeholder="Enter reason"
                             [ngModelOptions]="{standalone: true}" >
                    </div>

                  
                    <div class="col-md-6">
                      <label>Remark</label>
                      <input type="text" class="form-control" required [(ngModel)]="remarks" placeholder="Enter remarks"
                             [ngModelOptions]="{standalone: true}" >
                    </div>
                  

               
              
            

       

              
                    <div class="col-md-6">
                      <label>Employee</label>
                      <div class="custom-sel">
                        <select class="form-control" id="employee" name="employee" [(ngModel)]="employee" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let approver of Employee" [value]="approver.id">{{ approver.emp_code }}</option>
                        </select>
                      </div>
                    </div>
                    


                

              
                     
               
                
               
                  </div>
                
                  <div class="row" >
                    <div class="col-md-8"></div>
                  <div class="col-md-2">
                    <button type="button" (click)="closeapplicationModal()" class="btn btn-danger btn-full mt-4">Close</button>
      
                  </div>
                  <div class="col-md-2">
                    <button type="submit" class="btn btn-success btn-full mt-4">Add</button>
                  </div>
                  </div>
                </form>

                
  
              
              </div>
            </div>
  
  
                <!-- Edit Modal -->
      <div *ngIf="isEditModalOpen" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col-md-10">
              <h2>Edit Advance Salary Request </h2>
            </div>
            <div class="col-md-2">
              <span class="close pull-right" (click)="closeEditModal()">&times;</span>
            </div>
          </div>
          <hr />
  
          <form>
            <div class="row">
<div class="col-md-6">
  <label>Document Number</label>
  <input 
    type="text" 
    class="form-control" 
    [(ngModel)]="editAsset.document_number" 
    placeholder="Enter document number"
    [disabled]="automaticNumbering"
    [ngModelOptions]="{standalone: true}"
    [required]="!automaticNumbering"  
  >

  <!-- Optional: show hint when disabled -->
  <small *ngIf="automaticNumbering" class="text-muted">
    Document number will be auto-generated
  </small>
</div>


             <div class="col-md-3">
                <div class="custom-sel">
                    <label>Select Branches</label>
                    <select class="form-control" id="branch" required [(ngModel)]="editAsset.branch" (change)="onBranchChange($event)" [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                        <option value="">Select</option>
                        <option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
                    </select>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>


              <div class="col-md-6">
                <label>Requested amount</label>
                <input type="number" class="form-control" required [(ngModel)]="editAsset.requested_amount" placeholder="Enter requested amount"
                       [ngModelOptions]="{standalone: true}" >
              </div>
          
              <div class="col-md-6">
                <label>reason</label>
                <input type="text" class="form-control" required [(ngModel)]="editAsset.reason" placeholder="Enter reason"
                       [ngModelOptions]="{standalone: true}" >
              </div>

            
              <div class="col-md-6">
                <label>Remark</label>
                <input type="text" class="form-control" required [(ngModel)]="editAsset.remarks" placeholder="Enter remarks"
                       [ngModelOptions]="{standalone: true}" >
              </div>
            

         
        
      

 

        
              <div class="col-md-6">
                <label>Employee</label>
                <div class="custom-sel">
                  <select class="form-control" id="employee" name="employee" [(ngModel)]="editAsset.employee" [ngModelOptions]="{standalone: true}">
                    <option *ngFor="let approver of Employee" [value]="approver.id">{{ approver.emp_code }}</option>
                  </select>
                </div>
              </div>
              


          

        
               
         
          
         
            </div>
  
            <div class="row">
              <div class="col-md-8"></div>
              <div class="col-md-2">
                <button type="button" (click)="closeEditModal()" class="btn btn-danger btn-full mt-4">Close</button>
  
              </div>
              <div class="col-md-2">
                <button type="button" (click)="updateAssetType()" class="btn btn-success btn-full mt-4">Update</button>
              </div>
            </div>
          </form>
  
  
  
        </div>
      </div>
  



        <div class="mt-4" style="overflow-x: auto; width: 100%;">
        <table width="100%" >
          <thead>
            <tr>
              <th>No</th>
              <th>Actions</th>

              <th> Document number  </th>
              <th> Branch </th>
              <th> Reason</th>
              <th>Requested amount</th>
              <th>Remarks</th>
              <th>Employee</th>
              <th>Status</th>
             
  
              <th>Pause start date</th>
              <th>Resume date</th>
              <th>Pause reason</th>
           
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let docs of DocRequest;let i = index">
              <td data-label="No">{{ i + 1 }}</td> 
              <td data-label="Action">
                <!-- Show buttons only if the loan status is 'Approved' -->
                <ng-container *ngIf="docs.status === 'Approved'">
                  <button  class="btn btn-full btn-warning" (click)="openPauseModal(docs)">Pause</button>
                 </ng-container>
                 <ng-container *ngIf="docs.status === 'Paused'">
                 
                  <button class="btn btn-full btn-primary" (click)="openResumeModal(docs)">Resume</button>
                </ng-container>
              </td>
              <td data-label="Document number">{{ docs.document_number }}</td>
              <td data-label="branch">{{ docs.branch }}</td>
              <td data-label="Reason">{{ docs.reason }}</td>
              <td data-label="Requested amount">{{ docs.requested_amount }}</td> 
              <td data-label="Remarks">{{ docs.remarks }}</td>
              <td data-label="Employee">{{ docs.employee }}</td> 
              <td data-label="Status">{{ docs.status }}</td>
              <td data-label="Pause start date">{{ docs.pause_start_date }}</td>
              <td data-label="Resume date">{{ docs.resume_date }}</td> 
              <td data-label="Pause reason">{{ docs.pause_reason }}</td>
             
              
              <td data-label="Action">
                <button
                  mat-fab
                  color="primary"
                  aria-label="Edit icon"
                  *ngIf="showEditBtn"
      
                  
                  (click)="openEditModal(docs)"
                >
                  <mat-icon style="color: white;">draw</mat-icon>
                </button>
      
                <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>
      
              </td>
            </tr>
        
          </tbody>
        </table>

</div>
        <!-- Modal Popup for selected loan to pause details -->
<!-- Pause Modal -->
<div *ngIf="isPauseModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Pause Loan Application</h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closePauseModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form (ngSubmit)="submitPauseLoan()">
        <div class="row">
          <div class="col-md-4">
            <label>Pause Start Date</label>
            <input type="date" class="form-control" [(ngModel)]="pause_start_date" name="pause_start_date" required />
          </div>
          <div class="col-md-12">
            <label>Pause Reason</label>
            <textarea class="form-control" [(ngModel)]="pause_reason" name="pause_reason" required></textarea>
          </div>
          <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-primary">Pause Loan</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  
  <!-- Resume Modal -->
<div *ngIf="isResumeModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Resume Loan Application</h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeResumeModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form (ngSubmit)="submitResumeLoan()">
        <div class="row">
          <div class="col-md-4">
            <label>Resume Date</label>
            <input type="date" class="form-control" [(ngModel)]="resume_date" name="resume_date" required />
          </div>
          <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-success">Resume Loan</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  



    </div>
</div>