<div mat-dialog-content class="">
    <div class="cpm-sec">

  <div class="pull-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="ClosePopup()">
      ×
    </span>
  </div>

        <h1>Category Create</h1><hr>

        <form >
        <div class="row">
            <div class="col-md-6" >
               
      <label>Category Tittle
        <span class="required-star">*</span>
      </label>
     <input type="text"  class="form-control" required  [(ngModel)]="ctgry_title"  placeholder="Enter Category Name"
      [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !ctgry_title}">
     
     <div *ngIf="registerButtonClicked && !ctgry_title" class="error-message">Category Name is required.</div>
</div>


<div class="col-md-6" >
               
    <label>Category code</label>
   <input type="text"  class="form-control" required  [(ngModel)]="ctgry_code"  placeholder="Enter Category code"
    [ngModelOptions]="{standalone: true}">
   
</div>


<div class="col-md-6" >
               
    <label>Description</label>
   <input type="text"  class="form-control" required  [(ngModel)]="ctgry_description"  placeholder="Enter Description "
    [ngModelOptions]="{standalone: true}">
   
</div>


    <div class="col-md-6">
      <label>Branch
        <span class="required-star">*</span>
      </label>

      <div class="custom-sel">
          <div class="form-control-wrapper">
        
  
            <mat-form-field>
              <!-- <mat-label>Favorite food</mat-label> -->
                        <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #select multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelection()">
                              Select All
                            </mat-checkbox>
                          </div>
                              <input type="text" placeholder="Search Branch"
                                     class="form-control"
                                     [(ngModel)]="branchSearch"
                                     [ngModelOptions]="{standalone: true}"
                                     (click)="$event.stopPropagation()">
            
                          <!-- <mat-option *ngFor="let deparmentsec of   Branches" [value]="deparmentsec.id">
                            {{ deparmentsec.branch_name }} 
                          </mat-option> -->
                <mat-option
          *ngFor="let deparmentsec of filterEmployees()"
          [value]="deparmentsec.id">

          {{ deparmentsec.branch_name }}

        </mat-option>
                        </mat-select>
            </mat-form-field>
            
          </div>
          <div *ngIf="registerButtonClicked && (!branch || branch.length === 0)" class="error-message">
            Please Select Your branch
          </div>
        </div>
                  
  
  </div>
       
         
      
        
        
   


        </div>
    </form>

        <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button (click)="ClosePopup()"   class="pull-right btn btn-danger btn-full mt-4" >Cancel</button>

        </div>
        <div class="col-md-2">
            <button   mat-raised-button color="primary" class="pull-right btn-full mt-4" type="submit" (click)="registerCatogary()" >Add</button>

        </div>
    </div>


        </div>
</div>
<div mat-dialog-action>
    
</div>





