

<div class="sub-sidebar clickOutside">
  <mat-sidenav-container>
    <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
      <div class="wrapper" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
        <div class="sidebar-top"> 
          <!-- Toggle Button (placed OUTSIDE sidebar) -->
          <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
            <span *ngIf="!isMenuOpen">☰</span>
            <span *ngIf="isMenuOpen">X</span>
          </button>
        </div>

        <div class="sidebar" >
          <mat-nav-list class="calender">
            
            <mat-expansion-panel>
              <mat-expansion-panel-header class="mar-expantion-span">
                <a mat-list-item>
                  <mat-icon>peoples</mat-icon>
                  <span class="con_clr"> Common Settings</span>
                </a>
              </mat-expansion-panel-header>
              
              <div class="mat-expansion-panel-body" *ngIf="hasViewPermissionBranch">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/branch-master">
                  <span class="side_option">Branch Master</span>
                </a>
              </div>
              <div *ngIf="!hasViewPermissionBranch"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/user-master" *ngIf="hasViewPermissionUsers">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Users</span>
                </a>
              </div>
              <div *ngIf="!hasViewPermissionUsers"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/user-grouping-master" *ngIf="hasViewPermissionGroups">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Permission Grouping</span>
                </a>
              </div>
              <div *ngIf="!hasViewPermissionGroups"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/permission-assigned" *ngIf="hasViewPermissionAssignPermission">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Assign Permission for user</span>
                </a>
              </div>
              <div *ngIf="!hasViewPermissionAssignPermission"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/state-master" *ngIf="hasViewStateMaster">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">{{ stateLabel }} Master</span>
                </a>
              </div>
              <div *ngIf="!hasViewStateMaster"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/document-type-master" *ngIf="hasViewPermissionDocType">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Document Type</span>
                </a>
              </div>
              <div *ngIf="!hasViewPermissionDocType"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/location-master" *ngIf="hasViewCompanyMaster">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Company Master</span>
                </a>
              </div>
              <div *ngIf="!hasViewCompanyMaster"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/document-numbering" *ngIf="hasViewDN">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Document Numbering</span>
                </a>
              </div>
              <div *ngIf="!hasViewDN"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/announcement-master" *ngIf="hasViewAnnounceMaster">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Announcement</span>
                </a>
              </div>
              <div *ngIf="!hasViewAnnounceMaster"></div>

              <div class="mat-expansion-panel-body" routerLink="/main-sidebar/settings/notification-settings" *ngIf="hasViewDocNotifySettings">
                <a class="set_siding" mat-list-item>
                  <span class="side_option">Document Notification Settings</span>
                </a>
              </div>
              <div *ngIf="!hasViewDocNotifySettings"></div>
            </mat-expansion-panel>

            <!-- Calenders -->

            <mat-expansion-panel>
              <mat-expansion-panel-header class="mar-expantion-span">
                <a mat-list-item>
                  <mat-icon>calendar_month</mat-icon>
                  <span class="con_clr"> Calendars</span>
                </a>
              </mat-expansion-panel-header>

              <div class="mat-expansion-panel-body" *ngIf="hasViewWeek">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/weelcalendar">
                  <span class="side_option">Week Calendar</span>
                </a>
              </div>

              <div class="mat-expansion-panel-body" *ngIf="hasViewWeekAssgn">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/assign-weekcalendar">
                  <span class="side_option">Assign Calendar</span>
                </a>
              </div>

              <div class="mat-expansion-panel-body" *ngIf="hasViewHoly">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/holiday-calendar">
                  <span class="side_option">Holiday Calendar</span>
                </a>
              </div>

              <div class="mat-expansion-panel-body" *ngIf="hasViewHolyAssgn">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/assign-holiday-calendar">
                  <span class="side_option">Assign Holiday Calendar</span>
                </a>
              </div>

              <!-- <div class="mat-expansion-panel-body" *ngIf="hasViewShift">
                <a class="set_siding" mat-list-item routerLink="/main-sidebar/settings/shifts">
                  <span class="side_option">Shift Allocations</span>
                </a>
              </div> -->
            </mat-expansion-panel>

            <!-- Keep rest of your expansion panels as in your code -->
            
        <!-- Report -->

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mar-expantion-span">
            <a mat-list-item>
              <mat-icon>assignment</mat-icon>
              <span class="con_clr"> Report List</span></a
            >
          </mat-expansion-panel-header>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionempreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/report-generate"
              ><span class="side_option"> Employee Master Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div *ngIf="!hasViewPermissionempreport"></div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissiondocreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/document-report"
              ><span class="side_option"> Document Master Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div *ngIf="!hasViewPermissiondocreport"></div>
        
          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissiongenreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/general-request-report"
              ><span class="side_option"> General Request Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>
          <div *ngIf="!hasViewPermissiongenreport"></div>

          <div
           class="mat-expansion-panel-body"
           *ngIf="hasViewPermissiondeptreport"
           
           >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/department-report"
              ><span class="side_option">Department Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>
         <div *ngIf="!hasViewPermissiondeptreport"></div>

          <div
           class="mat-expansion-panel-body"
          *ngIf="hasViewPermissiondesreport"
           >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/designation-report"
              ><span class="side_option">Designation Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>
          <div *ngIf="!hasViewPermissiondesreport"></div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionLeavereport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/leave-report"
              ><span class="side_option">Leave Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionLeaveAprreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/leave-approvals-report"
              ><span class="side_option">Leave Approvals Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionLeaveBalancereport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/leave-balance-report"
              ><span class="side_option">Leave Balance Report</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionEmpAttendancereport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/employee-attendance"
              ><span class="side_option">Employee Attendance</span>
            </a>
            <!-- <p class="side_option">I'm visible because I am open</p> -->
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionAssetreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/asset-report"
              ><span class="side_option">Asset Report</span>
            </a>
       
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionAssettransreport"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/asset-transaction-report"
              ><span class="side_option">Asset Transaction Report</span>
            </a>
            
          </div>
        </mat-expansion-panel>

        <!-- Customization -->

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mar-expantion-span">
            <a mat-list-item>
              <mat-icon>dashboard_customize </mat-icon>
              <span class="con_clr"> Customization</span></a
            >
          </mat-expansion-panel-header>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionEmpForm"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/from-designer"
              ><span class="side_option">Employee form</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasviewPermissionAssetForm"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/asset-udf"
              ><span class="side_option">Asset form</span>
            </a>
          </div>
        </mat-expansion-panel>

        <!-- Email Configuration -->

        <mat-expansion-panel>
          <mat-expansion-panel-header
            class="mar-expantion-span"
            routerLink="/main-sidebar/settings/email-configuration"
            *ngIf="hasViewPermissionConfig"
          >
            <a mat-list-item>
              <mat-icon>dashboard_customize </mat-icon>
              <span class="con_clr"> Email Configuration</span></a
            >
          </mat-expansion-panel-header>

          <!-- Email Template -->

          <mat-expansion-panel-header class="mar-expantion-span">
            <a mat-list-item>
              <mat-icon>dashboard_customize </mat-icon>
              <span class="con_clr"> Email Template</span></a
            >
          </mat-expansion-panel-header>

          <div
            class="mat-expansion-panel-body"
            routerLink="/main-sidebar/settings/email-template"
            *ngIf="hasViewPermissionEmtemp"
          >
            <a class="set_siding" mat-list-item
              ><span class="side_option">General Request </span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            routerLink="/main-sidebar/settings/leave-template"
            *ngIf="hasViewPermissionLeaveEmtemp"
          >
            <a class="set_siding" mat-list-item
              ><span class="side_option">Leave Request</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            routerLink="/main-sidebar/settings/doc-exp-emailtemplate"
            *ngIf="hasViewPermissionDocExpEmtemp"
          >
            <a class="set_siding" mat-list-item
              ><span class="side_option">Document Expired</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            routerLink="/main-sidebar/settings/document-request-email-template"
            *ngIf="hasViewPermissionDocReqEmtemp"
          >
            <a class="set_siding" mat-list-item
              ><span class="side_option">Document Request</span>
            </a>
          </div>

          <div
          class="mat-expansion-panel-body"
          routerLink="/main-sidebar/settings/advance-salary-emailtemplate"
          *ngIf="hasViewPermissionAdvSalEmtemp"
        >
          <a class="set_siding" mat-list-item
            ><span class="side_option">Advance Salary Request</span>
          </a>
        </div>
        
        <div
        class="mat-expansion-panel-body"
        routerLink="/main-sidebar/settings/loan-email-template"
        *ngIf="hasViewPermissionLoanReqEmtemp"
      > 
        <a class="set_siding" mat-list-item
          ><span class="side_option"> Loan Request</span>
        </a>
      </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header
            class="mar-expantion-span"
            routerLink="/main-sidebar/settings/company-policy"
            *ngIf="hasViewPermissionCmpnyPol"
          >
            <a mat-list-item>
              <mat-icon>dashboard_customize </mat-icon>
              <span class="con_clr"> Company Policy</span></a
            >
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header class="mar-expantion-span">
            <a mat-list-item>
              <mat-icon>dashboard_customize </mat-icon>
              <span class="con_clr"> Document Request</span></a
            >
          </mat-expansion-panel-header>


           <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionDocReqType"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/document-request-type"
              ><span class="side_option">Document Request Type</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionDocReqApr"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/document-request-approval"
              ><span class="side_option"> Approval List</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionDocAprlvl"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/document-request-level"
              ><span class="side_option"> Approval Level Setting</span>
            </a>
          </div>

          <div
            class="mat-expansion-panel-body"
            *ngIf="hasViewPermissionDocReq"
          >
            <a
              class="set_siding"
              mat-list-item
              routerLink="/main-sidebar/settings/document-request"
              ><span class="side_option"> Request Document</span>
            </a>
          </div>
        </mat-expansion-panel>


          </mat-nav-list>
        </div>
      </div>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>


