<div mat-dialog-content class="">
    <div class="cpm-sec">

        <h1>Create Company</h1><hr>

        <form >
        <div class="row">
           


<div class="col-md-6" >
               
    <label>Company Name </label>
   <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter Company  Name "
    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
   
   <div *ngIf="registerButtonClicked && !name" class="error-message">Name is required.</div>
</div>

<div class="col-md-6">


    <div class="custom-sel">
        <label>Country</label>
        <select class="form-control" id="country" (change)="onCountryChange()" required [(ngModel)]="country"  [ngModelOptions]="{standalone: true}"  >
            <option value="" >Select</option>
            <option *ngFor="let user of countries" [value]="user.id">{{ user.country_name }}</option>
        </select>
       
    </div>
                


       
       
    
</div>
   <!-- Dynamic State Section -->
   <div class="col-md-6" *ngIf="states && states.length > 0">
    <div class="custom-sel">
      <!-- Dynamically displaying the state_label from the API response -->
      <label>{{ state_label }}</label>
      <select class="form-control" id="state"  [(ngModel)]="state" [ngModelOptions]="{standalone:true}">
        <option value="">Select</option>
        <option *ngFor="let state of states" [value]="state.id">{{ state.state_name }}</option>
      </select>
    </div>
  </div>
  

<div class="col-md-6">


    <div class="custom-sel">
        <label>Industry Type</label>
        <select class="form-control" id="country" required [(ngModel)]="industry_type"  [ngModelOptions]="{standalone: true}"  >
            <option value="" >Select</option>
            <option value="IT" >Information Technology</option>
            <option value="HC" >Healthcare</option>
            <option value="FIN" >Finance</option>
            <option value="EDU" >Education</option>
            <option value="MFG" >Manufacturing</option>
            <option value="RET" >Retail</option>
            <option value="OTH" >Other</option>



        </select>
       
    </div>
                


       
       
    
</div>

<div class="col-md-6">
    <label>Address Line 1</label>
    <textarea class="form-control" placeholder="enter address" [(ngModel)]="address_line1"  [ngModelOptions]="{standalone: true}"  >

    </textarea>
</div>

<div class="col-md-6">
    <label>Address Line 2</label>
    <textarea class="form-control" placeholder="enter address" [(ngModel)]="address_line2"  [ngModelOptions]="{standalone: true}"  >

    </textarea>
</div>

<div class="col-md-6">
    <label>financial year start month</label>
    <input type="number" class="form-control" [(ngModel)]="financial_year_start_month"  [ngModelOptions]="{standalone: true}"  placeholder="enter start month"  >
</div>

<div class="col-md-6">
    <label>financial year start day</label>
    <input type="number" class="form-control" [(ngModel)]="financial_year_start_day"  [ngModelOptions]="{standalone: true}"  placeholder="enter start month"  >
</div>

<div class="col-md-6">
    <label for="logo">Company Logo:</label>
    <input type="file" class="form-control" id="logo" name="logo" (change)="onFileSelected($event)">   
    </div>


<div class="col-md-6" *ngIf="!owner">


    <div class="custom-sel">
        <label>Owner Name</label>
        <select class="form-control" id="owner" required [(ngModel)]="owner"  [ngModelOptions]="{standalone: true}"  >
            <option value="" >Select</option>
            <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
        </select>
       
    </div>
                


       
       
    
</div>


    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-2">
            <button (click)="ClosePopup()"   class="pull-right btn btn-danger btn-full mt-4" >Cancel</button>

        </div>
        <div class="col-md-2">
            <button type="button" (click)="registerCatogary()"  mat-raised-button color="primary" class="pull-right btn-full mt-4" >Add</button>

        </div>
    </div>


        </div>
        </form>
    </div>
    </div>
    
<div mat-dialog-action>
    
</div>


   <!-- Loader -->
   <div class="loader-container" [class.show]="isLoading">
    <div class="loader"></div>
  </div>