<div class="container" *ngIf="hasViewPermission">
  <div class="comapny_section">

    <div class="header_section">

      <div class="row">
        <div class="col-md-3">
          <h1> Leave Types</h1>
        </div>

        <div class="col-md-4">

          <!-- <input type="text" class="form-control mt-1" placeholder="Search by name" > -->

        </div>
        <div class="col-md-5">
          <div class="button-group pull-right">
            <button type="button" class="btn-Create btn btn-success" (click)="CreateLeaveModal()"
              *ngIf="hasAddPermission"> <span class="header-btn-icon"><mat-icon>add_circle
                </mat-icon></span> Create</button>
            <span *ngIf="!hasAddPermission"></span>

            <button type="button" class="btn-Edit btn-info btn" (click)="EditShowButtons()" *ngIf="hasEditPermission">
              <span class="header-btn-icon">
                <mat-icon>draw
                </mat-icon></span> Edit</button>
            <span *ngIf="!hasEditPermission"></span>
            <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()"
              *ngIf="hasDeletePermission">
              <span class="header-btn-icon">
                <mat-icon> delete
                </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>
            <span *ngIf="!hasDeletePermission"></span>



          </div>
        </div>

      </div>



    </div>


    <div class="row">
      <div class="col-md-2">

        <button class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete"
          (click)="toggleSelectAllLeaveTypes()">Select All</button>

      </div>
      <div class="col-md-3">
        <button class=" mt-3 btn-danger btn" color="warn" *ngIf="Delete" (click)="deleteSelectedLeavetype()">Delete
          Selected </button>

      </div>
    </div>





    <div class="row ">
      <div class="col-md-3 mt-4" *ngFor="let leavetype of LeaveTypes">
        <div class="flip-card" [class.flipped]="leavetype.flipped">
          <div class="flip-card-inner">



            <!-- Front Side -->
            <div class="flip-card-front">
              <div class="leave_type_outer">

                <td>
                  <button style="height: 40px; width: 40px;" mat-fab color="primary" 
                    *ngIf="showEditBtn" (click)="openEditLeaveTypeModal(leavetype)">
                    <mat-icon style="color: white;">draw</mat-icon>
                  </button>

                  <mat-checkbox *ngIf="Delete" [(ngModel)]="leavetype.selected"></mat-checkbox>

                </td>

                <div class="leave-img-section">
                  <div class="d-block mx-auto">
                    <img src="assets/2144792.jpg" width="100%" class="image-fluid">
                  </div>
                </div>



                <div class="leave-name-section mt-4">
                  <h4>{{ leavetype.name }}</h4>
                  <h5>{{ leavetype.code }}</h5>
                </div>

                <div class="leave_action_Sec mt-4">
                  <div class="button-row">
                    <button type="button" class="btn btn-primary configure-btn"
                      (click)="openLeaveConfigurationModal(leavetype)">
                      Configure leave type
                    </button>
                    <button type="button" class="btn btn-secondary action-btn edit-btn" (click)="toggleFlip(leavetype)">
                      <i class="fa-solid fa-ellipsis"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-danger action-btn delete-btn">
                      <i class="fa fa-trash"></i>
                    </button> -->

                  </div>
                </div>
              </div>
            </div>
            <!-- Back Side -->
            <div class="flip-card-back">
              <div class="edit-content">

                <div class="row">
                  <div class="col-md-8">
                    <h2> Leave Type {{ leavetype.name }} Details</h2>
                    <hr>

                  </div>

                  <div class="col-md-3">
                    <i class="fa-solid fa-circle-chevron-left" (click)="toggleFlip(leavetype)"></i>

                  </div>

                </div>




                <div class="row">
                  <div class="col-md-12">
                    <h4> Code : {{leavetype.code}}</h4>

                    <h4>type : {{leavetype.type}}</h4>

                    <h4>unit : {{leavetype.unit}}</h4>
                    <h4>use_common_workflow : {{leavetype.use_common_workflow}}</h4>
                    <h4>valid_from : {{leavetype.valid_from}}</h4>
                    <h4>valid_to : {{leavetype.valid_to}}</h4>
                    <h4>include_weekend_and_holiday : {{leavetype.include_weekend_and_holiday}}</h4>
                    <h4>description :{{leavetype.description}} </h4>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>





    <!-- Edit Modal -->
    <div *ngIf="isLeaveTypeEditModalOpen" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-10">
            <h2>Edit Leave Type</h2>
          </div>
          <div class="col-md-2">
 <div class="pull-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="closeEditLeaveTypeModal()">
      ×
    </span>
  </div>
          </div>
        </div>
        <hr />


        <form>
          <div class="row">
            <div class="col-md-4">
              <label>Name</label>
              <input type="text" class="form-control" required [(ngModel)]="editLeaveType.name" placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
            </div>

            <div class="col-md-4">
              <label>Code</label>
              <input type="text" class="form-control" required [(ngModel)]="editLeaveType.code" placeholder="Enter code"
                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !code}">
            </div>

            <div class="col-md-4">
              <label>Leave Type</label>
              <div class="custom-sel">
                <select class="form-control" id="type" name="type" [(ngModel)]="editLeaveType.type"
                  [ngModelOptions]="{standalone: true}">
                  <option>paid</option>
                  <option>unpaid</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label>Leave Unit</label>
              <div class="custom-sel">
                <select class="form-control" id="unit" name="unit" [(ngModel)]="editLeaveType.unit"
                  [ngModelOptions]="{standalone: true}">
                  <option>days</option>
                  <option>hours</option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label>Valid From</label>
              <input type="date" class="form-control" required [(ngModel)]="editLeaveType.valid_from"
                placeholder="Enter valid from" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col-md-4">
              <label>Valid To</label>
              <input type="date" class="form-control" required [(ngModel)]="editLeaveType.valid_to"
                placeholder="Enter valid to" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col-md-4">
              <label>Branch</label>
              <div class="custom-sel">
                <select class="form-control" id="branch" name="branch" [(ngModel)]="editLeaveType.branch"
                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let designation of branches" [value]="designation.id">{{ designation.branch_name }}
                  </option>

                </select>
              </div>
            </div>




            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.negative"
                    [ngModelOptions]="{standalone: true}">Negative</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.allow_half_day" [ngModelOptions]="{standalone: true}">Allow
                    Half Day</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.include_holiday"
                    [ngModelOptions]="{standalone: true}">Include Holiday</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.include_weekend"
                    [ngModelOptions]="{standalone: true}">Include Weekend</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.include_dashboard"
                    [ngModelOptions]="{standalone: true}">Include Dashboard</mat-checkbox>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <label></label>
              <div class="check-box-selection-sec form-control mt-3">
                <div class="mat-set">
                  <mat-checkbox [(ngModel)]="editLeaveType.enable_leave_pay_rule" (change)="onTogglePayRule($event)"
                    [ngModelOptions]="{standalone: true}">
                    Enable leave pay rule
                  </mat-checkbox>
                </div>

              </div>
            </div>


            <div class="col-md-6">
              <label>Description</label>
              <textarea class="form-control" [(ngModel)]="editLeaveType.description"
                [ngModelOptions]="{standalone: true}"></textarea>
            </div>

          </div>


          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-3">
              <button (click)="closeEditLeaveTypeModal()" type="button"
                class="btn btn-danger btn-full mt-4">Cancel</button>
            </div>
            <div class="col-md-3">
              <button (click)="updateLeavetype()" type="submit" class="btn btn-success btn-full mt-4">Update</button>
            </div>
          </div>
        </form>





      </div>
    </div>





    <!-- Modal Popup for add marketing language skill -->
    <div *ngIf="isLeavetypeCreationModalOpen" class="modal">
      <div class="modal-content">

      <div class="text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="ClosePopup()">
      ×
    </span>
  </div>

        <mat-horizontal-stepper class="mt-4" [linear]="isLinear" #stepper>


          <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Configuring </ng-template>

            <mat-tab-group class="mt-4" mat-stretch-tabs="false" mat-align-tabs="start">
<mat-tab label="Entitlement">
  <div class="tab-body mt-2">

    <!-- Edit Mode Banner -->
    <div class="edit-banner" *ngIf="isEditMode">
      <span>
        <mat-icon class="banner-icon">edit</mat-icon>
        Editing entitlement: <strong>{{ min_experience }} {{ effective_after_unit }}</strong>
      </span>
      <button class="btn btn-sm btn-outline" (click)="cancelEdit()">
        <mat-icon>close</mat-icon> Cancel edit
      </button>
    </div>

    <!-- ─────────────────────────────────────────
         ENTITLEMENT SECTION
    ───────────────────────────────────────── -->
    <div class="section-card">
      <div class="section-header" (click)="toggleSection('entitlement')">
        <div class="section-header-left">
          <div class="section-icon icon-blue">
            <mat-icon>event_available</mat-icon>
          </div>
          <div>
            <div class="section-title">Leave entitlement</div>
            <div class="section-subtitle">Configure eligibility, accrual, and scope</div>
          </div>
        </div>
        <mat-icon class="toggle-icon" [class.open]="sections.entitlement">expand_more</mat-icon>
      </div>

      <div class="section-body" [class.open]="sections.entitlement">
        <form (ngSubmit)="registerleaveEntitlement()" #entitlementForm="ngForm">

          <!-- Hidden leave type -->
          <input type="hidden" [(ngModel)]="selectedLeaveTypeForModal.id" name="leave_type">

          <div class="form-grid">

            <div class="form-group">
              <label>Effective after <span class="required">*</span></label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="min_experience"
                name="min_experience"
                placeholder="e.g. 6"
                [class.error-field]="registerButtonClicked && !min_experience">
              <div class="error-message" *ngIf="registerButtonClicked && !min_experience">
                This field is required.
              </div>
            </div>

            <div class="form-group">
              <label>Unit</label>
              <select class="form-control" [(ngModel)]="effective_after_unit" name="effective_after_unit">
                <option value="years">Years</option>
                <option value="months">Months</option>
                <option value="days">Days</option>
              </select>
            </div>

            <div class="form-group">
              <label>Effective from</label>
              <select class="form-control" [(ngModel)]="effective_after_from" name="effective_after_from">
                <option value="date_of_joining">Date of joining</option>
                <option value="date_of_confirmation">Date of confirmation</option>
              </select>
            </div>

            <div class="form-group">
              <label>Branches</label>
              <mat-form-field class="full-width-select">
                <mat-select placeholder="Select" [(ngModel)]="branch" name="branch" #selectBranch multiple>
                  <div class="select-all-option">
                    <mat-checkbox [(ngModel)]="allSelected" name="allSelected" (change)="toggleAllSelection()">
                      Select all
                    </mat-checkbox>
                  </div>
                  <mat-option *ngFor="let b of branches" [value]="b.id">{{ b.branch_name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <label>Department</label>
              <mat-form-field class="full-width-select">
                <mat-select placeholder="Select" [(ngModel)]="departments" name="departments" #selectDept multiple>
                  <div class="select-all-option">
                    <mat-checkbox [(ngModel)]="allSelecteddeptcon" name="allSelecteddeptcon" (change)="toggleAllSelectiondeptcon()">
                      Select all
                    </mat-checkbox>
                  </div>
                  <mat-option *ngFor="let dept of Departments" [value]="dept.id">{{ dept.dept_name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <label>Designation</label>
              <mat-form-field class="full-width-select">
                <mat-select placeholder="Select" [(ngModel)]="designations" name="designations" #selectDes multiple>
                  <div class="select-all-option">
                    <mat-checkbox [(ngModel)]="allSelectedDescon" name="allSelectedDescon" (change)="toggleAllSelectionDescon()">
                      Select all
                    </mat-checkbox>
                  </div>
                  <mat-option *ngFor="let des of Designation" [value]="des.id">{{ des.desgntn_job_title }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-group">
              <label>Role</label>
              <mat-form-field class="full-width-select">
                <mat-select placeholder="Select" [(ngModel)]="categories" name="categories" #selectCat multiple>
                  <div class="select-all-option">
                    <mat-checkbox [(ngModel)]="allSelectedcatcon" name="allSelectedcatcon" (change)="toggleAllSelectioncatcon()">
                      Select all
                    </mat-checkbox>
                  </div>
                  <mat-option *ngFor="let role of Category" [value]="role.id">{{ role.ctgry_title }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div><!-- /form-grid -->

          <div class="section-divider"></div>

          <!-- Accrual toggle -->
          <div class="checkbox-row">
            <mat-checkbox [(ngModel)]="accrual" name="accrual" (change)="onAccrualChange()">
              Enable accrual
            </mat-checkbox>
          </div>

          <!-- Accrual sub-section -->
          <div class="sub-section" *ngIf="accrual">
            <div class="sub-title">Accrual settings</div>
            <div class="form-grid">

              <div class="form-group">
                <label>Accrual rate</label>
                <input type="number" class="form-control" [(ngModel)]="accrual_rate" name="accrual_rate" placeholder="e.g. 1.5">
              </div>

              <div class="form-group">
                <label>Frequency</label>
                <select class="form-control" [(ngModel)]="accrual_frequency" name="accrual_frequency" (change)="onAccrualFrequencyChange()">
                  <option value="months">Monthly</option>
                  <option value="years">Yearly</option>
                  <option value="days">Daily</option>
                </select>
              </div>

              <div class="form-group" *ngIf="showMonth">
                <label>Accrual month</label>
                <select class="form-control" [(ngModel)]="accrual_month" name="accrual_month">
                  <option value="Jan">January</option>
                  <option value="Feb">February</option>
                  <option value="Mar">March</option>
                  <option value="Apr">April</option>
                  <option value="May">May</option>
                  <option value="Jun">June</option>
                  <option value="Jul">July</option>
                  <option value="Aug">August</option>
                  <option value="Sep">September</option>
                  <option value="Oct">October</option>
                  <option value="Nov">November</option>
                  <option value="Dec">December</option>
                </select>
              </div>

              <div class="form-group" *ngIf="showDay">
                <label>Accrual day</label>
                <select class="form-control" [(ngModel)]="accrual_day" name="accrual_day">
                  <option value="1st">1st of the month</option>
                  <option value="last">Last of the month</option>
                  <option value="joining_day">Employee joining date</option>
                </select>
              </div>

            </div>
          </div><!-- /accrual sub-section -->

          <div class="section-divider"></div>

          <div class="checkbox-row">
            <mat-checkbox [(ngModel)]="prorate_accrual" name="prorate_accrual">Prorate accrual</mat-checkbox>
          </div>

          <div class="btn-row" *ngIf="hasAddPermission">
            <button type="button" class="btn btn-outline" (click)="resetForm()">
              <mat-icon>refresh</mat-icon> Clear
            </button>
            <button type="submit" class="btn btn-primary">
              <mat-icon>{{ isEditMode ? 'save' : 'add' }}</mat-icon>
              {{ isEditMode ? 'Update entitlement' : 'Add entitlement' }}
            </button>
          </div>

        </form>
      </div><!-- /section-body -->
    </div><!-- /section-card -->

    <!-- ─────────────────────────────────────────
         RESET SECTION
    ───────────────────────────────────────── -->
    <div class="section-card">
      <div class="section-header" (click)="toggleSection('reset')">
        <div class="section-header-left">
          <div class="section-icon icon-green">
            <mat-icon>autorenew</mat-icon>
          </div>
          <div>
            <div class="section-title">Reset configuration</div>
            <div class="section-subtitle">Carry forward, encashment &amp; opening balance</div>
          </div>
        </div>
        <mat-icon class="toggle-icon" [class.open]="sections.reset">expand_more</mat-icon>
      </div>

      <div class="section-body" [class.open]="sections.reset">

        <!-- Lock alert -->
        <div class="alert alert-warning" *ngIf="!isEntitlementCreated">
          <mat-icon>lock</mat-icon>
          Save an entitlement first to unlock reset configuration.
        </div>

        <fieldset [disabled]="!isEntitlementCreated" [class.disabled-fieldset]="!isEntitlementCreated">
          <form (ngSubmit)="registerleaveReset()" #resetPolicyForm="ngForm">

            <input type="hidden" [(ngModel)]="leave_entitlement" name="leave_entitlement">
            <input type="hidden" [(ngModel)]="selectedLeaveTypeForModal.id" name="leave_type">

            <div class="form-grid">

              <div class="form-group">
                <label>Reset frequency</label>
                <select class="form-control" [(ngModel)]="frequency" name="frequency" (change)="onResetFrequencyChange()">
                  <option value="years">Yearly</option>
                  <option value="months">Monthly</option>
                  <option value="days">Daily</option>
                </select>
              </div>

              <div class="form-group" *ngIf="showResetMonth">
                <label>Reset month</label>
                <select class="form-control" [(ngModel)]="month" name="month">
                  <option value="Jan">January</option>
                  <option value="Feb">February</option>
                  <option value="Mar">March</option>
                  <option value="Apr">April</option>
                  <option value="May">May</option>
                  <option value="Jun">June</option>
                  <option value="Jul">July</option>
                  <option value="Aug">August</option>
                  <option value="Sep">September</option>
                  <option value="Oct">October</option>
                  <option value="Nov">November</option>
                  <option value="Dec">December</option>
                </select>
              </div>

              <div class="form-group" *ngIf="showResetDay">
                <label>Reset day</label>
                <select class="form-control" [(ngModel)]="day" name="day">
                  <option value="1st">1st of the month</option>
                  <option value="last">Last of the month</option>
                </select>
              </div>

              <div class="form-group">
                <label>Opening balance</label>
                <input type="number" class="form-control" [(ngModel)]="opening_balance" name="opening_balance" placeholder="0">
              </div>

            </div>

            <div class="section-divider"></div>

            <!-- Carry Forward -->
            <div class="checkbox-row">
              <mat-checkbox [(ngModel)]="allow_cf" name="allow_cf">Allow carry forward</mat-checkbox>
            </div>

            <div class="sub-section" *ngIf="allow_cf">
              <div class="sub-title">Carry forward settings</div>
              <div class="form-grid">

                <div class="form-group">
                  <label>CF choice</label>
                  <select class="form-control" [(ngModel)]="carry_forward_choice" name="carry_forward_choice">
                    <option value="carry_forward">Carry forward</option>
                    <option value="carry_forward_with_expiry">With expiry</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>CF value</label>
                  <input type="number" class="form-control" [(ngModel)]="cf_value" name="cf_value" placeholder="e.g. 10">
                </div>

                <div class="form-group">
                  <label>CF unit</label>
                  <select class="form-control" [(ngModel)]="cf_unit_or_percentage" name="cf_unit_or_percentage">
                    <option value="percentage">Percentage</option>
                    <option value="unit">Unit</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>CF max limit</label>
                  <input type="number" class="form-control" [(ngModel)]="cf_max_limit" name="cf_max_limit" placeholder="e.g. 30">
                </div>

                <ng-container *ngIf="carry_forward_choice === 'carry_forward_with_expiry'">
                  <div class="form-group">
                    <label>Expires in (value)</label>
                    <input type="number" class="form-control" [(ngModel)]="cf_expires_in_value" name="cf_expires_in_value" placeholder="e.g. 3">
                  </div>
                  <div class="form-group">
                    <label>Expiry unit</label>
                    <select class="form-control" [(ngModel)]="cf_time_choice" name="cf_time_choice">
                      <option value="months">Months</option>
                      <option value="years">Years</option>
                      <option value="days">Days</option>
                    </select>
                  </div>
                </ng-container>

              </div>
            </div>

            <div class="section-divider"></div>

            <!-- Encashment -->
            <div class="checkbox-row">
              <mat-checkbox [(ngModel)]="allow_encashment" name="allow_encashment">Allow encashment</mat-checkbox>
            </div>

            <div class="sub-section" *ngIf="allow_encashment">
              <div class="sub-title">Encashment settings</div>
              <div class="form-grid">

                <div class="form-group">
                  <label>Encashment value</label>
                  <input type="number" class="form-control" [(ngModel)]="encashment_value" name="encashment_value" placeholder="e.g. 5">
                </div>

                <div class="form-group">
                  <label>Unit</label>
                  <select class="form-control" [(ngModel)]="encashment_unit_or_percentage" name="encashment_unit_or_percentage">
                    <option value="percentage">Percentage</option>
                    <option value="unit">Unit</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Max limit</label>
                  <input type="number" class="form-control" [(ngModel)]="encashment_max_limit" name="encashment_max_limit" placeholder="e.g. 20">
                </div>

              </div>
            </div>

            <div class="btn-row" *ngIf="hasAddPermission">
              <button type="submit" class="btn btn-success">
                <mat-icon>save</mat-icon> Save reset config
              </button>
            </div>

          </form>
        </fieldset>
      </div><!-- /section-body -->
    </div><!-- /section-card -->

    <!-- ─────────────────────────────────────────
         ENTITLEMENTS TABLE
    ───────────────────────────────────────── -->
    <div class="table-card">
      <div class="table-toolbar">
        <div class="table-title">
          <mat-icon>list_alt</mat-icon>
          Entitlement records
          <span class="record-badge">{{ filteredEntitlements.length }} records</span>
        </div>
        <div class="table-actions">
          <div class="search-wrap">
            <mat-icon class="search-icon">search</mat-icon>
            <input
              type="text"
              class="search-input"
              placeholder="Search records..."
              [(ngModel)]="searchQuery"
              (input)="applySearch()">
          </div>
        </div>
      </div>

      <!-- Empty state -->
      <div class="empty-state" *ngIf="filteredEntitlements.length === 0">
        <mat-icon>event_busy</mat-icon>
        <p *ngIf="searchQuery">No records match your search.</p>
        <p *ngIf="!searchQuery">No entitlement configuration found for <strong>{{ selectedLeaveTypeForModal?.name }}</strong>.</p>
      </div>

      <!-- Table -->
      <div class="tbl-wrap" *ngIf="filteredEntitlements.length > 0">
        <table class="ent-table">
          <thead>
            <tr>
              <th style="width:32px"></th>
              <th>#</th>
              <th>Leave type</th>
              <th>Effective after</th>
              <th>Scope</th>
              <th>Accrual</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let ent of filteredEntitlements; let i = index">
              <!-- Main row -->
              <tr [class.row-expanded]="expandedRowId === ent.id">
                <td>
                  <button class="expand-btn" (click)="toggleExpandRow(ent.id)" [attr.aria-expanded]="expandedRowId === ent.id">
                    <mat-icon>{{ expandedRowId === ent.id ? 'expand_less' : 'chevron_right' }}</mat-icon>
                  </button>
                </td>
                <td class="td-num">{{ i + 1 }}</td>
                <td>{{ ent.leave_type_name || ent.leave_type }}</td>
                <td>
                  <span class="chip chip-blue">{{ ent.min_experience }} {{ ent.effective_after_unit }}</span>
                </td>
                <td>
                  <div class="chip-list">
                    <span class="chip chip-gray" *ngFor="let b of (ent.branch_names || [])">{{ b }}</span>
                    <span class="chip chip-gray" *ngFor="let d of (ent.dept_names || [])">{{ d }}</span>
                    <span class="chip chip-muted" *ngIf="!(ent.branch_names?.length) && !(ent.dept_names?.length)">All</span>
                  </div>
                </td>
                <td>
                  <span class="chip chip-green" *ngIf="ent.accrual">{{ ent.accrual_rate }} / {{ ent.accrual_frequency }}</span>
                  <span class="chip chip-muted" *ngIf="!ent.accrual">Off</span>
                </td>
                <td>
                  <div class="td-actions">
                    <button class="icon-btn btn-edit" (click)="editEntitlement(ent)" title="Edit entitlement">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button class="icon-btn btn-del" (click)="openDeleteDialog(ent)" title="Delete entitlement">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
              <!-- Expanded detail row -->
              <tr class="expand-row" *ngIf="expandedRowId === ent.id">
                <td colspan="7">
                  <div class="expand-inner">
                    <div class="kv-grid">
                      <div class="kv-item">
                        <span class="kv-label">Effective from</span>
                        <span class="kv-val">{{ ent.effective_after_from | titlecase }}</span>
                      </div>
                      <div class="kv-item">
                        <span class="kv-label">Accrual month</span>
                        <span class="kv-val">{{ ent.accrual_month || '—' }}</span>
                      </div>
                      <div class="kv-item">
                        <span class="kv-label">Accrual day</span>
                        <span class="kv-val">{{ ent.accrual_day || '—' }}</span>
                      </div>
                      <div class="kv-item">
                        <span class="kv-label">Prorate accrual</span>
                        <span class="kv-val">{{ ent.prorate_accrual ? 'Yes' : 'No' }}</span>
                      </div>
                      <div class="kv-item">
                        <span class="kv-label">Designations</span>
                        <span class="kv-val">{{ ent.desig_names?.join(', ') || 'All' }}</span>
                      </div>
                      <div class="kv-item">
                        <span class="kv-label">Roles</span>
                        <span class="kv-val">{{ ent.role_names?.join(', ') || 'All' }}</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div><!-- /table-card -->

    <!-- ─────────────────────────────────────────
         DELETE CONFIRM DIALOG
    ───────────────────────────────────────── -->
    <div class="modal-overlay" *ngIf="showDeleteDialog" (click)="closeDeleteDialog()">
      <div class="modal-box" (click)="$event.stopPropagation()">
        <div class="modal-icon-wrap">
          <mat-icon class="modal-icon-danger">delete_outline</mat-icon>
        </div>
        <h3 class="modal-title">Delete entitlement?</h3>
        <p class="modal-msg">
          This will permanently remove <strong>{{ entitlementToDelete?.min_experience }} {{ entitlementToDelete?.effective_after_unit }}</strong>
          and its reset configuration. This cannot be undone.
        </p>
        <div class="modal-actions">
          <button class="btn btn-outline" (click)="closeDeleteDialog()">Cancel</button>
          <button class="btn btn-danger" (click)="confirmDelete()">
            <mat-icon>delete_outline</mat-icon> Delete
          </button>
        </div>
      </div>
    </div>

  </div><!-- /tab-body -->
</mat-tab>

             
              <mat-tab *ngIf="showPayRuleForm" label="Leave Pay Rule">


                <div class="tab_boddy" #payRuleTopSection>







                  <div class="mt-4">

                    <h5>Enter Leave Pay Rule</h5>

                    <div class="row"  #applicableFormSection>

                      <div class="col-md-4">
                        <label>Sequence</label>
                        <input type="number" class="form-control" [(ngModel)]="payRuleData.sequence"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div class="col-md-4">
                        <label>Days</label>
                        <input type="number" class="form-control" [(ngModel)]="payRuleData.days"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                      <div class="col-md-4">
                        <label>Pay %</label>
                        <input type="number" class="form-control" [(ngModel)]="payRuleData.pay_percentage"
                          [ngModelOptions]="{standalone: true}">
                      </div>

                    </div>

                    <div class="mt-3" *ngIf="hasAddPermission">
                      
                      <button class="btn btn-success me-2" (click)="submitPayRule()">
                        Save Pay Rule
                      </button>
                      
                        <button
                       class="btn btn-primary"
                       (click)="updatePayRule()"
                       *ngIf="editingPayRuleId">

                         Update Pay Rule

                         </button>
                    </div>

                  </div>



                  <div class="table-container mt-5">
                    <h5 class="mb-3">Leave Pay Rule</h5>

                    <table class="table table-bordered table-hover preview-table" width="100%">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Sequence</th>
                          <th>Days</th>
                          <th>Pay %</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let rule of leavePayRules; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ rule.sequence }}</td>
                          <td>{{ rule.days }}</td>
                          <td>{{ rule.pay_percentage }}</td>
                          <td>
                            <button
                             class="btn btn-primary btn-sm me-2"
                             (click)="editPayRule(rule)">
                              Edit
                            </button>
                            <button
                            class="btn btn-danger btn-sm"
                            (click)="deletePayRule(rule.id)">
                             Delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="leavePayRules.length === 0">

  <tr>
    <td colspan="5" class="text-center text-muted">
      No Leave Pay Rules Found
    </td>
  </tr>

</tbody>
                    </table>
                  </div>
                </div>

              </mat-tab>


            </mat-tab-group>



            <button class="pull-right" mat-button matStepperNext>Next</button>

          </mat-step>

          <mat-step [stepControl]="ThridFormGroup">
            <ng-template matStepLabel>Appicable To</ng-template>
            <form (ngSubmit)="registerleaveApplicable()" enctype="multipart/form-data">
              <div class="row" #applicableFormSection>
                <div class="col-md-4">
                  <label>Gender</label>
                  <div class="custom-sel">
                    <select class="form-control" id="gender" name="gender" [(ngModel)]="gender"
                      [ngModelOptions]="{standalone: true}">
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                      <option value="B">Both</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4" style="display: none;">
                  <label>Leave Type</label>
                  <div class="custom-sel">
                    <select class="form-control" id="leave_type" name="leave_type"
                      [(ngModel)]="selectedLeaveTypeForModal.id" [ngModelOptions]="{standalone: true}">
                      <option *ngFor="let leavetype of LeaveTypes" [value]="leavetype.id">{{ leavetype.name }}</option>

                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <label>Select Branches</label>
                  <div class="custom-sel">
                    <div class="form-control-wrapper">


                      <mat-form-field>
                        <!-- <mat-label>Favorite food</mat-label> -->
                        <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}"
                          #select multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{standalone: true}"
                              (change)="toggleAllSelection()">
                              Select All
                            </mat-checkbox>
                          </div>
                          <input type="text" placeholder="serach" class="form-control">

                          <mat-option *ngFor="let branch of branches" [value]="branch.id">{{ branch.branch_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>

                  </div>

                </div>


                <div class="col-md-4">
                  <label>Department</label>
                  <div class="custom-sel">
                    <div class="form-control-wrapper">
                      <mat-form-field>
                        <mat-select placeholder="Select" [(ngModel)]="department" [ngModelOptions]="{standalone: true}"
                          #selectDept multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelecteddept" [ngModelOptions]="{standalone: true}"
                              (change)="toggleAllSelectiondept()">
                              Select All
                            </mat-checkbox>
                          </div>
                          <mat-option *ngFor="let department of Departments" [value]="department.id">{{
                            department.dept_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                </div>




                <div class="col-md-4">
                  <label>Designation</label>
                  <div class="custom-sel">
                    <div class="form-control-wrapper">
                      <mat-form-field>
                        <mat-select placeholder="Select" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}"
                          #selectDes multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelectedDes" [ngModelOptions]="{standalone: true}"
                              (change)="toggleAllSelectionDes()">
                              Select All
                            </mat-checkbox>
                          </div>

                          <mat-option *ngFor="let des of Designation" [value]="des.id">{{ des.desgntn_job_title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                </div>




                <div class="col-md-4">
                  <label>Role</label>
                  <div class="custom-sel">
                    <div class="form-control-wrapper">
                      <mat-form-field>
                        <mat-select placeholder="Select" [(ngModel)]="role" [ngModelOptions]="{standalone: true}"
                          #selectCat multiple>
                          <div class="select-all">
                            <mat-checkbox [(ngModel)]="allSelectedcat" [ngModelOptions]="{standalone: true}"
                              (change)="toggleAllSelectioncat()">
                              Select All
                            </mat-checkbox>
                          </div>

                          <mat-option *ngFor="let role of Category" [value]="role.id">{{ role.ctgry_title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                </div>


              </div>
              <div class="row" *ngIf="hasAddPermission">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success btn-full mt-4">Save</button>

                </div>
              </div>

              <div class="table-container mt-4" *ngIf="leaveApplicableList && leaveApplicableList.length > 0">

  <h5 class="mb-3">Leave Applicable List</h5>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>No</th>
        <th>Gender</th>
        <th>Branch</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of leaveApplicableList; let i = index">

        <td>{{ i + 1 }}</td>
        <td>{{ item.gender || 'All' }}</td>

        <td>
          <span *ngFor="let b of item.branch">{{ b }} </span>
        </td>

        <td>
          <span *ngFor="let d of item.department">{{ d }} </span>
        </td>

        <td>
          <span *ngFor="let des of item.designation">{{ des }} </span>
        </td>

        <td>
          <span *ngFor="let r of item.role">{{ r }} </span>
        </td>

        <td>
          <button type="button" class="btn btn-sm btn-primary me-2" (click)="editLeaveApplicable(item)">
            Edit
          </button>
        
          <button type="button" class="btn btn-sm btn-danger" (click)="deleteLeaveApplicable(item.id)">
            Delete
          </button>
        </td>

      </tr>
    </tbody>
  </table>

</div>
            </form>



          </mat-step>
        </mat-horizontal-stepper>





      </div>
    </div>
  </div>

</div>