
 <div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">

      <div class="header_section">

        <div class="row">
            <div class="col-md-4">
                <h1>Latein Earlyout Request</h1>
            </div>

            <div class="col-md-3">
                
                <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

            </div>
            <div class="col-md-5">
                <div class="button-group pull-right">
                    <button *ngIf="hasAddPermission" type="button" (click)="openPopus()" class="btn-Create btn btn-success " ><span class="header-btn-icon"><mat-icon>add_circle
                    </mat-icon></span> Create</button>
                  <span *ngIf="!hasAddPermission"></span>

                    <button *ngIf="hasEditPermission" type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()"  >
                        <span class="header-btn-icon">
                         <mat-icon>draw
                    </mat-icon></span> Edit</button>
                    <span *ngIf="!hasEditPermission"></span>

                    <button *ngIf="hasDeletePermission" type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" >
                        <span class="header-btn-icon">
                            <mat-icon> delete
                       </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                       <span *ngIf="!hasDeletePermission"></span>
                </div>
            </div>
        </div>
       
       

    </div>

    <div class="row">
        <div class="col-md-2">
            
            <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

        </div>
        <div class="col-md-3">
            <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

        </div>
    </div>
  

  

    <div *ngIf="iscreateLoanApp" class="modal">
        <div class="modal-content">  
          <div class="row">
            <div class="col-md-10">
              <h2>Create Late In Early Out Request</h2>
            </div>
            <div class="col-md-2">
              <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
            </div>
          </div>
          <hr />
      
          <form (ngSubmit)="SetLateInEarlyOut()" enctype="multipart/form-data">
            <div class="row">

        <div class="col-md-6">

  <div class="custom-sel">
            <div class="form-control-wrapper">

      <label>Select Employee</label>
       <mat-form-field appearance="outline" style="width:100%">

    <!-- Employee Dropdown -->
  <mat-select [(ngModel)]="employee"
              [ngModelOptions]="{standalone: true}"
              multiple>

    <input type="text"
           placeholder="Search Employee"
           class="form-control"
           [(ngModel)]="employeeSearch"
           [ngModelOptions]="{standalone: true}"
           (click)="$event.stopPropagation()">


        <!-- Employee List -->
    <mat-option *ngFor="let emp of filterEmployees()"
                [value]="emp.id">
      {{ emp.emp_code }}
    </mat-option>

      </mat-select>
          </mat-form-field>
</div>
         

  </div>

</div>


              <div class="col-md-6">
                <label>Date</label>
                <input type="date" class="form-control" required [(ngModel)]="date" placeholder="Enter date"
                       [ngModelOptions]="{standalone: true}" >
              </div>

           <div class="col-md-6">
                <label>Request Type</label>
                <div class="custom-sel">
                  <select class="form-control" id="request_type" name="request_type" [(ngModel)]="request_type" [ngModelOptions]="{standalone: true}">
                    <option  value="LATE_IN">Late Check In</option>
                    <option  value="EARLY_OUT">Early Check Out</option>          
                  </select>
                </div>
              </div>

            <!-- <div class="col-md-6">
                <label>Status</label>
                <div class="custom-sel">
                  <select class="form-control" id="status" name="status" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                    <option  value="PENDING">Pending</option>
                    <option  value="APPROVED">Approved</option>
                    <option  value="REJECTED">Rejected</option>           
                  </select>
                </div>
              </div> -->



              <div class="col-md-12">
                <label>Reason</label>
                <textarea class="form-control" [(ngModel)]="reason" [ngModelOptions]="{standalone: true}" placeholder="Enter reason"></textarea>
              </div>

 
        
         
              


          

        
               
         
          
         
            </div>
          
            <div class="row" >
              <div class="col-md-8"></div>
              <div class="col-md-2">
                <button type="button" (click)="closeapplicationModal()" class="btn btn-danger btn-full mt-5">Close</button>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-full mt-5">Sent</button>
              </div>
            </div>
          </form>


        
        </div>
      </div>


         <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
<div class="modal-content">
  <div class="row">
    <div class="col-md-10">
      <h2>Edit Late In Early Out Request </h2>
    </div>
    <div class="col-md-2">
      <span class="close pull-right" (click)="closeEditModal()">&times;</span>
    </div>
  </div>
  <hr />

  <form >
    
    <div class="row">

      <div class="col-md-6">

  <div class="custom-sel">
            <div class="form-control-wrapper">

      <label>Select Employee</label>
       <mat-form-field appearance="outline" style="width:100%">

    <!-- Employee Dropdown -->
  <mat-select [(ngModel)]="editAsset.employee"
              [ngModelOptions]="{standalone: true}"
              multiple>

    <input type="text"
           placeholder="Search Employee"
           class="form-control"
           [(ngModel)]="employeeSearch"
           [ngModelOptions]="{standalone: true}"
           (click)="$event.stopPropagation()">


        <!-- Employee List -->
    <mat-option *ngFor="let emp of filterEmployees()"
                [value]="emp.id">
      {{ emp.emp_code }}
    </mat-option>

      </mat-select>
          </mat-form-field>
</div>
         

  </div>

</div>

              <div class="col-md-6">
                <label>Date</label>
                <input type="date" class="form-control" required [(ngModel)]="editAsset.date" placeholder="Enter date"
                       [ngModelOptions]="{standalone: true}" >
              </div>

           <div class="col-md-6">
                <label>Request Type</label>
                <div class="custom-sel">
                  <select class="form-control" id="request_type" name="request_type" [(ngModel)]="editAsset.request_type" [ngModelOptions]="{standalone: true}">
                    <option  value="LATE_IN">Late Check In</option>
                    <option  value="EARLY_OUT">Early Check Out</option>          
                  </select>
                </div>
              </div>

            <!-- <div class="col-md-6">
                <label>Status</label>
                <div class="custom-sel">
                  <select class="form-control" id="status" name="status" [(ngModel)]="editAsset.status" [ngModelOptions]="{standalone: true}">
                    <option  value="PENDING">Pending</option>
                    <option  value="APPROVED">Approved</option>
                    <option  value="REJECTED">Rejected</option>           
                  </select>
                </div>
              </div> -->
  

  

              <div class="col-md-12">
                <label>Reason</label>
                <textarea class="form-control" [(ngModel)]="editAsset.reason" placeholder="Enter reason"></textarea>
              </div>


  </div>

    <div class="row" >
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button type="button" (click)="closeEditModal()" class="btn btn-danger btn-full mt-5">Close</button>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="updateLateInEarlyOut()"  class="btn btn-success btn-full mt-5">Sent</button>
      </div>
    </div>
  </form>



</div>
</div>






  <div class="com_list mt-4" *ngIf="hasViewPermission">
  <table width="100%" *ngIf="hasViewPermission">
          <thead>
            <tr>
              <th>No</th>
              <th>Date</th>
              <th>Request Type</th>
              <th>Reason</th>
              <th>Employee</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              
            <tr *ngFor="let docs of DocRequest;let i = index">
      
          
        <td data-label="No">{{ i + 1 }}</td>
        <td data-label="Date">{{ docs.date }}</td>
        <td data-label="RequestType">{{ docs.request_type }}</td>
        <td data-label="Reason">{{ docs.reason }}</td>
        <td data-label="Employee">{{ docs.employee }}</td>
        <td>
           <span class="badge" [ngClass]="docs.status ? 'bg-success' : 'bg-secondary'">
                 {{ docs.status }}
            </span>
        </td>
       
              <td data-label="Actions">
                <button
                  mat-fab
                  color="primary"
                  aria-label="Edit icon"
                  *ngIf="showEditBtn"

                  
                  (click)="openEditModal(docs)"
                >
                  <mat-icon style="color: white;">draw</mat-icon>
                </button>

                <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected" ></mat-checkbox>

              </td>

            </tr>
        
          </tbody>
        </table>

</div>

  



    </div>
</div>
