<div mat-dialog-content class="">

    <div class="cpm-sec">

  <div class="text-right">
    <!-- Styled Square Close Button -->
    <span class="close-btn" (click)="ClosePopup()">
      ×
    </span>
  </div>

        <h1>General Request Email Template</h1><hr>

        <form>
            <div class="form-group">
              <label>Template Type</label>
              <select class="form-control" [(ngModel)]="templateData.template_type" [ngModelOptions]="{standalone: true}">
                <option value="request_created">Request Created</option>
                <option value="request_approved">Request Approved</option>
                <option value="request_rejected">Request Rejected</option>
              </select>
            </div>

                            <div class="col-md-12">
                    <label>Choose option</label><br>
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="templateData.related_to" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button  value="branch">branch</mat-radio-button>
                        <mat-radio-button value="department"> department</mat-radio-button>
                        <mat-radio-button value="category"> category</mat-radio-button>
                        <mat-radio-button value="designation"> Designation </mat-radio-button>
  
  
                      </mat-radio-group>
                </div>
  
  
               
  
                    <style>
                        .mat-mdc-form-field-infix{
                            margin-top: -14px;
                        }
  
                        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                            background-color: wh;
                        }
                    </style>
            
                
                <div class="col-md-12" *ngIf="related_to === 'branch'">
                    <label>Select Branches </label>
                    <div class="custom-sel">
                      <div class="form-control-wrapper">
                    
  
                        <mat-form-field>
                          <!-- <mat-label>Favorite food</mat-label> -->
                          <mat-select placeholder="Select" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}" #branchSelect multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelectedBrach" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectionBrach()">
                                Select All
                              </mat-checkbox>
                            </div>
                            <input type="text" placeholder="serach" class="form-control">
  
                            <mat-option *ngFor="let food of branches" [value]="food.id">
                              {{ food.branch_name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
                      </div>
                     
                    </div>
                  </div>
                  
                    
                 
                  <div class="col-md-12" *ngIf="related_to === 'department'">
                    <label>Department
                       <span class="required-star">*</span>
                    </label>
                    <div class="custom-sel">
                        <div class="form-control-wrapper">
                          <mat-form-field>
                            <mat-select  placeholder="Select" [(ngModel)]="department" [ngModelOptions]="{standalone: true}" #select  multiple>
                              <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelecteddept" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondept()">
                                  Select All
                                </mat-checkbox>
                              </div>
                              <mat-option *ngFor="let deparmentsec of Departments" [value]="deparmentsec.id">
                                {{ deparmentsec.dept_name }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                     
                      </div>
                </div>
  
                <div class="col-md-12" *ngIf="related_to === 'category'">
                    <label>Category
                       <span class="required-star">*</span>
                    </label>
                    <div class="custom-sel">
                        <div class="form-control-wrapper">
                          <mat-form-field>
                            <mat-select  placeholder="Select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}" #select multiple>
                              <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelectedcat" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectioncat()">
                                  Select All
                                </mat-checkbox>
                              </div>
                             
                              <mat-option *ngFor="let deparmentsec of Categories" [value]="deparmentsec.id">
                                {{ deparmentsec.ctgry_title }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                       
                      </div>
                </div>
                
                <div class="col-md-12" *ngIf="related_to === 'designation'">
                  <label>Designation
                     <span class="required-star">*</span> </label>
                  <div class="custom-sel">
                      <div class="form-control-wrapper">
                        <mat-form-field>
                          <mat-select  placeholder="Select" [(ngModel)]="designation" [ngModelOptions]="{standalone: true}" #selectdes multiple>
                            <div class="select-all">
                              <mat-checkbox [(ngModel)]="allSelecteddes" [ngModelOptions]="{standalone: true}" (change)="toggleAllSelectiondes()">
                                Select All
                              </mat-checkbox>
                            </div>
                           
                            <mat-option *ngFor="let deparmentsec of Designations" [value]="deparmentsec.id">
                              {{ deparmentsec.desgntn_job_title }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                     
                    </div>
              </div>

          
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" [(ngModel)]="templateData.subject" [ngModelOptions]="{standalone: true}" placeholder="Enter subject">
            </div>
          
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <label>Body</label>
                        <div id="summernote" [(ngModel)]="templateData.body" [ngModelOptions]="{standalone: true}"></div>
                    </div>



                    
               
                        <div class="col-md-4">
                            <label>Select Field names</label>
                            <div class="email_placeholdername">
                              <div class="on_by_placeholders" *ngFor="let placeholder of EmailPlaceHolders" (click)="selectPlaceholder(placeholder)">
                                <h4>{{ placeholder }}</h4> <!-- Display the placeholder value -->
                              </div>
                            </div>
                          </div>
                        
 

                     
                
                </div>
              
            </div>
<!-- 
            <div class="form-group">
                <div class="custom-sel">
                    <label>Select Request Type</label>
                    <select class="form-control"  required [(ngModel)]="templateData.request_type"  [ngModelOptions]="{standalone: true}"  >
                        <option value="" >Select</option>
                        <option *ngFor="let deparmentsec of RequestType" [value]="deparmentsec.id">{{ deparmentsec.name     }} </option>
                    </select>
                </div> 
            </div> -->
          
            <div class="form-group">

              <div class="row mt-4">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-danger btn-full" (click)="ClosePopup()" >Close</button>

                </div>
              <div class="col-md-2">
                  <button type="button" class="btn btn-success btn-full" (click)="updateTemplate()">Update</button>

                </div>
</div>

            </div>
          </form>


        </div>
</div>
<div mat-dialog-action>
    
</div>
