
.email_placeholdername{
    /* margin-top: 50px; */
    background: white;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 200px;
    overflow-y: scroll;

  }

  .on_by_placeholders{
    background: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;


  }

  .on_by_placeholders h4{
    font-size: 12px;
    text-align: center;
  }

  .emailtep_det_{
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  
  .note-editable {
    font-size: inherit !important; /* Ensure that the font size changes according to Summernote settings */
  }

  
css
----


.form-control-wrapper {
  display: flex;
  flex-direction: column;
}

::ng-deep .form-control-wrapper mat-form-field {
  width: 100%;
}

::ng-deep .form-control-wrapper .mat-form-field-wrapper {
  padding: 0;
  margin: 0;
}

::ng-deep .form-control-wrapper .mat-form-field-flex {
  background: none;
  border: none;
  box-shadow: none;
}

::ng-deep .form-control-wrapper .mat-form-field-underline {
  display: none;
}

::ng-deep .form-control-wrapper .mat-select {
  padding: 0;
  border: none;
  box-shadow: none;
  height: auto;
  line-height: 1.5;
}