<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">

        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> Project Stages</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedAssetType()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2>  Project Stages</h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

            <div class="row">
               

              <div class="col-md-6" >
               
                <label> Title</label>
               <input type="text"  class="form-control" required  [(ngModel)]="title"  placeholder="Enter title"
                [ngModelOptions]="{standalone: true}" >
               
          </div>

                 
          <div class="col-md-6" >
               
            <label>sequence</label>
           <input type="number"  class="form-control" required  [(ngModel)]="sequence"  placeholder="Enter sequence"
            [ngModelOptions]="{standalone: true}" >
           
      </div>



      <div class="col-md-6" >
        <label>Select Projects</label>
        <div class="custom-sel">
          <select
            class="form-control"
            id="project"
            name="project"
            [(ngModel)]="project"
            [ngModelOptions]="{ standalone: true }"
          >
            <option *ngFor="let employees of Employees" [value]="employees.id">
              {{ employees.title }}
            </option>
          </select>
        </div>
      </div>
      
      








       

      
<div class="col-md-6">
    <label></label>
    <div class="check-box-selection-sec form-control mt-3">
      <div class="mat-set">
        <mat-checkbox [(ngModel)]="is_end_stage" [ngModelOptions]="{standalone: true}">Is end stage</mat-checkbox>
      </div>
    </div>
  </div>


    
            </div>

    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateProject()">Save</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

          <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit Asset </h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form>
      
        <div class="row">
               

            <div class="col-md-6" >
             
              <label>Asset Name</label>
             <input type="text"  class="form-control" required  [(ngModel)]="editAsset.name"  placeholder="Enter name"
              [ngModelOptions]="{standalone: true}" >
             
        </div>

         <div class="col-md-6" >
             
              <label>Serial No</label>
             <input type="text"  class="form-control" required  [(ngModel)]="editAsset.serial_number"  placeholder="Enter Serial no"
              [ngModelOptions]="{standalone: true}" >
             
        </div>
        <div class="col-md-6" >
             
          <label>Model</label>
         <input type="text"  class="form-control" required  [(ngModel)]="editAsset.model"  placeholder="Enter Model"
          [ngModelOptions]="{standalone: true}" >
         
    </div>

    <div class="col-md-6" >
             
      <label>Purchase date</label>
     <input type="date"  class="form-control" required  [(ngModel)]="editAsset.purchase_date"  placeholder="Enter Purchase date"
      [ngModelOptions]="{standalone: true}" >
     
</div>

<div class="col-md-6" >
  <label>Status</label>
  <div class="custom-sel">
    <select
      class="form-control" [(ngModel)]="editAsset.status" [ngModelOptions]="{ standalone: true }">
      <option value="new">New </option>
      <option value="in_progress">In Progress </option>

      <option value="completed">Completed </option>

      <option value="on_hold">On Hold </option>
      <option value="cancelled">Cancelled </option>

      <option value="expired">Expired</option>


    </select>
  </div>
</div>


<div class="col-md-6" >
  <label>Condition</label>
  <div class="custom-sel">
    <select
      class="form-control" [(ngModel)]="editAsset.condition" [ngModelOptions]="{ standalone: true }">
      <option value="healthy">Healthy </option>
      <option value="minor_damage">Minor Damage </option>
      <option value="major_damage">Major Damage </option>

  

    </select>
  </div>
</div>




<div class="col-md-6" >
  <label>Select Asset Type</label>
  <div class="custom-sel">
    <select
      class="form-control"
      id="asset_type"
      name="asset_type"
      [(ngModel)]="editAsset.asset_type"
      [ngModelOptions]="{ standalone: true }"
    >
      <option *ngFor="let employees of LoanTypes" [value]="employees.id">
        {{ employees.name }}
      </option>
    </select>
  </div>
</div>

   
        
    
    
 



  
          </div>


        
  
        <div class="row">
          <div class="col-md-10"></div>
          <div class="col-md-2">
            <button
              type="button"
              class="btn-Create btn-full mt-5 btn-success btn"
              (click)="updateAssetType()"
            >
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

        <div class="com_list mt-4" *ngIf="hasViewPermission">

            <div style="overflow-x: auto; width: 100%;">

          <table width="100%" *ngIf="hasViewPermission">
            <thead>
              <tr>
                <th>No</th>
                <th> Title</th>
                <th> sequence</th>
                <th>Is end stage</th>
                <th>  Project</th>
             
                <th>Action</th>
              </tr>
            </thead>
          
            <tbody>
              <tr *ngFor="let docs of LoanTypes; let i = index">
                <td data-label="No">{{ i + 1 }}</td>
                <td data-label="Title">{{ docs.title }}</td>
                <td data-label="Sequence">{{ docs.sequence }}</td>
                <td data-label="Is End Stage">{{ docs.is_end_stage }}</td>
                <td data-label="Project">{{ docs.project }}</td>

                

                <!-- Dynamic custom field values -->
            
                <td data-label="Action">
                  <button
                    mat-fab

                    color="primary"
                    aria-label="Edit icon"
                    *ngIf="showEditBtn"
                    (click)="openEditModal(docs)"
                  >
                    <mat-icon style="color: white;">draw</mat-icon>
                  </button>
                  <mat-checkbox *ngIf="Delete" [(ngModel)]="docs.selected"></mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
          </div>

        </div>
        </div>
        </div>
        