<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
   -->




<!-- <h1>lerning</h1>
<router-outlet></router-outlet> -->



<!-- <h1 style="text-align: center;">Login</h1> -->

<style>
  body {
    overflow: hidden !important;
  }
</style>


<!-- <div class="buble-one"></div>
  <div class="buble-two"></div> -->
<div class="mt-5"></div>
<div class="container" id="container">

  <h3></h3>

  <div class="form-container sign-in" *ngIf="showCurrentDiv">
    <!--  -->

    <form (ngSubmit)="validateCredentials()" *ngIf="step === 1">
      <h1>Sign In</h1>
    
      <input type="text" class="form-control"
             [(ngModel)]="username"
             placeholder="enter user id"
             [ngModelOptions]="{standalone: true}">
    
      <input type="password" class="form-control"
             [(ngModel)]="password"
             placeholder="enter password"
             [ngModelOptions]="{standalone: true}">
    
      <button class="btn-log" type="submit">Continue</button>
    </form>
    
    
    
  <!-- STEP 2: SEND OTP -->
   <form *ngIf="step === 2">
<div  class="otp-success-box">

  <div class="success-icon">
    <span class="checkmark"></span>
  </div>

  <p class="success-text">User validated successfully!</p>

  <button class="btn-log" (click)="sendOtp()">Send OTP</button>

</div>
</form>
    
    <form *ngIf="step === 3">
    <!-- STEP 3: OTP VERIFY -->
 
      <input type="text"
             class="form-control"
             placeholder="Enter OTP"
             [(ngModel)]="otp"
             [ngModelOptions]="{standalone: true}">
    
      <button class="btn-log" (click)="verifyOtp()">Verify OTP</button>
 
    </form>
    

  </div>









  
  <div class="form-container sign-in" *ngIf="!showCurrentDiv">

    <form (submit)="registerUser()">
      <h1 class="">Sign Up</h1>
      <input [(ngModel)]="register.username" id="username" [ngModelOptions]="{standalone:true}" type="text" class="form-control"
        placeholder="User Name" required [ngClass]="{'error-field': registerButtonClicked && !username}">
        <div *ngIf="registerButtonClicked && !username" class="error-message">username is required.</div>


      <input [(ngModel)]="register.first_name" [ngModelOptions]="{standalone:true}" type="text" class="form-control"
        placeholder="First Name" required [ngClass]="{'error-field': registerButtonClicked && !first_name}">
        <div *ngIf="registerButtonClicked && !first_name" class="error-message">first_name is required.</div>


      <input [(ngModel)]="register.last_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
        placeholder="Last Name" required>

      <input [(ngModel)]="register.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control"
        placeholder="Email" required [ngClass]="{'error-field': registerButtonClicked && !email}">
        <div *ngIf="registerButtonClicked && !email" class="error-message">email is required.</div> 


      <input [(ngModel)]="register.contact_number" [ngModelOptions]="{standalone: true}" type="email"
        class="form-control" placeholder="Contact Number" required [ngClass]="{'error-field': registerButtonClicked && !contact_number}">
        <div *ngIf="registerButtonClicked && !contact_number" class="error-message">contact_number is required.</div> 


      <input [(ngModel)]="register.password" [ngModelOptions]="{standalone: true}" type="password" class="form-control"
        placeholder="password" required [ngClass]="{'error-field': registerButtonClicked && !password}">
        <div *ngIf="registerButtonClicked && !password" class="error-message">password is required.</div> 


      <button class="btn-log" type="submit">Sign Up</button>
    </form>





  </div>
  
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your Personal details to use all of site features</p>
        <button class="hidden" id="login">Sign In</button>
      </div>
      <div class="toggle-panel toggle-right">


        <h1>Hello, Friend!</h1>
        <p>Register with your Personal details to use all of site features</p>
        <button  class="hidden btn-log" id="register" *ngIf="showButton" (click)="toggleDivs()"> {{ showCurrentDiv ? 'Sign Up' :
          'Sign In' }}</button>
      </div>
    </div>
  </div>

</div>


<!-- GLOBAL LOADING SPINNER -->
<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Please wait...</p>
</div>