<!-- <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
   -->




<!-- <h1>lerning</h1>
<router-outlet></router-outlet> -->



<!-- <h1 style="text-align: center;">Login</h1> -->

<style>
  body {
    overflow: hidden !important;
  }
</style>


<!-- <div class="buble-one"></div>
  <div class="buble-two"></div> -->

<div class="login-page">

  <div class="login-container">

    <!-- LEFT SIDE -->
    <div class="login-left">

      <div class="brand-section">

        <img
          src="assets/zeo_logo_new.png"
          class="logo"
          alt="Logo">

        <h2>ZEO HRMS</h2>

        <p>Human Resource Management System</p>

      </div>

      <!-- STEP 1 -->
      <form *ngIf="step === 1"
            (ngSubmit)="validateCredentials()">

        <div class="input-group">

          <i class="fa fa-user"></i>

          <input
            type="text"
            placeholder="Username"
            [(ngModel)]="username"
            [ngModelOptions]="{standalone:true}">

        </div>
<div class="input-group password-group">

    <i class="fa fa-lock input-icon"></i>

    <input
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        [(ngModel)]="password"
        [ngModelOptions]="{standalone:true}">

    <span
        class="eye-icon"
        (click)="togglePassword()">

        <i
            class="fa"
            [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" style="left: 0px;">
        </i>

    </span>

</div>

        <button
          type="submit"
          class="btn-login">

          Login

        </button>

      </form>

      <!-- STEP 2 -->
      <div
        *ngIf="step === 2"
        class="otp-success">

        <div class="success-circle">

          <i class="fa fa-check"></i>

        </div>

        <h4>User Validated Successfully</h4>

        <p>
          Click below to receive OTP
        </p>

        <button
          class="btn-login"
          (click)="sendOtp()">

          Send OTP

        </button>

      </div>

      <!-- STEP 3 -->
      <form *ngIf="step === 3">

        <h3>OTP Verification</h3>

        <p class="subtitle">
          Enter OTP sent to your mobile/email
        </p>

        <div class="input-group">

          <i class="fa fa-key"></i>

          <input
            type="text"
            placeholder="Enter OTP"
            [(ngModel)]="otp"
            [ngModelOptions]="{standalone:true}">

        </div>

        <button
          class="btn-login"
          (click)="verifyOtp()">

          Verify OTP

        </button>

      </form>

    </div>

    <!-- RIGHT SIDE -->
    <div class="login-right">

      <img
      src="assets/no-projects.svg"
        class="hero-image">

      <h1>Smart HR Management</h1>

      <p>
        Manage Employees, Attendance,
        Payroll and Performance from one place.
      </p>

      <!-- <div class="feature-cards">

        <div class="feature-card">

          <i class="fa fa-users"></i>

          <span>Employees</span>

        </div>

        <div class="feature-card">

          <i class="fa fa-calendar-check"></i>

          <span>Attendance</span>

        </div>

        <div class="feature-card">

          <i class="fa fa-money-bill"></i>

          <span>Payroll</span>

        </div>

      </div> -->

    </div>

  </div>

</div>

<!-- GLOBAL LOADING SPINNER -->
<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
  <p>Please wait...</p>
</div>