<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section" >



      <div class="tab_back ">
        <mat-tab-group> 
            <mat-tab label="Payroll Run">
                
                <div class="tab_boddy">
                 

                  <!-- <h2>Payroll Run</h2><hr> -->
      
              
                  <form (ngSubmit)="requestPayRoll()" enctype="multipart/form-data">
    
                    <div class="row">
                     
                      <div class="col-md-6">
                        <label> Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="name" placeholder="Enter  name"
                        [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
                 <div *ngIf="registerButtonClicked && !name" class="error-message"> name is required.</div>
                    </div>
    
                          
                 
    
                  <div class="col-md-6">
                    <label> Year</label>
                    <input type="number" class="form-control" required [(ngModel)]="year" placeholder="Enter  year"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !year}">
             <div *ngIf="registerButtonClicked && !year" class="error-message"> year is required.</div>
                </div>
    
                <div class="col-md-6">
                  <label>Month</label>
                  <div class="custom-sel">
                    <select class="form-control" id="month" name="month" [(ngModel)]="month" [ngModelOptions]="{standalone: true}">
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
                
              <div class="col-md-6">
                <label> Payment date</label>
                <input type="date" class="form-control" required [(ngModel)]="payment_date" placeholder="Payment  date"
                [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !payment_date}">
         <div *ngIf="registerButtonClicked && !payment_date" class="error-message"> Payment date is required.</div>
            </div>
    
                          <div class="col-md-6">
                            <label>Branch</label>
                            <div class="custom-sel">
                              <select class="form-control" id="branch" name="branch" [(ngModel)]="branch" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let branch of Branches" [value]="branch.id">{{ branch.branch_name }}</option>
                              </select>
                            </div>
                          </div>
     
              
                          <div class="col-md-6">
                            <label>Department</label>
                            <div class="custom-sel">
                              <select class="form-control" id="department" name="department" [(ngModel)]="department" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let dept of Departments" [value]="dept.id">{{ dept.dept_name }}</option>
                              </select>
                            </div>
                          </div>
              
              
             
                  <div class="col-md-6">
                    <label>Category</label>
                    <div class="custom-sel">
                      <select class="form-control" id="category" name="category" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let category of Categories" [value]="category.id">{{ category.ctgry_description
                        }}</option>
                      </select>
                    </div>
                  </div>
    
                
    
                
                        </div>
                        
                        <div class="row" >
                          <div class="col-md-9"></div>
                          <div class="col-md-3" *ngIf="hasAddPermission">
                              <button type="submit"  class="btn btn-success btn-full mt-4">Run Payroll</button>
              
                          </div>
                      </div>
                  
                </form>
            


                    
            </div>


            <div class="end_section"></div>
            <table width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Year</th>
                  <th> Month</th>
                  <th>Payment Date</th>

                  <th>branch</th>
                  <th>department</th>
                  <th>category</th>
                  <th>status</th>
                  <th>Action</th>




                </tr>
              </thead>
              <tbody>
                  
                  <tr *ngFor="let payroll of Payrolls;let i = index">
                       <td data-label="No">{{ i + 1 }}</td>
            <td data-label="Name">{{ payroll.name }}</td>
            <td data-label="Year">{{ payroll.year }}</td>
            <td data-label="Month">{{ getMonthName(payroll.month) }}</td>
            <td data-label="Payment Date">{{ payroll.payment_date }}</td>
            <td data-label="Branch">{{ payroll.branch }}</td>
            <td data-label="Department">{{ payroll.department }}</td>
            <td data-label="Category">{{ payroll.category }}</td>
            <td data-label="Status">{{ payroll.status }}</td>
            <td data-label="Action" >
                        <i *ngIf="hasAddPermission"
                          class="fa-solid fa-trash"
                          style="cursor: pointer; text-align: center;"
                          (click)="deletePayroll(payroll.id)"
                          title="Delete Payroll"
                        ></i>
                      </td>                     


                </tr>
            
              </tbody>
            </table>
          
          </mat-tab>

          <mat-tab label="Trail Pay Sheet">
  
            <div class="tab_boddy mt-4" style="padding: 10px;">
         
              <div style="overflow-x: auto; max-height: 500px; overflow-y: auto;">

              <table class="styled-table mt-2" width="100%" style="border-collapse: collapse; min-width: 1200px;">
                <thead>
                  <tr>
                    <!-- Select All Checkbox -->
                    <th>
                      <mat-checkbox [(ngModel)]="masterSelected" (change)="selectAllRows()"></mat-checkbox>
                    </th>
                    <th class="text-table-header">No</th>
                    <th class="text-table-header">Employee Code</th>
                    <th class="text-table-header">Payroll Name</th>
                    <th class="text-table-header">Year</th>
                    <th class="text-table-header">Month</th>
                    <th class="text-table-header">Gross Salary</th>
                    <th class="text-table-header">Total Additions</th>
                    <th class="text-table-header">Total Deductions</th>
                    <th class="text-table-header">Net Salary</th>
                    <th class="text-table-header">Pro Rata Adjustment</th>
                    <th class="text-table-header">Working Days</th>
                    <th class="text-table-header">Days Worked</th>
                    <th class="text-table-header">Status</th>
                    <th class="text-table-header">Components</th>
                  </tr>
                </thead>
              
<tbody class="text-table-body">
  
  <tr *ngFor="let payslip of PaySlips; let i = index">
    <!-- Checkbox -->
    <td data-label="Select">
      <mat-checkbox [(ngModel)]="payslip.selected" (change)="checkIfAllSelected()"></mat-checkbox>
    </td>

    <td data-label="No">{{ i + 1 }}</td>
    <td data-label="Employee Code">{{ payslip.employee }}</td>
    <td data-label="Payroll Name">{{ payslip.payroll_run?.name }}</td>
    <td data-label="Year">{{ payslip.payroll_run?.year }}</td>
    <td data-label="Month">{{ getMonthName(payslip.payroll_run?.month) }}</td>
    <td data-label="Gross Salary">{{ payslip.gross_salary }}</td>
    <td data-label="Total Additions">{{ payslip.total_additions }}</td>
    <td data-label="Total Deductions">{{ payslip.total_deductions }}</td>
    <td data-label="Net Salary">{{ payslip.net_salary }}</td>
    <td data-label="Pro Rata Adjustment">{{ payslip.pro_rata_adjustment }}</td>
    <td data-label="Working Days">{{ payslip.total_working_days }}</td>
    <td data-label="Days Worked">{{ payslip.days_worked }}</td>

    <td data-label="Status">
      <span
        class="pill"
        [ngClass]="{
          'pill green': payslip.status === 'approved',
          'pill blue': payslip.status === 'processed',
          'pill yellow': payslip.status === 'pending',
          'pill red': payslip.status === 'rejected'
        }"
      >
        {{ payslip.status }}
      </span>
    </td>

    <td data-label="Components">
      <ul>
        <li *ngFor="let comp of payslip.components">
          <strong>{{ comp.component_name }}</strong>
          ({{ comp.component_type }}): {{ comp.payslip_amount }}
        </li>
      </ul>
    </td>
  </tr>
              </tbody>

              </table>
              </div>

              <div class="row">
                <div class="col-md-2" *ngIf="hasAddPermission">
                  <button  type="button" class="btn btn-success mt-2 btn-full" (click)="confirmSelectedPayslips()">Confirm</button>

                </div>
              </div>
              

            </div>

            <div class="end_section"></div>
          
              </mat-tab>



           

           
              <mat-tab label="Final Pay Sheet">
  
                <div class="tab_boddy mt-4" style="padding: 10px;">
             
                  <!-- <div class="search-container">
                    <input type="text" class="search-input" placeholder="Search..." [(ngModel)]="searchQuery"
                    [class.expanded]="isExpanded" (input)="filterDocuments()">
                    <button class="search-btn" (click)="toggleSearch()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div> -->
                <!-- Container for Export button and scrollable table -->
<div class="table-container">
  
  <!-- Export Button on top -->
  <div class="table-header" *ngIf="hasAddPermission">
    <button class="btn pull-right btn-export" (click)="exportToExcel()">Export</button>
  </div>

  <!-- Scrollable Table Wrapper -->
  <div class="table-scroll">
    <table class="styled-table mt-2" width="100%" style="border-collapse: collapse; min-width: 1200px;">
      <thead>
        <tr>
          <th class="text-table-header">No</th>
          <th class="text-table-header">Employee Code</th>
          <th class="text-table-header">Payroll Name</th>
          <th class="text-table-header">Year</th>
          <th class="text-table-header">Month</th>
          <th class="text-table-header">Gross Salary</th>
          <th class="text-table-header">Total Additions</th>
          <th class="text-table-header">Total Deductions</th>
          <th class="text-table-header">Net Salary</th>
          <th class="text-table-header">Pro Rata Adjustment</th>
          <th class="text-table-header">Working Days</th>
          <th class="text-table-header">Days Worked</th>
          <th class="text-table-header">Status</th>
          <th class="text-table-header">Components</th>
        </tr>
      </thead>
      <tbody class="text-table-body">
        <tr *ngFor="let payslip of PaySlipsConfrimed; let i = index" (click)="viewPayrollDetails(payslip)">
          <td data-label="No">{{ i + 1 }}</td>
              <td data-label="Employee Code">{{ payslip.employee }}</td>
              <td data-label="Payroll Name">{{ payslip.payroll_run?.name }}</td>
              <td data-label="Year">{{ payslip.payroll_run?.year }}</td>
              <td data-label="Month">{{ getMonthName(payslip.payroll_run?.month) }}</td>
              <td data-label="Gross Salary">{{ payslip.gross_salary }}</td>
              <td data-label="Total Additions">{{ payslip.total_additions }}</td>
              <td data-label="Total Deductions">{{ payslip.total_deductions }}</td>
              <td data-label="Net Salary">{{ payslip.net_salary }}</td>
              <td data-label="Pro Rata Adjustment">{{ payslip.pro_rata_adjustment }}</td>
              <td data-label="Working Days">{{ payslip.total_working_days }}</td>
              <td data-label="Days Worked">{{ payslip.days_worked }}</td>
          <td data-label="Status">
            <span class="pill" [ngClass]="{
              'pill green': payslip.status === 'approved',
              'pill blue': payslip.status === 'processed',
              'pill yellow': payslip.status === 'pending',
              'pill red': payslip.status === 'rejected'
            }">{{ payslip.status }}</span>
          </td>
          <td data-label="Components">
            <ul>
              <li *ngFor="let comp of payslip.components">
                <strong>{{ comp.component_name }}</strong> 
                ({{ comp.component_type }}): {{ comp.payslip_amount }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


                </div>

                <div class="end_section"></div>
              
                  </mat-tab>
  
             
                  </mat-tab-group> 
                  

    </div>
</div>

</div>

    <!-- Loader -->
    <div class="loader-container" [class.show]="isLoading">
      <div class="loader"></div>
    </div>
  

     