<div class="sub-sidebar clickOutside">

  <mat-sidenav-container class="sub-sidenav-container">

    <!-- =====================================================
         SIDEBAR
         ===================================================== -->

    <mat-sidenav
      #sidenav
      opened="true"
      mode="side"
      class="sub-sidenav"
      [class.sidebar-expanded]="isMenuOpen"
      [class.sidebar-collapsed]="!isMenuOpen"
    >

      <div class="sidebar-wrapper">

        <!-- =================================================
             SIDEBAR HEADER
             ================================================= -->

        <div class="sidebar-top">

          <div
            class="sidebar-brand"
            *ngIf="isMenuOpen"
          >

            <span>
              Document Folders
            </span>
          </div>

          <button
            type="button"
            class="btn-collapse"
            (click)="toggleSidebarMenu()"
            aria-label="Toggle Navigation"
            [title]="isMenuOpen ? 'Collapse sidebar' : 'Expand sidebar'"
          >
            <mat-icon>
              {{ isMenuOpen ? 'chevron_left' : 'menu' }}
            </mat-icon>
          </button>

        </div>


        <!-- =================================================
             NAVIGATION
             ================================================= -->

        <nav
          class="sidebar"
          [class.menu-open]="isMenuOpen"
          [class.menu-close]="!isMenuOpen"
        >

          <ul class="nav-menu-list">

            <!-- =================================================
                 ADD FOLDER
                 ================================================= -->

            <li
              *ngIf="hasAddPermissionDocumentFolder"
              class="nav-list-item"
            >

              <button
                type="button"
                class="nav-item-link add-folder-link"  style=" background: radial-gradient(black, transparent);"
                (click)="openPopus()"
                [title]="!isMenuOpen ? 'Add Folder' : ''"
              >

                <mat-icon class="nav-icon">
                  add_circle
                </mat-icon>

                <span
                  class="sidenav-opt"
                  *ngIf="isMenuOpen"
                >
                  Add Folder
                </span>

              </button>

            </li>


            <!-- =================================================
                 FOLDER TREE
                 ================================================= -->

            <ng-container
              *ngIf="hasViewPermissionDocumentFolder"
            >

              <li
                *ngFor="
                  let folder of Documentfolders;
                  let i = index
                "
                class="folder-group-item"
              >

                <!-- =================================================
                     MAIN FOLDER
                     ================================================= -->

                <div
                  class="folder-header-row"
                  [class.active-folder]="
                    expandedFolderIndex === i
                  "
                  (click)="toggleSubfolder(i)"
                >

                  <!-- FOLDER ICON -->
                  <div class="folder-icon-wrapper">

                    <mat-icon class="nav-icon folder-icon">
                      folder
                    </mat-icon>

                  </div>


                  <!-- FOLDER NAME -->
                  <span
                    class="sidenav-opt folder-title"
                    *ngIf="isMenuOpen"
                  >
                    {{ folder.name }}
                  </span>


                  <!-- ADD SUBFOLDER -->
                  <button
                    *ngIf="
                      hasAddPermissionDocumentFolder &&
                      isMenuOpen
                    "
                    type="button"
                    class="btn-add-sub"
                    (click)="
                      openSubFolderPopup(
                        folder.id,
                        $event
                      )
                    "
                    title="Add Subfolder"
                  >

                    <mat-icon>
                      add
                    </mat-icon>

                  </button>


                  <!-- EXPAND/COLLAPSE -->
                  <mat-icon
                    class="chevron-arrow"
                    *ngIf="isMenuOpen"
                  >
                    {{
                      expandedFolderIndex === i
                        ? 'expand_less'
                        : 'expand_more'
                    }}
                  </mat-icon>

                </div>


                <!-- =================================================
                     SUBFOLDERS
                     ================================================= -->

                <ul
                  class="sub-menu-list"
                  *ngIf="
                    expandedFolderIndex === i &&
                    folder.subfolders?.length > 0 &&
                    isMenuOpen
                  "
                >

                  <li
                    *ngFor="
                      let sub of folder.subfolders
                    "
                    class="sub-menu-item"
                  >

                    <a
                      [routerLink]="[
                        '/main-sidebar/document-folders/document-folder-files',
                        sub.id
                      ]"
                      routerLinkActive="active-sublink"
                      class="subnav-item-link"
                    >

                      <mat-icon class="subnav-icon">
                        folder_open
                      </mat-icon>

                      <span class="subnav-text">
                        {{ sub.name }}
                      </span>

                    </a>

                  </li>

                </ul>

              </li>

            </ng-container>

          </ul>

        </nav>

      </div>

    </mat-sidenav>


    <!-- =====================================================
         MAIN CONTENT
         ===================================================== -->

    <div class="sub-content-area">

      <router-outlet></router-outlet>

    </div>

  </mat-sidenav-container>


  <!-- =======================================================
       CREATE MAIN FOLDER MODAL
       ======================================================= -->

  <div
    *ngIf="iscreateLoanApp"
    class="modal-backdrop"
  >

    <div class="modal-dialog-custom">

      <!-- HEADER -->
      <div class="modal-header-custom">

        <div class="modal-title-wrapper">

          <div class="modal-icon">
            <mat-icon>
              create_new_folder
            </mat-icon>
          </div>

          <div>
            <h3>
              Create Folder
            </h3>

            <p>
              Add a new document folder
            </p>
          </div>

        </div>


        <button
          type="button"
          class="close-btn"
          (click)="closeapplicationModal()"
          aria-label="Close"
        >
          <mat-icon>
            close
          </mat-icon>
        </button>

      </div>


      <!-- BODY -->
      <div class="modal-body-custom">

        <form
          (ngSubmit)="CreateFolder()"
        >

          <div class="form-group">

            <label
              class="form-label"
              for="folderName"
            >
              Folder Name
            </label>

            <input
              id="folderName"
              type="text"
              class="form-control"
              required
              [(ngModel)]="name"
              placeholder="Enter folder name"
              [ngModelOptions]="{
                standalone: true
              }"
            />

          </div>


          <!-- FOOTER -->
          <div class="modal-footer-custom">

            <button
              type="button"
              class="btn-modal-secondary"
              (click)="closeapplicationModal()"
            >
              Cancel
            </button>

            <button
              type="submit"
              class="btn-modal-primary"
            >
              <mat-icon>
                add
              </mat-icon>

              Add Folder
            </button>

          </div>

        </form>

      </div>

    </div>

  </div>


  <!-- =======================================================
       CREATE SUB FOLDER MODAL
       ======================================================= -->

  <div
    *ngIf="iscreatesubfolder"
    class="modal-backdrop"
  >

    <div class="modal-dialog-custom">

      <!-- HEADER -->
      <div class="modal-header-custom">

        <div class="modal-title-wrapper">

          <div class="modal-icon">
            <mat-icon>
              create_new_folder
            </mat-icon>
          </div>

          <div>
            <h3>
              Create Subfolder
            </h3>

            <p>
              Add a new subfolder
            </p>
          </div>

        </div>


        <button
          type="button"
          class="close-btn"
          (click)="closeSubfolderModal()"
          aria-label="Close"
        >
          <mat-icon>
            close
          </mat-icon>
        </button>

      </div>


      <!-- BODY -->
      <div class="modal-body-custom">

        <form
          (ngSubmit)="CreateFolderSubFolder()"
        >

          <div class="form-group">

            <label
              class="form-label"
              for="subFolderName"
            >
              Subfolder Name
            </label>

            <input
              id="subFolderName"
              type="text"
              class="form-control"
              required
              [(ngModel)]="name"
              placeholder="Enter subfolder name"
              [ngModelOptions]="{
                standalone: true
              }"
            />

          </div>


          <!-- PARENT FOLDER -->
          <input
            type="hidden"
            [(ngModel)]="parent"
            [ngModelOptions]="{
              standalone: true
            }"
          />


          <!-- FOOTER -->
          <div class="modal-footer-custom">

            <button
              type="button"
              class="btn-modal-secondary"
              (click)="closeSubfolderModal()"
            >
              Cancel
            </button>

            <button
              type="submit"
              class="btn-modal-primary"
            >
              <mat-icon>
                add
              </mat-icon>

              Add Subfolder
            </button>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>
