<div class="sub-sidebar clickOutside">


    <mat-sidenav-container>
      <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
  
        <div class="wrapper">
            

           <div class="sidebar-top"> 
           <!-- Toggle Button (placed OUTSIDE sidebar) -->
    <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">×</span>
    </button>
    
        </div>
              
  

      


          <div class="sidebar"  [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
            <!-- <div  class=" d-block mx-auto" (click)="openPopus()">
                <mat-icon class="d-block mx-auto">add_circle</mat-icon>
            </div> -->

                     <ul>
                

                  <mat-nav-list>
     
  
  
                    <div>
            
            
                 
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
    




   
<!-- Folder List -->
<ul class="mt-4">
    <!-- Add Folder button -->
    <li *ngIf="hasAddPermissionDocumentFolder" (click)="openPopus()" class="add-folder-item">
      <mat-icon>add_circle</mat-icon>
      <span class="mt-1">Add Folder</span>
    </li>
  
    <!-- Main Folders -->
    <li *ngFor="let folder of Documentfolders; let i = index" class="folder-item">
  
        <div class="folder-header">
  
            <!-- FOLDER ICON + PLUS ICON WRAPPED TOGETHER -->
            <div class="folder-icon-wrapper" (click)="toggleSubfolder(i)" *ngIf="hasAddPermissionDocumentFolder">
              <mat-icon  class="folder-icon">folder</mat-icon>
          
              <!-- Plus icon placed on top of folder -->
              <mat-icon 
                class="folder-plus-icon"
                (click)="openSubFolderPopup(folder.id, $event)">add</mat-icon>
            </div>
          
            <!-- Folder Name -->
            <span *ngIf="hasViewPermissionDocumentFolder" class="folder-name mt-1" (click)="toggleSubfolder(i)">
              {{ folder.name }}
            </span>
          
            <!-- Arrow -->
            <mat-icon class="arrow-icon mt-2" (click)="toggleSubfolder(i)" *ngIf="hasViewPermissionDocumentFolder">
              {{ expandedFolderIndex === i ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          
          </div>
  
      <!-- Subfolders: show only when expanded -->
       <div  *ngIf="hasViewPermissionDocumentFolder">
      <ul  *ngIf="expandedFolderIndex === i && folder.subfolders?.length > 0" class="subfolder-list">
        <li  *ngFor="let sub of folder.subfolders"
            [routerLink]="['/main-sidebar/document-folders/document-folder-files', sub.id]"
            routerLinkActive="active-link"
            class="subfolder-item">
          <a>
            <mat-icon>folder_open</mat-icon>
            {{ sub.name }}
          </a>
        </li>
      </ul>
   </div>
    </li>
  </ul>

  

          <!-- create folder modal pupup -->

              
        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h6>   Create  Folder</h6>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

         
            <div class="col-md-6" >
               
                <label> Name</label>
               <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" >
               
          </div>


    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateFolder()">Add</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>



          <!-- create sub folder modal pupup -->

          <div *ngIf="iscreatesubfolder" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h6>   Create Sub Folder</h6>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeSubfolderModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

         
            <div class="col-md-6" >
               
                <label> Name</label>
               <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" >
               
          </div>


          <div class="col-md-6" style="display: none;" >
            <label>Select Parent folder</label>
            <div class="custom-sel">
              <select
                class="form-control"
                id="parent"
                name="parent"
                [(ngModel)]="parent"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let folder of Documentfolders" [value]="folder.id">
                  {{ folder.name }}
                </option>
              </select>
            </div>
          </div>

    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateFolderSubFolder()">Add</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
      <!-- <router-outlet></router-outlet> -->
  
    </mat-sidenav-container>
  
  </div>