<!-- 
    <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">×</span>
    </button>
    
        </div>
              
  

      


          <div class="sidebar"  [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
          
                     <ul>
                

                  <mat-nav-list>
     
  
  
                    <div>
            
            
                 
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
    




   

<ul class="mt-4">
   
    <li *ngIf="hasAddPermissionDocumentFolder" (click)="openPopus()" class="add-folder-item">
      <mat-icon>add_circle</mat-icon>
      <span class="mt-1">Add Folder</span>
    </li>
  
   
    <li *ngFor="let folder of Documentfolders; let i = index" class="folder-item">
  
        <div class="folder-header">
  
            <div class="folder-icon-wrapper" (click)="toggleSubfolder(i)" *ngIf="hasAddPermissionDocumentFolder">
              <mat-icon  class="folder-icon">folder</mat-icon>
          
       
              <mat-icon 
                class="folder-plus-icon"
                (click)="openSubFolderPopup(folder.id, $event)">add</mat-icon>
            </div>
          
          
            <span *ngIf="hasViewPermissionDocumentFolder" class="folder-name mt-1" (click)="toggleSubfolder(i)">
              {{ folder.name }}
            </span>
          
        
            <mat-icon class="arrow-icon mt-2" (click)="toggleSubfolder(i)" *ngIf="hasViewPermissionDocumentFolder">
              {{ expandedFolderIndex === i ? 'expand_less' : 'expand_more' }}
            </mat-icon>
          
          </div>
  
       <div  *ngIf="hasViewPermissionDocumentFolder">
      <ul  *ngIf="expandedFolderIndex === i && folder.subfolders?.length > 0" class="subfolder-list">
        <li  *ngFor="let sub of folder.subfolders"
            [routerLink]="['/main-sidebar/document-folders/document-folder-files', sub.id]"
            routerLinkActive="active-link"
            class="subfolder-item">
          <a>
            <mat-icon>folder_open</mat-icon>
            {{ sub.name }}
          </a>
        </li>
      </ul>
   </div>
    </li>
  </ul>

  

              
        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h6>   Create  Folder</h6>
                </div>
                      <div class="col-md-2 text-right">
  
    <span class="close-btn" (click)="closeapplicationModal()">
      ×
    </span>
  </div>
              </div>
              <hr />
          
        <form >

         
            <div class="col-md-6" >
               
                <label> Name</label>
               <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" >
               
          </div>


    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateFolder()">Add</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>



     

          <div *ngIf="iscreatesubfolder" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h6>   Create Sub Folder</h6>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeSubfolderModal()">&times;</span>
                </div>
              </div>
              <hr />
          
        <form >

         
            <div class="col-md-6" >
               
                <label> Name</label>
               <input type="text"  class="form-control" required  [(ngModel)]="name"  placeholder="Enter name"
                [ngModelOptions]="{standalone: true}" >
               
          </div>


          <div class="col-md-6" style="display: none;" >
            <label>Select Parent folder</label>
            <div class="custom-sel">
              <select
                class="form-control"
                id="parent"
                name="parent"
                [(ngModel)]="parent"
                [ngModelOptions]="{ standalone: true }"
              >
                <option *ngFor="let folder of Documentfolders" [value]="folder.id">
                  {{ folder.name }}
                </option>
              </select>
            </div>
          </div>

    
            <div class="row">
                <div class="col-md-10">
    
                </div>
    
                <div class="col-md-2">
                    <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="CreateFolderSubFolder()">Add</button>  
                 </div>
            </div>
            
       
    </form>

            
            </div>
          </div>

                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
   
  
    </mat-sidenav-container>
  
  </div> -->



  <div class="sub-sidebar clickOutside">
    <mat-sidenav-container class="sub-sidenav-container">
      <mat-sidenav #sidenav opened="true" mode="side" class="sub-sidenav">
        <div class="wrapper">
          
          <!-- Sidebar Header & Toggle -->
          <div class="sidebar-top">
            <span class="sub-sidebar-title" *ngIf="isMenuOpen">Document Folders</span>
            <button type="button" class="btn-collapse" (click)="toggleSidebarMenu()" aria-label="Toggle Navigation">
              <mat-icon>{{ isMenuOpen ? 'chevron_left' : 'menu' }}</mat-icon>
            </button>
          </div>
  
          <!-- Navigation Menu -->
          <nav class="sidebar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
            <ul class="nav-menu-list">
  
              <!-- Add Folder Button -->
              <li *ngIf="hasAddPermissionDocumentFolder" class="add-folder-item" (click)="openPopus()">
                <div class="nav-item-link action-link">
                  <mat-icon class="nav-icon text-success">add_circle</mat-icon>
                  <span class="sidenav-opt">Add Folder</span>
                </div>
              </li>
  
              <!-- Main Folders Dynamic Tree -->
              <ng-container *ngIf="hasViewPermissionDocumentFolder">
                <li *ngFor="let folder of Documentfolders; let i = index" class="folder-group-item">
                  
                  <!-- Main Folder Bar -->
                  <div class="folder-header-row" [class.active-folder]="expandedFolderIndex === i">
                    
                    <!-- Folder Icon & Quick Add Subfolder Action -->
                    <div class="folder-icon-wrapper" (click)="toggleSubfolder(i)">
                      <mat-icon class="nav-icon">folder</mat-icon>
                      <button 
                        *ngIf="hasAddPermissionDocumentFolder" 
                        type="button" 
                        class="btn-add-sub" 
                        (click)="openSubFolderPopup(folder.id, $event)"
                        title="Add Subfolder">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
  
                    <!-- Folder Name Label -->
                    <span class="sidenav-opt folder-title" (click)="toggleSubfolder(i)">
                      {{ folder.name }}
                    </span>
  
                    <!-- Collapse/Expand Indicator -->
                    <mat-icon class="chevron-arrow" (click)="toggleSubfolder(i)">
                      {{ expandedFolderIndex === i ? 'expand_less' : 'expand_more' }}
                    </mat-icon>
  
                  </div>
  
                  <!-- Nested Subfolders List -->
                  <ul class="sub-menu-list" *ngIf="expandedFolderIndex === i && folder.subfolders?.length > 0 && isMenuOpen">
                    <li *ngFor="let sub of folder.subfolders">
                      <a 
                        [routerLink]="['/main-sidebar/document-folders/document-folder-files', sub.id]"
                        routerLinkActive="active-sublink"
                        class="subnav-item-link">
                        <mat-icon class="subnav-icon">folder_open</mat-icon>
                        <span class="subnav-text">{{ sub.name }}</span>
                      </a>
                    </li>
                  </ul>
  
                </li>
              </ng-container>
  
            </ul>
          </nav>
  
        </div>
      </mat-sidenav>
  
      <!-- Main Content Outlet -->
      <main class="sub-content-area">
        <router-outlet></router-outlet>
      </main>
  
    </mat-sidenav-container>
  
    <!-- Create Main Folder Modal -->
    <div *ngIf="iscreateLoanApp" class="modal-backdrop">
      <div class="modal-dialog-custom">
        <div class="modal-header-custom">
          <h6>Create Folder</h6>
          <button type="button" class="close-btn" (click)="closeapplicationModal()">&times;</button>
        </div>
        <div class="modal-body-custom">
          <form (ngSubmit)="CreateFolder()">
            <div class="form-group mb-3">
              <label class="form-label">Name</label>
              <input 
                type="text" 
                class="form-control" 
                required 
                [(ngModel)]="name" 
                placeholder="Enter folder name"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="text-end">
              <button type="button" class="btn btn-secondary me-2" (click)="closeapplicationModal()">Cancel</button>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Create Sub Folder Modal -->
    <div *ngIf="iscreatesubfolder" class="modal-backdrop">
      <div class="modal-dialog-custom">
        <div class="modal-header-custom">
          <h6>Create Sub Folder</h6>
          <button type="button" class="close-btn" (click)="closeSubfolderModal()">&times;</button>
        </div>
        <div class="modal-body-custom">
          <form (ngSubmit)="CreateFolderSubFolder()">
            <div class="form-group mb-3">
              <label class="form-label">Name</label>
              <input 
                type="text" 
                class="form-control" 
                required 
                [(ngModel)]="name" 
                placeholder="Enter subfolder name"
                [ngModelOptions]="{standalone: true}">
            </div>
  
            <!-- Hidden Parent Selection -->
            <input type="hidden" [(ngModel)]="parent" [ngModelOptions]="{standalone: true}">
  
            <div class="text-end">
              <button type="button" class="btn btn-secondary me-2" (click)="closeSubfolderModal()">Cancel</button>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>