
<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">
        <div class="header_section">

            <div class="row">
                <div class="col-md-3">
                    <h1> Category Details</h1>
                </div>

                <div class="col-md-3">
                    
                    <div class="search-container">
                        <input type="text" class="search-input" placeholder="Search..."    [(ngModel)]="searchQuery" (input)="filterEmployees()">
                        <button class="search-btn" >
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                </div>

                

                <div class="col-md-6">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopuss()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                           
                          

                           <button type="button" class="btn-Edit btn-secondary  btn"  (click)="OpenBulkuploadModal()" *ngIf="hasEditPermission">
                            <span class="header-btn-icon">
                             <mat-icon>system_update_alt
                        </mat-icon></span> Import</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedEmployees()">Delete Selected </button>

            </div>
        </div>
        <!-- <div class="list_company_sec mt-4">
            
        </div> -->

        <div class="row mt-4">
            <div class="col-md-12 col-12">
                <div class="row">
                    <div class="col-md-4">
                        <p>Category Tittle</p>
                    </div>

                    
                    <div class="col-md-4">
                        <p>Description</p>
                    </div>
                    <div class="col-md-3">
                        <p>Category code</p>
                    </div>
                  
                </div>
                <div class="com_list" *ngFor="let catogarysec of filteredEmployees" [ngClass]="{ 'selected-item': catogarysec.selected }">
        <mat-checkbox *ngIf="Delete" [(ngModel)]="catogarysec.selected" (change)="onCheckboxChange(catogarysec.id)"></mat-checkbox>

                  <div class="row">
                  
                    <div class="col-md-4">
                        <h2 class="text-center">{{ catogarysec.ctgry_title }}</h2>
                    </div>

                    <div class="col-md-4">
                        <h2 class="text-center">{{ catogarysec.ctgry_description }}</h2>
                    </div>
                    <div class="col-md-3">
                        <h2 class="text-center">{{ catogarysec.ctgry_code }}</h2>

                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-Edit btn-info" (click)="openEditPopuss(catogarysec.id)" *ngIf="showEditBtn">Edit</button>
                        
                    </div>
                  
                  </div>
                </div>



                

                
            </div>
        </div>

      
    </div>
</div>





<div *ngIf="isBulkuploadCatogaryModalOpen" class="modal">

    <div class="modal-content">

        <div class="row">
            <div class="col-md-8">
                <h2>Categary Bulk Upload & Download Details</h2> 
            </div>
            <div class="col-md-4">
                <span class="close pull-right" (click)="closeBulkuploadModal()">&times;</span>

            </div>
        </div><hr>


        <div class="row mt-4">
            <div class="col-md-4">
                <div class="vn-wisteria" >
                    <a  class="btn-wrap" (click)="downloadCatogaryExcel()">DOWNLOAD EXCEL FILE <i class="fa fa-rocket fa-lg fa-spin"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="vn-wisteria vn-green" >
                        <a  class="btn-wrap"  (click)="downloadCatogaryCsv()">DOWNLOAD CSV FILE <i class="fa fa-rocket fa-lg fa-spin"></i></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="vn-wisteria  vn-blue" >
                            <a class="btn-wrap" (click)="toggleUploadForm()">
                                CATEGORY BULK UPLOAD <i class="fa fa-rocket fa-lg fa-spin"></i>
                              </a>                            </div>
                        </div>
            </div>


            <div *ngIf="showUploadForm">
    <form (ngSubmit)="bulkuploaddocument()" #documentForm="ngForm">
      <div class="row">
        <div class="col-md-12">
          <label for="emp_profile_pic">Upload Category Details:</label>
          <input type="file" name="files" id="file" class="form-control" (change)="onFileChange($event);">
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col-md-8"></div>
        <div class="col-md-2 col-6">
            <button type="button" mat-raised-button color="warn"   class="pull-right btn-danger btn-full"  (click)="closeUploadForm()">
              close
            </button>
          </div>
        
        <div class="col-md-2 col-6">
          <button type="submit" mat-raised-button color="primary" class="pull-right btn-full">
            Save
          </button>
        </div>

        
      </div>
    </form>
  </div>


  
      

  
    
            
   
    
    

    </div>
  </div>

<div *ngIf="!hasViewPermission">
    <!-- Message for users without permission -->
    <p class="text-center " style="margin-top: 150px;" >You don't have permission to view this component.</p>
  </div>

           <!-- Loader -->
     <div class="loader-container" [class.show]="isLoading">
        <div class="loader"></div>
      </div>


  