<div class="container" *ngIf="hasViewPermission">
    <div class="comapny_section">


        <div class="header_section">

            <div class="row">
                <div class="col-md-4">
                    <h1> General Request</h1>
                </div>

                <div class="col-md-3">
                    
                    <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

                </div>
                <div class="col-md-5">
                    <div class="button-group pull-right">
                        <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                        </mat-icon></span> Create</button>
                      <span *ngIf="!hasAddPermission"></span>

                        <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                            <span class="header-btn-icon">
                             <mat-icon>draw
                        </mat-icon></span> Edit</button>
                        <span *ngIf="hasEditPermission"></span>
                        <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                            <span class="header-btn-icon">
                                <mat-icon> delete
                           </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                           <span *ngIf="!hasDeletePermission"></span>
                    </div>
                </div>
            </div>
           
           

        </div>

        <div class="row">
            <div class="col-md-2">
                
                <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

            </div>
            <div class="col-md-3">
                <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedGeneralReq()">Delete Selected </button>

            </div>
        </div>
      

      

        <div *ngIf="iscreateLoanApp" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col-md-10">
                  <h2> Create General Request</h2>
                </div>
                <div class="col-md-2">
                  <span class="close pull-right" (click)="closeapplicationModal()">&times;</span>
                </div>
              </div>
              <hr />
          
              <form >

                <div class="row">
    
                    <div class="col-md-6">
    
    
                        <div class="custom-sel">
                            <label>Select Employee</label>
                            <select class="form-control" id="employee" required [(ngModel)]="employee"  [ngModelOptions]="{standalone: true}"
                             [ngClass]="{'error-field': registerButtonClicked && !employee}" (change)="onEmployeeChange($event)" >
                                <option value="" >Select</option>
                                <option *ngFor="let deparmentsec of employees"
                                 [value]="deparmentsec.id">
                                 {{ deparmentsec.emp_first_name }}
                                 </option>
                            </select>
                            <div *ngIf="registerButtonClicked && !employee" class="error-message">Please Select Your Employee</div>
                        </div>
                                    
                
                    </div>

             <div class="col-md-6">
                <div class="custom-sel">
                    <label>Select Branches</label>
                    <select class="form-control" id="branch" required [(ngModel)]="branch" (change)="onBranchChange($event)" [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                        <option value="">Select</option>
                        <option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
                    </select>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>
    

                    <div class="col-md-6">
                        <label>Document Number</label>
                        <input type="text" class="form-control" required [(ngModel)]="document_number" placeholder="Enter document number"
                            [disabled]="automaticNumbering" [ngModelOptions]="{standalone: true}" >
                    </div>
                    
    
                  <div class="col-md-6" >
                   
                    <label>Reason</label>
                   <input type="text"  class="form-control" required  [(ngModel)]="reason"  placeholder="Enter Reason"
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !reason}">
                   
                   <div *ngIf="registerButtonClicked && !reason" class="error-message">reason is required.</div>
              </div>
    
    
           
              
          
        
    
        
              <div class="col-md-6">
                <div class="custom-sel">
                  <label>Select Request Type</label>
                  <select class="form-control"
                          id="request_type"
                          required
                          [(ngModel)]="request_type"
                          [ngModelOptions]="{standalone: true}"
                          [ngClass]="{'error-field': registerButtonClicked && !request_type}"
                          (change)="onRequestTypeChange($event)">
                    <option value="">Select</option>
                    <option *ngFor="let req of RequestType" [value]="req.id">{{ req.name }}</option>
                  </select>
                  <div *ngIf="registerButtonClicked && !request_type" class="error-message">
                    Please Select Your Req type
                  </div>
                </div>
              </div>
              
              <!-- Show Total field only if salary_component is not null -->
              <div class="col-md-6" *ngIf="selectedSalaryComponent">
                <label>Total</label>
                <input type="number"
                       class="form-control"
                       required
                       [(ngModel)]="total"
                       placeholder="Enter total"
                       [ngModelOptions]="{standalone: true}">
              </div>
              

       
    
    
        <div class="col-md-6" *ngIf="!created_by" style="display: none;">
    
    
            <div class="custom-sel">
                <label>Created by</label>
                <select class="form-control" id="created_by" required [(ngModel)]="created_by"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !created_by}" >
                    <option value="" >Select</option>
                    <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
                </select>
                <div *ngIf="registerButtonClicked && !created_by" class="error-message">Please Select Created by </div>
            </div>
                        
    
          </div>
    
        
  
    
        <div class="col-md-6">
            <label>Request Document</label>
            <input type="file" class="form-control" (change)="onFileChange($event)">
          </div>
        <div class="col-md-12">
            <label>Remarks</label>
            <textarea class="form-control" rows="3" [(ngModel)]="remarks" [ngModelOptions]="{standalone: true}" placeholder="Enter remarks"></textarea>
          </div>
    
          
       
                </div>
    
    
                <div class="row">
                    <div class="col-md-8">
        
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn-Create btn-full mt-5 btn-danger btn" (click)="closeapplicationModal()">Cancel</button>  
                     </div>
        
                    <div class="col-md-2">
                        <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="registerGeneralreq()">Save</button>  
                     </div>
    
                     
                </div>
                
           
        </form>
    
    
            
            </div>
          </div>


             <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10">
          <h2>Edit General Request</h2>
        </div>
        <div class="col-md-2">
          <span class="close pull-right" (click)="closeEditModal()">&times;</span>
        </div>
      </div>
      <hr />
  
      <form >

        <div class="row">

            <div class="col-md-6">


                <div class="custom-sel">
                    <label>Select Employee</label>
                    <select class="form-control" id="employee" required [(ngModel)]="editAsset.employee"  [ngModelOptions]="{standalone: true}"
                     [ngClass]="{'error-field': registerButtonClicked && !employee}" (change)="onEmployeeChange($event)" >
                        <option value="" >Select</option>
                        <option *ngFor="let deparmentsec of employees" [value]="deparmentsec.id">{{ deparmentsec.emp_first_name     }} </option>
                    </select>
                    <div *ngIf="registerButtonClicked && !employee" class="error-message">Please Select Your Employee</div>
                </div>
                            
        
            </div>

            <div class="col-md-3">
                <div class="custom-sel">
                    <label>Select Branches</label>
                    <select class="form-control" id="branch" required [(ngModel)]="editAsset.branch" (change)="onBranchChange($event)" [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !branch}">
                        <option value="">Select</option>
                        <option *ngFor="let deparmentsec of branches" [value]="deparmentsec.id">{{ deparmentsec.branch_name }}</option>
                    </select>
                    <div *ngIf="registerButtonClicked && !branch" class="error-message">Please Select Your Branch</div>
                </div>
            </div>

            <div class="col-md-6">
                <label>Document Number</label>
                <input type="text" class="form-control" required [(ngModel)]="editAsset.document_number" placeholder="Enter document number"
                    [disabled]="automaticNumbering" [ngModelOptions]="{standalone: true}" >
            </div>
            

          <div class="col-md-6" >
           
            <label>Reason</label>
           <input type="text"  class="form-control" required  [(ngModel)]="editAsset.reason"  placeholder="Enter Reason"
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !reason}">
           
           <div *ngIf="registerButtonClicked && !reason" class="error-message">reason is required.</div>
      </div>


   
      
      <div class="col-md-6" >
           
        <label>Total</label>
       <input type="number"  class="form-control" required  [(ngModel)]="editAsset.total"  placeholder="Enter total"
        [ngModelOptions]="{standalone: true}" >
       
  </div>




<div class="col-md-6">


    <div class="custom-sel">
        <label>Select Request Type</label>
        <select class="form-control" id="request_type" required [(ngModel)]="editAsset.request_type"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !request_type}" >
            <option value="" >Select</option>
            <option *ngFor="let deparmentsec of RequestType" [value]="deparmentsec.id">{{ deparmentsec.name }} </option>
        </select>
        <div *ngIf="registerButtonClicked && !request_type" class="error-message">Please Select Your Req type</div>
    </div>
                

</div>





<div class="col-md-6" *ngIf="!created_by" style="display: none;">


    <div class="custom-sel">
        <label>Created by</label>
        <select class="form-control" id="created_by" required [(ngModel)]="editAsset.created_by"  [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !created_by}" >
            <option value="" >Select</option>
            <option *ngFor="let deparmentsec of Users" [value]="deparmentsec.id">{{ deparmentsec.username     }} </option>
        </select>
        <div *ngIf="registerButtonClicked && !created_by" class="error-message">Please Select Created by </div>
    </div>
                

</div>



<div class="col-md-6">
  <label>Request Document</label>

  <!-- Custom File Input Box -->
  <div class="custom-file-box" (click)="triggerRequestDocInput()">
    
    <!-- If existing file & no newly selected file -->
    <span *ngIf="editAsset.request_document && !selectedRequestFile">
      {{ getFileName(editAsset.request_document) }}
    </span>

    <!-- If user selected new file -->
    <span *ngIf="selectedRequestFile">
      {{ selectedRequestFile.name }}
    </span>

    <i class="fa fa-upload upload-icon"></i>
  </div>

  <!-- Hidden File Input -->
  <input 
      type="file" 
      #requestDocInput 
      class="hidden-file-input" 
      (change)="onRequestDocSelected($event)">
</div>



<div class="col-md-12">
    <label>Remarks</label>
    <textarea class="form-control" rows="3" [(ngModel)]="editAsset.remarks" [ngModelOptions]="{standalone: true}" placeholder="Enter remarks"></textarea>
  </div>

  

        </div>


        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn-Create btn-full mt-5 btn-success btn"
                (click)="updateAssetType()"
              >
                Update
              </button>
            </div>
          </div>
        
   
</form>



    </div>
  </div>

    







        <div class="table-responsive mt-4" *ngIf="hasViewPermission">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>No</th>
        <th>Employee</th>
        <th>Document Number</th>
        <th>Request Type</th>
        <th>Reason</th>
        <th>Total</th>
        <th>Approval Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let docs of GeneralReq; let i = index">
        <td data-label="No">{{ i + 1 }}</td>
        <td data-label="Employee">{{ docs.employee }}</td>
        <td data-label="Document Number">{{ docs.document_number }}</td>
        <td data-label="Request Type">{{ docs.request_type }}</td>
        <td data-label="Reason">{{ docs.reason }}</td>
        <td data-label="Total">{{ docs.total }}</td>
        <td data-label="Approval Status">{{ docs.status }}</td>
        <td data-label="Action" class="text-center">
          <button
            mat-fab
            color="primary"
            aria-label="Edit"
            *ngIf="showEditBtn"
            (click)="openEditModal(docs)"
            style="transform: scale(0.7); margin-right: 6px;"
          >
            <mat-icon style="color: white;">draw</mat-icon>
          </button>

          <mat-checkbox
            *ngIf="Delete"
            [(ngModel)]="docs.selected"
          ></mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>


        </div>
        </div>
        
