<div class="sub-sidebar clickOutside">
  <mat-sidenav-container class="sub-sidenav-container">
    <mat-sidenav
      #sidenav
      class="sub-sidenav hide-scrollbar"
      [opened]="isMobile ? isMenuOpen : true"
      [mode]="isMobile ? 'over' : 'side'"
      (closedStart)="isMenuOpen = false"
    >
      <div class="wrapper">

        <div class="sidebar-top">
          <span class="sub-sidebar-title" *ngIf="isMenuOpen"><z-app-title fallback="Shift Options"></z-app-title></span>
          <button type="button" class="btn-collapse" (click)="toggleSidebarMenu()" aria-label="Toggle Navigation">
            <mat-icon>{{ isMenuOpen ? 'chevron_left' : 'menu' }}</mat-icon>
          </button>
        </div>

        <nav class="sidebar hide-scrollbar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
          <z-module-menu [open]="isMenuOpen" (picked)="closeOnMobile()"></z-module-menu>
        </nav>

      </div>
    </mat-sidenav>

    <main class="sub-content-area">
      <button
        type="button"
        class="mobile-submenu-fab"
        *ngIf="isMobile && !isMenuOpen"
        (click)="toggleSidebarMenu()"
        aria-label="Open submenu">
        <mat-icon>menu</mat-icon>
      </button>

      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-container>
</div>