
<div class="sub-sidebar clickOutside">
  <mat-sidenav-container>
    <mat-sidenav class="sidnav_scrolling" #sidenav opened="true" mode="side">
      <div class="wrapper">

        <div class="sidebar-top"> 
           <!-- Toggle Button (placed OUTSIDE sidebar) -->
    <button type="button" class="btn btn-collapse menu_mob" (click)="toggleSidebarMenu()">
      <span *ngIf="!isMenuOpen">☰</span>
      <span *ngIf="isMenuOpen">×</span>
    </button>
              
  
        </div>
        <div class="sidebar" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen">
          <ul>
                  <li routerLink="/main-sidebar/salary-options/salary" *ngIf="hasViewPermissionSalary"><a ><mat-icon>attach_money</mat-icon> Salary Component</a></li>
                  <!-- <li routerLink="/main-sidebar/leave-options/leave-type" *ngIf="hasViewPermissiondesg"><a><mat-icon>peoples</mat-icon> Leave Type</a></li> -->
                 
                  <li routerLink="/main-sidebar/salary-options/pay-roll" *ngIf="hasViewPermissionPayroll"><a ><mat-icon>attach_money</mat-icon> Payroll</a></li>
                  
                  <li routerLink="/main-sidebar/salary-options/payslip-approval" *ngIf="hasViewPermissionPayslipApprovals"><a ><mat-icon>attach_money</mat-icon> Payslip Approvals</a></li>

                  <li routerLink="/main-sidebar/salary-options/payroll-appoval-level" *ngIf="hasViewPermissionPayrollApprovalLevel"><a ><mat-icon>attach_money</mat-icon> payroll Approval Level</a></li>
                  

                  <li (click)="toggleAdvanceSalary()" style="cursor: pointer;">
                    <a>
                      <mat-icon>attach_money</mat-icon> Advance Salary
                      <mat-icon style="float: right;">{{ showAdvanceSalary ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </a>
                  </li>
                  
                  <ul *ngIf="showAdvanceSalary" style="padding-left: 20px;">
                    <li routerLink="/main-sidebar/salary-options/advance-salary-approvals" *ngIf="hasViewPermissionApprovalList">
                      <a> Approval List</a>
                    </li>
                    <li routerLink="/main-sidebar/salary-options/advance-salary-request" *ngIf="hasViewPermissionAdvanceSalaryRequest">
                      <a> Advance Salary Request</a>
                    </li>
                     <li routerLink="/main-sidebar/salary-options/advance-salary-escalation" *ngIf="hasViewPermissionAdvanceSalaryRequest">
                      <a> Advance Salary Escalation</a>
                    </li>
                    <li routerLink="/main-sidebar/salary-options/advance-salary-approval-level" *ngIf="hasViewPermissionAdvanceSalaryApprovalLevel">
                      <a>Advance Salary Approval Level</a>
                    </li>
                    <li routerLink="/main-sidebar/salary-options/wps" *ngIf="hasViewPermissionWPS">
                      <a >WPS</a>
                    </li>
                  </ul>
                  
                  
                  
     

             
                 

                  <mat-nav-list>
     
  
  
                    <div>
            
            
                    
                    </div>
                    <style>
                      .mat-expansion-panel-body {
                        padding: 0 0px 16px !important;
                      }
                      .mat-expansion-panel{
                background: transparent;
               
              }
                    </style>
            
                  </mat-nav-list>
                   
              </ul> 
  
                   
   
          </div>
    
      </div>
   
  
  
  
  
  
  
      </mat-sidenav>
  
  
      <router-outlet></router-outlet>
  
      <!-- <router-outlet></router-outlet> -->
  
    </mat-sidenav-container>
  
  </div>