<div class="container" >
    <div class="comapny_section">


      <div class="header_section">

        <div class="row">
            <div class="col-md-4">
                <h1> Company Master </h1>
            </div>

            <div class="col-md-3">
                
                <!-- <input type="text" class="form-control mt-1" placeholder="Search by name " [(ngModel)]="searchQuery" (input)="filterEmployees()"> -->

            </div>
            <div class="col-md-5">
                <div class="button-group pull-right">
                    <button type="button" (click)="openPopus()" class="btn-Create btn btn-success " *ngIf="hasAddPermission"><span class="header-btn-icon"><mat-icon>add_circle
                    </mat-icon></span> Create</button>
                  <span *ngIf="!hasAddPermission"></span>

                    <button type="button" class="btn-Edit btn-info btn"  (click)="EditShowButtons()" *ngIf="hasEditPermission" >
                        <span class="header-btn-icon">
                         <mat-icon>draw
                    </mat-icon></span> Edit</button>
                    <span *ngIf="hasEditPermission"></span>
                    <button type="button" class="btn-Delete btn btn-danger" (click)="toggleCheckboxes()" *ngIf="hasDeletePermission">
                        <span class="header-btn-icon">
                            <mat-icon> delete
                       </mat-icon></span> {{ Delete ? 'Cancel' : 'Delete' }}</button>

                       <span *ngIf="!hasDeletePermission"></span>
                </div>
            </div>
        </div>
       
       

    </div>

    <div class="row">
        <div class="col-md-2">
            
            <button  class=" mt-3 btn-danger btn " style="width: 100%;" color="warn" *ngIf="Delete" (click)="toggleSelectAllEmployees()">Select All</button>

        </div>
        <div class="col-md-3">
            <button class=" mt-3 btn-danger btn"  color="warn" *ngIf="Delete" (click)="deleteSelectedLocationmaster()">Delete Selected </button>

        </div>
    </div>








     

    <div class="com_list table-scroll mt-4" *ngIf="hasViewPermission">

        <table class="table-container" width="100%">
            <thead>
              <tr>
                <th>No</th>
                <th> Company</th>
                <th>Country</th>
                <th>State</th>
                <th>Industry Type</th>
                <th>Address line 1</th>
                <th>Address line 2</th>
                <th>financial year start month</th>
                <th>
                financial year start Day </th>

                <th>Action</th>

              </tr>
            </thead>
            <tbody>
                
              <tr *ngFor="let schema of Schemas;let i = index">
                <td>{{ i + 1 }}</td> 
                <td>{{ schema.name }}</td>
                <td>{{ schema.country }}</td>
                <td>{{ schema.state }}</td>
                <td>{{ schema.industry_type }}</td>
                <td>{{ schema.address_line1 }}</td>
                <td>{{ schema.address_line2 }}</td>
                <td>{{ schema.financial_year_start_month }}</td>
                <td>{{ schema.financial_year_start_day }}</td>

                
                <td class="text-center">
                  <button
                    mat-fab
                    color="primary"
                    *ngIf="showEditBtn"
                    (click)="openEditModal(schema)"
                    style="transform: scale(0.7); margin-right: 6px;"
                  >
                    <mat-icon style="color: white;">draw</mat-icon>
                  </button>
              
                  <mat-checkbox *ngIf="Delete" [(ngModel)]="schema.selected"></mat-checkbox>
                </td>
              </tr>
          
            </tbody>
          </table>
          </div>


               <!-- Edit Modal -->
<div *ngIf="isEditModalOpen" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col-md-10">
        <h2>Edit  Company</h2>
      </div>
      <div class="col-md-2">
        <span class="close pull-right" (click)="closeEditModal()">&times;</span>
      </div>
    </div>
    <hr />
  
    <form>
      <div class="row">
           


        <div class="col-md-6" >
                       
            <label>Company Name </label>
           <input type="text"  class="form-control" required  [(ngModel)]="editAsset.name"  placeholder="Enter Company  Name "
            [ngModelOptions]="{standalone: true}" [ngClass]="{'error-field': registerButtonClicked && !name}">
           
           <div *ngIf="registerButtonClicked && !name" class="error-message">Name is required.</div>
        </div>
        
        <div class="col-md-6">
        
        
            <div class="custom-sel">
                <label>Country</label>
                <select class="form-control" id="country" (change)="onCountryChange()" required [(ngModel)]="editAsset.country"  [ngModelOptions]="{standalone: true}"  >
                    <option value="" >Select</option>
                    <option *ngFor="let user of countries" [value]="user.id">{{ user.country_name }}</option>
                </select>
               
            </div>
                        
        
        
               
               
            
        </div>

           <!-- Dynamic State Section -->
           <div class="col-md-6" *ngIf="states && states.length > 0">
            <div class="custom-sel">
              <!-- Dynamically displaying the state_label from the API response -->
              <label>{{ state_label }}</label>
              <select class="form-control" id="state" required [(ngModel)]="editAsset.state" (ngModelChange)="onStateChange($event)" [ngModelOptions]="{standalone:true}">
                <option value="">Select</option>
                <option *ngFor="let state of states" [value]="state.id">{{ state.state_name }}</option>
              </select>
            </div>
          </div>
          
        
        <div class="col-md-6">
        
        
            <div class="custom-sel">
                <label>Industry Type</label>
                <select class="form-control" id="country" required [(ngModel)]="editAsset.industry_type"  [ngModelOptions]="{standalone: true}"  >
                    <option value="" >Select</option>
                    <option value="IT" >Information Technology</option>
                    <option value="HC" >Healthcare</option>
                    <option value="FIN" >Finance</option>
                    <option value="EDU" >Education</option>
                    <option value="MFG" >Manufacturing</option>
                    <option value="RET" >Retail</option>
                    <option value="OTH" >Other</option>
        
        
        
                </select>
               
            </div>
                        
        
        
               
               
            
        </div>
        
        <div class="col-md-6">
            <label>Address Line 1</label>
            <textarea class="form-control" placeholder="enter address" [(ngModel)]="editAsset.address_line1"  [ngModelOptions]="{standalone: true}"  >
        
            </textarea>
        </div>
        
        <div class="col-md-6">
            <label>Address Line 2</label>
            <textarea class="form-control" placeholder="enter address" [(ngModel)]="editAsset.address_line2"  [ngModelOptions]="{standalone: true}"  >
        
            </textarea>
        </div>
        
        <div class="col-md-6">
            <label>financial year start month</label>
            <input type="number" class="form-control" [(ngModel)]="editAsset.financial_year_start_month"  [ngModelOptions]="{standalone: true}"  placeholder="enter start month"  >
        </div>
        
        <div class="col-md-6">
            <label>financial year start day</label>
            <input type="number" class="form-control" [(ngModel)]="editAsset.financial_year_start_day"  [ngModelOptions]="{standalone: true}"  placeholder="enter start month"  >
        </div>
        
        <div class="col-md-6">
            <label for="logo">Company Logo:</label>
            <input type="file" class="form-control" id="logo" name="logo" (change)="onFileSelected($event)">   
            </div>
        
        
    
        
        
         
        
        
                </div>
      <div class="row" *ngIf="hasAddPermission">
          <div class="col-md-8">
  
          </div>
  
           <div class="col-md-2">
             <button type="button" class="btn-Create btn-full mt-5 btn-danger btn" (click)="closeEditModal()">Cancel</button>  
           </div>
  
          <div class="col-md-2">
              <button type="button" class="btn-Create btn-full mt-5 btn-success btn" (click)="updateCompany()">Save</button>  
           </div>
  
           
      </div>
  </form>
  
  
  
  </div>
  </div>
  

</div>
</div>



